[2019-03-12 17:00] williewillus opened #1 "API thread safety"
Hey! Saw this posted on discord and the API looks pretty modern and clean, so I'm evaluating replacing Baubles with this in Botania 1.13.x.

One thing I noticed is that [this method](https://github.com/TheIllusiveC4/Curios/blob/master/src/main/java/top/theillusivec4/curios/api/CuriosRegistry.java#L51) is encouraged to be called during `FMLCommonSetupEvent`, but that event dispatches in parallel, m

[2019-03-12 22:05] TheIllusiveC4 commented on #1
Ah right, good catch! I'll fix that. And if you have any other ideas/concerns, feel free to let me know. It'd be great if a mod as popular as Botania ended up using this API.

[2019-03-13 00:36] #1 closed

[2019-03-15 19:03] AlpherOut opened #2 "Crash Instanly"
The Game crashes instanly

[2019-03-16 00:00] TheIllusiveC4 commented on #2
Which Curios and Forge versions are you using? Do you have the crash logs?

[2019-03-16 21:47] AlpherOut commented on #2
Hi! I'm using the 1.13.2 Version of Forge and i tried the "newest" Version but it didn't work

[2019-03-16 21:53] AlpherOut commented on #2
only the "curios-1.13.2-0.r" worked for me.

[2019-03-16 21:54] AlpherOut commented on #2
and no i dont have the crash logs

[2019-03-17 05:26] SeanChengN commented on #2
@TheIllusiveC4 I have the crash log: https://paste.dimdev.org/cigayiyeyo.sql

[2019-03-17 10:33] AlpherOut commented on #2
I see but how can I or you fix it so I can use the newest Version?

[2019-03-17 20:28] TheIllusiveC4 commented on #2
@AlpherOut This is something that I need to address on my end, so just hang tight until I release an update.

[2019-03-17 20:31] AlpherOut commented on #2
Ok thanks :)

[2019-03-17 22:03] TheIllusiveC4 commented on #2
The 0.8 update should fix any crashing. At the very least, I can make it into the game with Forge 1.13.2-forge-25.0.79. Let me know if there are still issues and make sure to include the Forge version in your report.

@SeanChengN It doesn't seem like Curios is mentioned anywhere in that call stack, so I'm not sure if your crash is related to the mod.

[2019-03-17 22:03] #2 closed

[2019-03-18 18:17] AlpherOut opened #3 "Game crashes when opening up the menu of curios"
The Game crashed instantly when starting the game now it crashes when you open the menu of curios in your inventory.

[2019-03-18 21:30] TheIllusiveC4 commented on #3
Like I said before, please include more information in your bug reports. At the very least, I would like the Curios version, Forge version, and the crash log. Without that information, I'll have trouble resolving this.

I cannot reproduce this crash. Using Forge 25.0.88, I load up into the game and open the Curios menu just fine.

[2019-03-19 17:31] AlpherOut commented on #3
Ok, here i will hand you the information:
-the newest 1.13.2 Curios Version
-Forge 1.13.2
-there is not a crash log it just stops the game and says that the game crashed,

That's all i can hand you.

[2019-03-19 18:34] TheIllusiveC4 commented on #3
Another tip is to provide exact version numbers when making bug reports, not just the Minecraft version. Forge's latest version is 25.0.88 and I have no idea if you're using that or something older so you'll have to be specific. Same for the mod version. This is especially important since Forge 1.13.2 is in beta right now and every version could have important updates/changes.

There is almost cer

[2019-03-29 06:34] ProsperCraft opened #4 "Single player crash when starting a new world. NPE - Ticking memory connection"
Crash
https://gist.github.com/ProsperCraft/026e81fa7a27388f63a836cd480aa277
Log
https://gist.github.com/ProsperCraft/018f6e4ae36b2068038ffcba75509a26

[2019-03-29 07:27] TheIllusiveC4 commented on #4
Sorry, I can't reproduce this issue. I start a new world and everything works fine, no crashes.
Is this repeatable for you? Can you list your versions and your steps exactly?
Is this repeatable without any other mods present?

[2019-03-29 08:03] TheIllusiveC4 commented on #4
This is caused by ArtemisLib.

[2019-03-29 08:03] #4 closed

[2019-03-29 15:13] CammiePone commented on #4
Can I request a mod list? From everything we've been able to tell, including from other modders, we've done everything right, so I'd like to double check that it is ArtemisLib's fault.

[2019-03-29 21:37] TheIllusiveC4 commented on #4
I can reproduce the crash with just:
ArtemisLib 1.13.2-1.0.3
Curios 1.13.2-0.9
Forge 1.13.2-25.0.100

So it's either an ArtemisLib issue, a Curios issue, or a Forge issue. I've stated what I think is the problem in the issue I opened on the ArtemisLib repo, but it's entirely possible that something else is going on that I've overlooked.

[2019-03-29 21:47] TheIllusiveC4 commented on #4
It should be noted that there's an issue on CarryOn's repo with the same crash behavior: https://github.com/Tschipp/CarryOn/issues/161

There's no full mod list but the list of resources loaded in the crash log shows ArtemisLib is loaded but Curios is not, isolating the problem further.

[2019-03-29 22:16] CammiePone commented on #4
Aye, we've verified that this is an ArtemisLib issue. Xzero found a way to fix it, and is currently working on some other tweaks to the 1.13 build of ArtemisLib.

[2019-04-06 03:21] TheIllusiveC4 commented on #3
@AlpherOut Can you provide the information that I requested above?

[2019-04-14 05:33] Dragnier commented on #3
I found that clicking the Curios button in the inventory with Cosmetic Armor Reworked loaded will cause a crash. Maybe they have that mod as well?

Curios: 0.10
Forge: 25.0.141
MC: 1.13.2

Crashlog: https://gist.github.com/Dragnier/1082e2ef2672199a79097a5d7103c27a

[2019-04-14 06:37] TheIllusiveC4 commented on #3
@Dragnier Unfortunately, I can't reproduce that either. I've loaded up Forge 25.0.141 and Cosmetic Armor Reworked, Silent's Gear (with Silent Lib), and Curios and everything works perfectly. I can click all of the buttons as normal and they function as expected.

I appreciate the inclusion of the crash log, but in this particular instance it only makes things more confusing.  It says that the netw

[2019-04-14 11:31] Dragnier commented on #3
My steps:

1. Load a world.
2. Immediately after joining open inventory.
3. Press Curios button in the top left.

Given that I never tried each set more than once, it could be a random error linked to timing. I'll check again later today. Might actually not matter what mods are loaded and only happen with curios if the button is pressed to quickly after world join.

[2019-04-14 13:34] Dragnier commented on #3
So, I tried again and did not get a crash with a new world. However, after closing minecraft and re-opening the same world to repeat the steps above, the curios menu is empty despite the various curios mods being loaded. Basically, I think it relates to timing somehow because I did the steps above as quickly as possible.

![Curios Bug](https://user-images.githubusercontent.com/19270499/56093560-4c

[2019-04-14 19:07] TheIllusiveC4 commented on #3
Was it not empty before you closed Minecraft in this step?

At any point, were there any error logs popping up in the console?

My best guess here, based on your description, is that some initializations are skipped for some reason only sometimes. The initial crash problem would occur if the network registration was skipped and your current problem with the Curios menu being empty sometimes would

[2019-04-14 19:38] Dragnier commented on #3
It was not empty the first time.
There were no errors that I saw.
I'll check on a straight forge install without Twitch and let you know.

[2019-04-14 22:12] Dragnier commented on #3
It seems that it may be a Twitch App issue. I just tried about 10 times to reproduce with a straight forge install and none of these issues occurred. If you watch when you hit play inside of Twitch, it says applying patch 1 of 5 through 5 of 5 before it starts the Minecraft launcher. This may be where things are getting messed up as it is the only difference between the installs. I wonder if Forge

[2019-04-14 22:29] TheIllusiveC4 commented on #3
I have no idea, a lot of the back-end stuff involving launchers is a complete mystery to me. We can only hope that it will be resolved eventually somehow.

I'll be closing this issue for now as the OP has failed to follow up on the original issue and your similar issue seems to be most likely caused by the Twitch launcher in some capacity.

[2019-04-14 22:29] #3 closed

[2019-04-17 11:39] NightmareTwilight opened #5 "(Eclipse dev environment)Error on loading"
While trying to load curios v0.10 on eclipse I get an error during the load_registries event phase, field_78040_i, to be specific. this is with Forge 25.0.141. I also tried with regular minecraft launcher, which got no errors.

log:
[latest.log](https://github.com/TheIllusiveC4/Curios/files/3089381/latest.log)

[2019-04-17 14:34] TheIllusiveC4 commented on #5
How are you adding it to your workspace?

[2019-04-17 15:22] NightmareTwilight commented on #5
In the run/mods, referenced in mods.toml as well as in build.gradle

[2019-04-17 16:15] TheIllusiveC4 commented on #5
Wait, all of those at once? The buildscript and the mods.toml are fine (except double-check it because you made a typo, it's `top.theillusivec4.curios`), but don't put it in the run folder.

[2019-04-18 16:42] CrimsonTyphon commented on #5
The thing is that it says it’s not installed otherwise, though I’m not sure why.

[2019-04-18 19:28] TheIllusiveC4 commented on #5
Then something's wrong with your workspace. Try regenerating your run configurations, or even rebuilding your workspace entirely. I've made 3 different mods using Curios 0.10 so I know for a fact that it does work without needing to put it in your run folder.

[2019-04-26 19:13] RobertSkalko commented on #5
I have the same error when starting in eclipse. I'm using forge 191 and i did compile "top.theillusivec4.curios:curios:${version_curios}" because it wouldn't do the deobf.

I just tried again and this is what happens on deobf

Could not resolve: top.theillusivec4.curios:curios:1.13.2-0.10
Could not resolve: top.theillusivec4.curios:curios:1.13.2-0.10_mapped_snapshot_20180921-1.13

I'm unsure if th

[2019-04-26 20:19] TheIllusiveC4 commented on #5
@RobertSkalko Can you post your `build.gradle` file?

[2019-04-26 20:30] RobertSkalko commented on #5
Why just the gradle, here's a whole project

https://github.com/RobertSkalko/Mine-and-Slash-1.13

[2019-04-26 20:33] TheIllusiveC4 commented on #5
I'm still testing things on my end, but I think some things got updated in ForgeGradle that I didn't know about. Try using `compile fg.deobf("top.theillusivec4.curios:curios:${version_curios}")` instead.

[2019-04-26 20:36] RobertSkalko commented on #5
same thing, could not resolve

[2019-04-26 20:56] TheIllusiveC4 commented on #5
Hm, strange, it resolves fine on my end.

[2019-04-26 21:11] TheIllusiveC4 commented on #5
I'm honestly pretty stumped here, since I can't find anything that should be wrong. It seems like that last error is due to not being able to find the version number, but that should be a valid number. And I don't have enough expertise in Gradle to parse it any deeper. Can you try adding another dependency, like JEI? Just to figure out if it's just Curios for some reason or it's all dependencies.

[2019-04-26 21:31] RobertSkalko commented on #5
post some deobf deps if you want me to test them. I tried jei and it didn't work but i'm not sure if it's cus i fked up

`dependencies {
  compileOnly fg.deobf("mezz.jei:jei-${version_minecraft}:5.0.0.18:api")
  runtimeOnly fg.deobf("mezz.jei:jei-${version_minecraft}:5.0.0.18")
}`

(along with copy pasted maven)

[2019-04-26 22:11] TheIllusiveC4 commented on #5
Using those exact lines of code, I'm able to resolve the dependencies, so I think it's something on your end (but I'm not sure what the issue could be). Note that there was some weirdness going on with the "https://modmaven.k-4u.nl" fallback maven for JEI so I had to remove that first and keep only the primary repo to get it working on my end.

[2019-04-27 07:14] RobertSkalko commented on #5
This time it worked when i removed that as you said

repositories {
  maven {
    // location of the maven that hosts JEI files
    name = "Progwml6 maven"
    url = "https://dvs1.progwml6.com/files/maven/"
  }
}

 dependencies {
  /* minecraft dependency is here */

  // compile against the JEI API but do not include it at runtime
  compileOnly fg.deobf("mezz.jei:jei-${version_minecraft}:5.0.0.20

[2019-04-27 10:02] TheIllusiveC4 commented on #5
Can you try using this build.gradle: https://gist.github.com/TheIllusiveC4/c54721874bc285333c39ef9567c531a9

It's the same one from your project but I've removed all other dependencies and repositories except for Curios and this makes it resolve for me. It's obviously not really a solution, but I'm interested to see if this makes it work for you.

[2019-04-27 10:27] RobertSkalko commented on #5
Apparently it works like that

[2019-04-27 10:35] TheIllusiveC4 commented on #5
Then my best guess is that ForgeGradle is having a hard time deobfuscating multiple repositories for some reason, which is why trimming it down to only one works. Unfortunately this would mean that a proper resolution is out of both of our hands until that's fixed.

[2019-04-27 10:43] RobertSkalko commented on #5
i just tried adding my other deps back in and it seems to work too.. This makes 0 sense to me but thanks at least it works now. Though eclipse still won't run the dam project and gives java.lang.IllegalStateException: Duplicate key net.minecraftforge.fml.loading.moddiscovery.ModFileInfo@70e29e14 but i don't think that's your problem. Sorry about the bother!

[2019-04-27 11:11] RobertSkalko commented on #5
Welp, i just deleted gradle cache and ran again and it now doesn't work again. Can you please get another person to try it?

[2019-04-27 20:00] TheIllusiveC4 commented on #5
Are you able to get it working again if you do what I did before and remove the other dependencies/repositories? It's possible that deleting the gradle cache forced it to collect all of the files again which it might have a hard time doing correctly with multiple dependencies/repositories present.

I'll see if I can get someone else to test it.

This will be an issue with other mods as well, not j

[2019-04-28 08:28] TheIllusiveC4 commented on #5
@RobertSkalko
With the new 0.11 update, I've also published the deobfuscated jar using the 20190428-1.13.2 mappings. You just have to use `compile "top.theillusivec4.curios:curios:1.13.2-0.11:deobf"` and it should at least resolve correctly. If it errors again at runtime, just make sure the mappings match.

[2019-04-28 08:47] RobertSkalko commented on #5
thanks that seems to work! i'll have to first fix the forge's java.lang.IllegalStateException: Duplicate key error before i can test it in IDE. think i'll try switching to intelij cus i heard it has less errors. I'll report if it runs in IDE or not but i assume it should

[2019-04-28 09:16] RobertSkalko commented on #5
Just imported it in intelij and it works! no more field error.

[2019-04-29 06:01] TheIllusiveC4 commented on #5
Closing this since a resolution has seemingly been reached. An overall rundown to those experiencing similar issues:

At this time, ForgeGradle dependency management is a little bugged. `compile fg.deobf("top.theillusivec4.curios:curios:${version_curios}"` is the technically recommended way, but it looks like it doesn't work all the time. If it doesn't work, use `compile "top.theillusivec4.curios:

[2019-04-29 06:01] #5 closed

[2019-05-08 13:06] RobertSkalko opened #6 "A few Crashes.."
I have a bag that opens an inventory, not a curio item. Game crashes when i right click it. (i just tested it outside IDE and same crash)

https://hastebin.com/usirudevuk.cs

This one rarely happens on clicking G to open the curio inventory in IDE

https://hastebin.com/wewuduvise.cs

There's also a random error when mousing over curio items, it's like 50% chance that when i start the game (in IDE)

[2019-05-08 21:09] TheIllusiveC4 commented on #6
I don't think any of these crashes are due to Curios.

The first crash happens when some capability returns null from the dispatcher. I'm not sure I was able to find all of the capabilities in your workspace, but I didn't see anything that wasn't already using `LazyOptional.empty()` so that's a strange issue.

The second crash is happening due to network registration not initializing. I don't know

[2019-05-09 08:12] TheIllusiveC4 commented on #6
Follow our discussion on Discord, I'll be closing this issue for now as I don't think Curios is the cause. If new information about the situation comes to light, let me know and I'll re-open/re-investigate.

[2019-05-09 08:12] #6 closed, assigned to TheIllusiveC4

[2019-05-09 08:58] RobertSkalko commented on #6
Ok. just wanna add that i just now removed curios and my bags all work fine. So the first issue shouldn't be some problematic bag code on my end.

[2019-07-17 17:24] ProsperCraft opened #7 "[1.14.3] Player kicked when logging in"
#### Versions (Be specific, do not write "latest"):
* Curios: curios-FORGE-1.14.3-0.17
* Forge: forge-1.14.3-27.0.53
Modpack- https://www.curseforge.com/minecraft/modpacks/the-adventures-of-halk version .061

#### Steps to Reproduce:
The player says -
I placed a silent gem's obsidian pillars and placed six different mine/slashs unique pieces(including some curios) to use as a display, left the reg

[2019-07-18 02:03] TheIllusiveC4 commented on #7
Do you have a reason to suspect this is Curios? I don't see anything leading to this mod from the stacktrace.

[2019-07-18 03:21] ProsperCraft commented on #7
NPE from curios.OnCurioChangEvent onEquipCurioChange ?

[2019-07-18 03:59] TheIllusiveC4 commented on #7
That is not from my mod, it just subscribes to an event that I post. The whole package is `com.mmorpg_libraries.curios.OnCurioChangEvent`, so you're looking for a mod that has the modid `mmorpg_libraries` or something similar. There's also another NPE from an assumed unrelated listener `ovh.corail.tombstone.event.EventHandler` further down the list, so I suspect that there's something else going o

[2019-07-18 03:59] #7 closed

[2019-07-24 16:34] ProsperCraft opened #8 "[1.14.4] Unable to click curios in to their slots."
This used to work on 1.14.3 but quit working when I moved the 1.14.3 mod to 1.14.4 and had hoped the update would fix it, but the 1.14.4. version does it as well.

#### Versions (Be specific, do not write "latest"):
* Curios: curios-FORGE-1.14.4-0.18
* Forge:1.14.4 - 28.0.13

#### Steps to Reproduce:
1. Start a new world with Mine and Slash
2. scroll mouse wheel to the equipable items
3. right cli

[2019-07-25 18:43] ProsperCraft opened #9 "[1.14.4] Server crash -"
#### Versions (Be specific, do not write "latest"):
* Curios: curios-FORGE-1.14.4-0.18
* Forge: forge-1.14.4-28.0.14

#### Steps to Reproduce:
1. Start The Adventures of Halk pack, .3 on a server and client
2. open the curious slots.

...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
https://gist.github.com/ProsperCraft/c6195525e3b5da585be9212735c348cd

[debug.log](ht

[2019-07-25 18:51] ProsperCraft commented on #9
Reproduced here - https://paste.fedoraproject.org/paste/qyjg2o-Dr~Rn6aEbgrWtbw

[2019-07-25 19:13] ProsperCraft commented on #9
This was caused by the 1.14.3 version of Trashslot-https://paste.fedoraproject.org/paste/ZXshcTD9DdkgztkE1MU5Eg

Once removed, it resolved.

[2019-07-26 03:55] TheIllusiveC4 commented on #9
Likely an issue with TrashSlot then, as I don't see anything on my end that would cause this error. I'll re-open this if new information comes to light that this is caused by Curios.

[2019-07-26 03:55] #9 closed

[2019-07-26 05:08] TheIllusiveC4 commented on #8
This is because Forge no longer fires the `PlayerInteractEvent.RightClickItem` event server-side in 1.14.4, leaving the Curios handler nothing to hook into. We'll have to wait for that issue to be addressed in Forge before this can be fixed, which will likely not require any effort on my part if it's a simple regression.

[2019-07-30 21:45] Extegral opened #10 "Plea for help"
I am trying to add your lib to my project, and it just doesn't work. I followed the tip at the end of api's description on CurseForge and tried to add given code, but after running gradlew build/runClient/somethingelse it doesn't seem to be able to find the api. This is the output I got in the console, something very wrong apparently: [Click](https://imgur.com/lxzLWIT)

I actually managed to add i

[2019-07-30 22:16] TheIllusiveC4 commented on #10
Show me your `build.gradle` file.

[2019-07-31 20:27] Extegral commented on #10
I've actually managed to get it to work after another hour of tortures yesterday - by reading through [this issue](https://github.com/TheIllusiveC4/Curios/issues/5) and copying few strings from the build.gradle file you fixed for the guy there.
But I don't quite understand how it works, nor I know how to add dependency on a specific jar file on my hard drive rather than adding a repositories and s

[2019-08-01 01:30] #10 closed

[2019-08-01 01:51] TheIllusiveC4 commented on #10
So, I'll try to explain it the best I can from the top, so apologies if you know some of this already. If you want to add a dependency, there are a few ways to do it.

One way is through repositories. These can be local or remote, but you'll generally probably be dealing with remote repositories. These will require you to put a repository code block in your `build.gradle`, like so:

[code]

Of cou

[2019-08-03 14:39] TheIllusiveC4 commented on #8
This is fixed as of Forge 1.14.4-28.0.34.

[2019-08-03 14:39] #8 closed

[2019-08-11 15:07] Extegral opened #11 "Vanishing items"
#### Versions:
* Curios: curios-FORGE-1.14.4-0.21
* Forge: forge-1.14.4-28.0.45
#### Observed Behavior:
While exiting out of The End through vanilla portal, any items equipped in Curio slots are wiped out of existence, leaving you with empty slots.  This doesn't happen when you get into The End or into/out of other dimensions.
Only tested in singleplayer.
#### Expected Behavior:
They must not be w

[2019-08-12 01:27] #11 closed

[2019-08-15 16:07] stashymane opened #12 "Curios throws an exception at startup, but not always?"
#### Versions:
* Curios: 0.22
* Forge: 28.0.46
####
Curios throws an exception before the title screen. I used to be able to solve this by starting the game with only Curios and mods dependent on it installed and only then installing other mods, however that no longer works. Sometimes this exception is accompanied by another mod's exception, like, in this case, the shulker boxes addon. The only mo

[2019-08-18 03:27] TheIllusiveC4 commented on #12
I was able to reproduce this somewhat, but it's a difficult issue to try and address considering its random nature. Regardless, I've tried to fix this in version 0.23. I haven't encountered the issue anymore after repeatedly starting up Minecraft, but again, it's hard to tell if it's been fully addressed. Please try out Curios version 0.23 and tell me if you're still encountering the startup error

[2019-08-22 17:54] stashymane commented on #12
Still happens with the rest of my mods on. Any other mod installed beside Curios and it's addons causes this.
[crash.log](https://github.com/TheIllusiveC4/Curios/files/3531340/crash.log)

[2019-08-23 02:53] TheIllusiveC4 commented on #12
How consistently does this occur?
Is it only Curios crashing or is it the same behavior as before where the addons may crash as well?
Does it not happen if it's only Curios and its addons?

[2019-08-23 05:24] #12 closed

[2019-08-23 05:26] TheIllusiveC4 commented on #12
Okay, made another attempt at this. Please try out Curios version 0.24 and tell me if you're still encountering startup errors. Note that you might still see startup crashes from the add-ons or any of my other mods, but the focus should be on if Curios itself crashes.

[2019-08-23 09:54] stashymane commented on #12
Most of the time the crash does not happen on first startup anymore, instead on the 2nd launch of the game. It crashes with only Curios and it's addons installed about half the time, however when it crashes once it will not stop crashing no matter what until I remove it all. Somehow gets fixed after a few tries and fiddling with my mod list (removing everything then adding it back, removing curios

[2019-09-07 14:21] Shazuli opened #13 "[1.14.4] [QUESTION] Render (+ usage)"
***Hi***

I got my Curio slots working fine and marked a few random items to be placed there. But I'm having issues with creating a new Curio vanity item that should render a texture on the player's head (mask).

<details>
 <summary>ItemMask</summary>

[code]
</details>

I tried to just make it spam the console, but as that doesn't seem to happen I must've missed something.

[2019-09-07 19:45] TheIllusiveC4 commented on #13
Don't implement `ICurio` directly on your item, use a capability provider to attach an implementation. Like this:
https://github.com/TheIllusiveC4/Curios/blob/90d3fc8baeb7cad9c6f063119c624fa14c814dc4/src/main/java/top/theillusivec4/curios/common/item/ItemAmulet.java#L45-L86

Ignore the fact that the item also implements `ICurio`, that's some legacy code.

You don't need to use `CapCurioItem#create

[2019-09-07 19:45] #13 closed

[2019-09-07 21:32] Shazuli commented on #13
Thanks. Something I wonder though is how I make it run on a server. Whenever I try and join an account and I spawn in my item I get disconnected.
`java.lang.RuntimeException: Attempted to load class net/minecraft/client/renderer/entity/model/EntityModel for invalid dist DEDICATED_SERVER`

<details>
 <summary>ItemMask</summary>

[code]
</details>

<details>
 <summary>ModelMask</summary>

[code]
</d

[2019-09-07 22:21] TheIllusiveC4 commented on #13
That's because you're trying to load `ModelMask` server-side even though it's a client-only class. There are a few ways to avoid loading it server-side. You can do what I did (it's in the code above), which is to declare it as a generic `Object` object and then initialize it to the right instance in the `doRender` method. Alternatively, you can add `@OnlyIn(Dist.CLIENT)` annotations to your `Model

[2019-09-08 18:33] Shazuli opened #14 "[1.14.4] Creative Flight model transformation displacement"
#### Versions (Be specific, do not write "latest"):
* Curios: FORGE-1.14.4-0.24
* Forge: 28.0.49
#### Observed Behavior:
![curios_bug1](https://user-images.githubusercontent.com/9884180/64492664-9c31e400-d276-11e9-82fb-51b9de6c39c5.gif)
#### Expected Behavior:
Not do that.
#### Steps to Reproduce:
Any item that renders something on the body will become displaced due to the sneak animation not play

[2019-09-08 21:12] #14 closed

[2019-09-09 15:44] Shazuli opened #15 "[1.14.4] Client-Server-Client desync + question"
#### Versions (Be specific, do not write "latest"):
* Curios: FORGE-1.14.4-0.25
* Forge: 28.0.49
#### Observed Behavior:
When a player has logged out and then in again other player's rendered accessories do not show until they have updated the item manually.

![curios_bug2](https://user-images.githubusercontent.com/9884180/64544748-cee7e500-d327-11e9-9ef5-082163b813eb.gif)

#### Expected Behavior:

[2019-09-09 22:23] TheRealM18 opened #16 "Deobf Broken in 25"
#### Versions (Be specific, do not write "latest"):
* Curios: 25
* Forge: 101
#### Observed Behavior: Crashed
#### Expected Behavior: Not to crash
#### Steps to Reproduce:
1. try using 25 in dev enviroment in 101 in single player
2.
3.
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
https://pastebin.com/CXCSMNCe

[2019-09-10 00:12] TheIllusiveC4 commented on #16
This is because you're using different mappings in your development environment. In order to use any deobfuscated file, the mappings need to match. The mappings for version 0.25 are from MCP 20190901-1.14.3.

That being said, you really shouldn't be using the deobf file. Otherwise, your build might break whenever either of us update our mappings. It's only provided in case it's needed for whatever

[2019-09-10 00:12] #16 closed

[2019-09-10 00:15] TheIllusiveC4 commented on #15
I'll look into the desync.

As for the question, I don't do anything to combat Z-fighting. That's entirely based on your model and how you render it. Can you not just scale your model up a little bit so that it isn't lined up to the player model?

[2019-09-10 07:41] Shazuli commented on #15
Oh, I didn't notice you could have the scale factor be fractions, I thought it could only have whole numbers like the size arguments. Thanks!

[2019-09-13 07:14] #15 closed

[2019-09-21 14:06] Extegral opened #17 "[1.14.4] Equipped items vanishing in Creative"
#### Versions:
* Curios: FORGE-1.14.4-1.0
* Forge: 28.1.1
#### Observed Behavior:
I've made a short video with demonstration of this issue. Hope it explains all well:

https://www.youtube.com/watch?v=WnoKJsv_l0g

Heart of Creation enables creative flight for player, and it's automatically disabled one time in LivingTick event when that item is removed from player's Curios slots. It the video, it w

[2019-09-21 23:38] EnderDude124 opened #18 "Crashes upon loading world with xerc0's music maker mod"
#### Versions):
* Curios: curios-FORGE-1.14.4-1.0
* Forge: 1.14.4-forge-28.1.10
* xerc0's music maker Version 1.1
#### Observed Behavior: Minecraft Crashes upon loading any single player world.
#### Expected Behavior: Minecraft should load the world.
#### Steps to Reproduce:
1. Install Curios and [xerc0's Music Maker Mod](https://www.curseforge.com/minecraft/mc-mods/music-maker-mod)
2. Launch Mine

[2019-09-22 02:02] TheIllusiveC4 commented on #18
Unfortunately, this is not an issue on my end so there's little that I can do. That mod is not properly checking if the capability is the correct instance before casting it, so it throws an error when Curios tries to initialize but gets their implementation instead.

[2019-09-22 02:02] #18 closed

[2019-09-22 02:19] #17 closed

[2019-09-23 16:41] Extegral opened #19 "[1.14.4] Localization issue"
#### Versions:
* Curios: FORGE-1.14.4-1.0.0.1
* Forge: 28.1.14
#### Observed Behavior:
So, there is one small problem that I've found out while working on Russian localization for my mod, when I decided to make one for Curios, too. It lies in EventClientHandler's onTooltip method, in this line:
[code]
The way it is implemented does not allow to localize the identifier, and so any trinket type will

[2019-09-23 22:19] FizixInt opened #20 "Not sure if bug or me"
I'm trying to integrate Curios into my mod. I'm not sure if there is a bug, a problem or if it's something I'm going wrong.

I'm running Minecraft 1.14.4, on Forge 28.1.0

I've created 2 curio slots "neck" and "ring", these display in the UI nicely. I've also created custom ring items and their json's. hese rings are accepted into the Curios ring slot.

In my ringItem class, I have an onCurioTick

[2019-09-24 00:10] TheIllusiveC4 commented on #20
Do not implement the `ICurio` interface directly. It's meant to be used as a capability. See my comment here: https://github.com/TheIllusiveC4/Curios/issues/13#issuecomment-529141367

[2019-09-24 00:10] #20 closed

[2019-09-24 05:10] TheIllusiveC4 commented on #19
You raise a good point. I'll change it to require specific keys in the form of `curios.modifiers.<identifier>`.

[2019-09-24 05:14] #19 closed

[2019-10-05 20:04] Gbergz opened #22 "[1.14.4] Mined a block in the Nether and crash."
#### Versions (Be specific, do not write "latest"):
* Curios: 1.0.0.3
* Forge: 28.1.20
#### Observed Behavior:
Mining an Ore in the nether (on a server)
#### Expected Behavior:
Mining as normal, ofcourse.
#### Steps to Reproduce:
1. Enter the nether
2. Mine an ore (dunno if its a specific ore)
3. Crash
...

Crash Log: Please use a paste site like [GistGithub](https://gist.github.com/Gbergz/c270def

[2019-10-05 22:02] TheIllusiveC4 commented on #22
I believe this is an Enigmatic Legacy issue and you should report it to them. Rather than mining, the issue seems to stem from experience drops. I believe this is crashing because Enigmatic Legacy hooks into experience drops [here](https://github.com/Extegral/Enigmatic-Legacy/blob/2ac2957665562979371bc3fe0cb04e7ef5259216/src/main/java/com/integral/enigmaticlegacy/handlers/EnigmaticEventHandler.jav

[2019-10-05 22:02] #22 closed

[2019-10-12 21:55] Extegral opened #23 "[1.14.4] Missing attribute modifiers"
#### Versions:
* Curios: FORGE-1.14.4-1.0.2
* Forge: 28.1.39
#### Observed Behavior:
Whenever the player dies with **keepInventory** gamerule set to true and having any curios that provide attribute modifiers, those modifiers are not applied to them after respawning. Re-equipping the curio fixes it.
#### Expected Behavior:
Properly update attribute modifiers upon respawn.
#### Steps to Reproduce:

[2019-10-13 03:59] #23 closed

[2019-10-13 06:11] Drunkender opened #25 "[1.14.4] Crash on mod load"
#### Versions (Be specific, do not write "latest"):
* Curios: 1.0.2.1
* Forge: 28.1.44
#### Observed Behavior: Crash on startup
#### Expected Behavior: Run minecraft
#### Steps to Reproduce:
1. Install curios API
2. Run Minecraft
3. Crash

There are no other mods installed in this instance.

[Crash Log](https://hastebin.com/qowaribafa)

[2019-10-13 06:15] Drunkender commented on #25
Never mind somthing was wrong with that minecraft instance for some reason. Derp.

Installed in fresh instance no error.

[2019-10-13 06:15] #25 closed

[2019-10-28 20:20] comp500 opened #28 "[1.14.4] /clear command doesn't clear Curios"
#### Versions (Be specific, do not write "latest"):
* Curios: 1.14.4-1.0.5
* Forge: 1.14.4-28.1.70

#### Observed Behavior:
When I use /clear with a Curious Ring equipped, it says "No items were found on player comp500".

#### Expected Behavior:
/clear should remove the Curious Ring from my inventory.

#### Steps to Reproduce:
1. Add `createCurios = ["ring"]` to the curio-common.toml config
2. Cre

[2019-10-28 22:19] Extegral commented on #28
No. Don't do this. Don't take away that one method to clear inventory without all the curios being obliterated along. I would be very sad.

Although instead of keeping it as is, I would've offered to make the command clear everything, but the "destroy item" slot in creative inventory leave curios when Shift-clicked. Alternatively, it could be left as is, but with addition of new command to clear c

[2019-10-28 22:58] TheIllusiveC4 commented on #28
@comp500 There's a command specific to Curios `/curios clear player [slot]`. Would that be good enough? Like mentioned above, I'm a little hesitant to remove all methods to specifically clear just the inventory or clear just the curios.

[2019-10-28 23:04] comp500 commented on #28
I see what you mean, I just expected `/clear` to clear the entire inventory and was surprised when it didn't. It's not an issue for me to have to use the specific command - I was just testing whether my mod worked properly when the curio was removed.

[2019-10-28 23:04] #28 closed

[2019-11-02 19:07] Erfurt92 opened #31 "[1.14.4] Missing Recipe Book"
Not sure if this is a bug, oversight or if it's meant to be this way. But whenever I open the Curio inventory the Recipe Book disappears. I assume it's a bug/oversight, if not maybe it's something that could be added?

[2019-11-10 11:13] apace100 opened #32 "Make picked item stack not drop when clicking Curios inventory button"
**Please describe the new feature or change.**
The picked item stack should not drop out of the inventory when clicking the button to open the Curios inventory screen.

**Please describe why you want this feature.**
Occasionally, players might want to equip a Curio and then realize that the Curios inventory wasn't open, which leads to them trying to click the button to open that screen. It works,

[2019-11-10 13:46] Extegral commented on #32
I haven't even thought about that before, but that would be really quite useful. Hope @TheIllusiveC4 will implement this.

[2019-11-11 01:54] TheIllusiveC4 commented on #32
Spent some time trying to figure out a way to get this to work. Unfortunately, Minecraft really doesn't want players to carry over stacks to different GUIs. I tried some workarounds but none of them worked right, so this probably won't be implemented.

[2019-11-11 10:15] apace100 commented on #32
It's definitely trickier than I expected. I managed to create a working workaround, however it seems very hacky. There's definitely room for improvement.

It basically saves the held item stack in a variable both on the server and the client before it changes the GUI, sets the held stack to empty (such that the inventory doesn't drop the item when closed) and then restores the object both client-

[2019-11-11 19:18] TheIllusiveC4 commented on #32
Alright, I took a slightly different approach but I've got it working. There's just a slight visual flicker when moving from the Curios GUI to the vanilla GUI that I'd like to see if I can fix first.

[2019-11-13 00:04] WenXin20 opened #33 "Curio Button Reposition Config Option"
**Please describe the new feature or change.**
- A config option to move the Curio Button to another corner of the player preview box.

**Please describe why you want this feature.**
- Currently, the mod Pokecube AIO also places a button in almost the exact same spot, which makes it difficult to click on either button

![2019-11-11_19 45 36](https://user-images.githubusercontent.com/12000593/68721

[2019-11-13 04:38] #32 closed

[2019-11-13 04:38] #33 closed

[2019-11-16 05:56] ItsTheBdoge commented on #31
#34

[2019-11-20 04:31] WenXin20 opened #35 "JEI Item List is moved on the wrong side"
#### Versions (Be specific, do not write "latest"):
* `Curios: v1.0.5.3`
* `Forge: v28.1.90`
* `JEI: v6.0.0.25`
#### Observed Behavior:
- The JEI item list is moved unnecessarily on the right side, as seen in the image below.

#### Expected Behavior:
- Only the JEI Favorite item list should be moved on the left side.

#### Steps to Reproduce:
1. Install JEI
2. Open the Curios inventory
...

![2019

[2019-11-20 07:53] TheIllusiveC4 commented on #35
I can't reproduce this. It only ever applies to the left side for me.

Can you reproduce this with only Curios and JEI installed? Also, why does there not seem to be a Curios button on your inventory GUI?

[2019-11-20 15:59] WenXin20 commented on #35
It looks like the right side only does that on larger screen sizes, if I shrink my window size, jei moves back to the correct position.

Favorites side of jei does seem to be working.

As to why the curios button isn't there, I'm not sure why. It's in the top right corner, but invisible. I can still click on it too.

[2019-11-20 16:01] WenXin20 commented on #35
I'll try with only jei and curios next

[2019-11-20 16:15] WenXin20 commented on #35
After testing with only JEI and Curios, it looks like the JEI reposition bug still happens. The invisible button though looks to be a compatibility issue. I'll work on figuring out which mod causes the invisible button.
![2019-11-20_10 14 13](https://user-images.githubusercontent.com/12000593/69256099-8dbd4e00-0b7e-11ea-895d-040a840dc143.png)

[2019-11-21 05:39] WenXin20 commented on #35
Found out why the Curios Button was invisible.

It only happens if I install the mods [Animated Recipe Book](https://www.curseforge.com/minecraft/mc-mods/animated-recipe-button) and [Fast Workbench](https://www.curseforge.com/minecraft/mc-mods/fastworkbench).

For some reason, the Animated Recipe Book mod makes a recipe book appear in the Curios inventory, which seems to replace the Curios button,

[2019-11-21 05:40] WenXin20 commented on #35
As a side note, I just found out the reposition config also moves the button in the Creative Player Menu. This might need to be separated from the survival menu.

[2019-12-01 05:42] #31 closed

[2019-12-01 05:42] #35 closed

[2019-12-08 16:47] Serzh812 opened #36 "help"
can't do it [https://github.com/TheIllusiveC4/Curios/wiki/How-to-Use:-Users](url)
items are not inserted
perhaps a simple working example ?

[2019-12-08 21:15] TheIllusiveC4 commented on #36
I outline a simple working example using eggs in the wiki guide. You'll have to provide more details about what's not working and what you're trying to achieve. In addition, you'll need to show your config file and the data pack json files that you made.

[2019-12-09 15:53] Serzh812 commented on #36
slot there is-subject not insert
[https://mega.nz/#!ixd2hYBY!Nsj-pQoj0Id1mokKud9ioi-HAQOcGfnn6p7UUE_XDr4](url)

[2019-12-10 04:39] TheIllusiveC4 commented on #36
Your settings work for me.

It looks like your tag isn't being recognized on your end. Did you make sure that your folder structure is like `.minecraft/saves/(world-name)/datapacks/(datapack-name)/data/curios/tags/items`? And that `pack.mcmeta` is in the `(datapack-name)` folder?

[2019-12-10 05:35] Serzh812 commented on #36
all files in their places
p.s. installed portable minecraft
folder ".minecraft" is called "nativ...."

[2019-12-10 07:11] TheIllusiveC4 commented on #36
Are you sure the files are in the right places? Because your tag isn't being recognized and I saw that the way your folder was organized in the zip that you sent me above was incorrect. For instance, the `data` folder was inside the `datapacks` folder and not inside its own `(datapack-name)` folder. As long as the file structure is correct, your settings will work because they work for me. I can p

[2019-12-10 09:29] Serzh812 commented on #36
files created correctly?

[2019-12-10 09:31] Serzh812 commented on #36
submit your file structure

[2019-12-10 15:48] TheIllusiveC4 commented on #36
Your config files should be fine as long as you put them in the config folder, so I'll just send my version of the `datapacks` folder.
[datapacks.zip](https://github.com/TheIllusiveC4/Curios/files/3945748/datapacks.zip)

[2019-12-10 16:12] Serzh812 commented on #36
ОК
thank you very much

[2019-12-10 16:48] Serzh812 commented on #36
last question
how to insert any Jetpacks

[2019-12-10 19:58] TheIllusiveC4 commented on #36
You do the same thing you did with the wood jetpack. Put the item name in the `jack.json` item tag file. You'll need to do this for each jetpack.

[2019-12-10 20:22] Serzh812 commented on #36
thank you very much

[2019-12-10 20:22] #36 closed, assigned to TheIllusiveC4

[2020-01-06 22:11] ItsTheBdoge opened #38 "Adding a way to manage slot order"
**Please describe the new feature or change.**
Currently the order of which slot is first is based on alphabetical order, I would want a way to organize these.... maybe have it based on whats registered first or add a slot priority value to determine what the slots would be

**Please describe why you want this feature.**
![image](https://user-images.githubusercontent.com/19694786/71852666-e4370b00

[2020-01-11 04:53] TheIllusiveC4 commented on #38
This is something I'm eager to figure out, but it's a little tricky. It can't be based off what is registered first because mods aren't always loaded in the same order, which would cause the slot order to change unexpectedly. Implementing slot priority can get a bit messy as those values would be relative and may not end up with the result you want when you factor in other mods also implementing d

[2020-01-13 19:30] Duappy opened #39 "1.15.1 Bracelet Slot"
The Bracelet Slot is showing a missing texture in the 1.15.1 version.

[2020-01-13 21:35] ItsTheBdoge commented on #38
The section idea seems interesting but, in my opinion,  seems to be a bit limiting. Personally I feel a priority system would be the best for management. Could it be possible to have a priority system where a mod can register a slots priority but can be overwritten via config? config slot priority overwriting default slot priorities would correct the results when multiple mods are included

[2020-01-13 22:11] TheIllusiveC4 commented on #39
Do you mean the ring slot? Because there's no default bracelet slot texture unless something else provides it.

[2020-01-13 22:53] Duappy commented on #39
Ah, sorry about that then. Thank you for your response!

[2020-01-13 22:53] #39 closed, assigned to TheIllusiveC4

[2020-01-21 12:25] realTIMematrix opened #40 "[1.15.1] Can't close Curios Slots after Opening in some modes"
#### Versions (Be specific, do not write "latest"):
* Curios: curios-FORGE-1.15.1-2.0-beta.jar
* Forge: forge-30.0.41
#### Observed Behavior:
After open Curios Slots it is not possible to close this again. And also the tooltips of the slots are not shown. Also you can not put items in there
#### Expected Behavior:
No matter which Gui-Scale or Fullscreen on/off should close the slots or add some it

[2020-01-22 08:01] TheIllusiveC4 commented on #40
What launcher are you using?

[2020-01-22 13:38] realTIMematrix commented on #40
Using Twitch and this uses the normal Minecraft Launcher

[2020-01-22 20:18] TheIllusiveC4 commented on #40
I've personally found that only Twitch has this weird bug. Can you try using the vanilla launcher or just anything else other than Twitch and see if the problem persists? Because if it truly is just a Twitch problem, then it's out of my hands.

[2020-01-23 12:24] realTIMematrix commented on #40
The Minecraft Launcher has the same behavior.

I download Forge 30.0.41 direct from Forge Website and install it in the Original Minecraft Folder.

i've checked the Javaw.exe versions and both Vanilla and Twitch uses the same Java executable. Another Point is that if the screen resolution in the Launcher on a fixed value (e.g 1024 x 768) and not "automatic" you can reproduce the problem.

Start yo

[2020-01-25 06:05] TheIllusiveC4 commented on #40
Are you using any other mods when testing this? Because I cannot reproduce this behavior. I normally play Minecraft at 1024 x 768 (or something like that) windowed mode, so this is just my normal development setting. Everything works fine for me.

[2020-01-25 16:59] realTIMematrix commented on #40
That is really wired. Sure, at the first i start to use it with other mods but this final tests were done with forge and curios only and of course a clean profile and not using the twitch launcher.
Anyway if you cannot reproduce it there is no way for me to show it to you, so you can close it or investigate later when other users mention this issue. :-)

[2020-01-25 17:01] realTIMematrix commented on #40
Are you working on a 1.15.2 port? Actual i can't use it and still want to create my own pack under 1.15.2 with Forge.

[2020-01-27 01:31] TheIllusiveC4 commented on #38
I think there's a way I can include both sections and a priority system, which should be enough for most use-cases, including a way to overwrite them. But since this requires revisiting and possibly overhauling the whole registry system, I'm probably going to put this feature on hold until 1.16 so I can do it right without worrying about backwards compatibility.

[2020-02-16 02:25] TheIllusiveC4 commented on #40
Sorry I never answered you. Just in case you were unaware, there has been a 1.15.2 port released since the time that you asked.

[2020-02-16 02:25] #40 closed, assigned to TheIllusiveC4

[2020-02-25 01:41] Erfurt92 opened #41 "Bug when using Ensorcellation and Curio API together"
Hey, I just want to let you know. There seems to be a bug with the Soulbound Enchant from Ensorcellation, when I'm using Curio API, if you have anything equipped in a Curio slots, doesn't matter if it's enchanted with Soulbound or not, all Soulbound items drops when you die, they also looses the enchant, although not all the time it would seem. I'm using the 1.15.2-2.0-beta2 versions of Curio, 1.1

[2020-02-25 04:36] MrCrayfish commented on #41
I'm not the author of Curios but this is not TheIllusive's fault. Curios API isn't going to check for an enchantment from a random enchantment mod. All they can do is add a hook for developers to apply a predicate if an item should drop then it's up to KingLemmingCoFH to support it.

[2020-02-25 06:01] #41 closed, assigned to TheIllusiveC4

[2020-02-25 06:03] TheIllusiveC4 commented on #41
It's a priority issue. The problem is solvable on either end, but I have to assume they have a good reason for having it as they do so I just handled it on my side.

That said, the Soulbound enchantment randomly getting lost is reproducible with only Ensorcellation and CoFH Core installed so that issue is something you'll have to talk about with the developer.

[2020-02-25 22:06] Erfurt92 commented on #41
Don't get me wrong I assumed the same as you, that was why I reported it to KingLemmingCoFH first :)

[2020-03-05 03:39] ColossalKnight13 opened #42 "Curio Slots Missing"
#### Versions (Be specific, do not write "latest"):
Curios:
- curios-FORGE-1.14.4-1.0.6.1
- curioofundying-FORGE-1.14.4-2.0.1
- curiouselytra-FORGE-1.14.4-1.0
- curiousshulkerboxes-FORGE-1.14.4-1.0.0.1
- EnigmaticLegacy-1.6.4 (utilizes curio)

Forge: 1.14.4-forge-28.2.0

#### Observed Behavior:
 I launch Minecraft with the mods and curios only gives me two ring slots and a backpack slot.
#### Expe

[2020-03-05 07:33] TheIllusiveC4 commented on #42
I can't reproduce this. Launching a fresh instance with just those mods installed, I get one back slot and one charm slot. As far as I'm aware, this is the correct behavior as the elytra uses the back slot, the totem uses the charm slot, and Enigmatic disables everything else at the beginning.

Are you using just those mods or are there other ones? And have you tried reproducing this in a fresh in

[2020-03-07 01:43] ColossalKnight13 commented on #42
@TheIllusiveC4 Okay so going back and just testing in creative, I realize that yea, in the beginning, the other slots are not there until you actually receive an item to fill it. I thought it was bugged sorry. Thanks though. Once again, sorry if this was pointless.

[2020-03-07 01:43] #42 closed, assigned to TheIllusiveC4

[2020-03-08 23:07] MLMII opened #43 "Ablity to pick & choose which Curios are rendered."
**Please describe the new feature or change.**

I was wondering if it were possible to have an option to choose which curios were rendered instead of an universal option in the config.

**Please describe why you want this feature.**

Some curios are nicely rendered on my Minecraft skin, but some feel out of place.

Thank you.

[2020-03-08 23:26] TheIllusiveC4 commented on #43
Yeah, I've been very interested in implementing this feature. I just have to think of the right way to implement it.

[2020-03-11 09:53] Drunkender opened #44 "More slot width in curios menu"
**Please describe the new feature or change.**

The feature I'm asking for is for the curios menu to be more than 1 slot wide.
2 or 3 by ∞

**Please describe why you want this feature.**

I want this feature be cause when curios gets more mod support it is going to be a chore to scroll through all of the slots. I'm the type of player that adds more slots if i really want them(Extra rings, charms t

[2020-03-11 16:14] TheIllusiveC4 commented on #44
My main issue with having it at more than one width is that it creates the possibility of empty space. For instance, if the width is set to 2 slots and there are 3 slots total in your game: there will be 2 slots in the first row, but only 1 slot in the second, leaving empty space where a theoretically 4th slot would be. This seems like it would look bad.

I'd be interested in hearing any alternati

[2020-03-12 04:20] Drunkender commented on #44
You could always make that extra slot a vanity slot. aka visual only. Additionally configurable amount of vanity slots but if there is an odd number of curios slots add a vanity slot to make it even. This would be useful for botania.

[2020-03-18 11:03] hm-ysjiang commented on #38
鞥p鞥ㄥㄥㄥ

[2020-03-28 21:48] ItsTheBdoge commented on #43
Could you add a button on the side of each curios slot which toggles its rendering? similar to how terraria does this

[2020-04-05 04:55] userofbricks opened #46 "damaging an item in a curios slot when player attacks."
so I have been trying over and over to damage my gauntlet items when the player attacks an entity but I have had no luck. I tried to do it with forge events but I had no luck. Is there a specific way for damaging items in curio slots?

[2020-04-05 05:14] TheIllusiveC4 commented on #46
It's nothing out of the ordinary, outside of using a particular API method in the lambda parameter as shown here: https://github.com/TheIllusiveC4/Curios/blob/09dd2cb692885f3ec3c2358dc6b3dfe3bfae2347/src/main/java/top/theillusivec4/curios/common/item/CrownItem.java#L64-L65

There could be a multitude of reasons why you're having issues, so you'll have to show your code first before I can really he

[2020-04-05 18:23] userofbricks commented on #46
right. here is my [code](https://github.com/userofbricks/Monagm/tree/master/src/main/java/com/jonathan/monagm). I followed the same setup as the reference Items. My event is of course in the events folder, item in items, capability class in common, etc. I think my main issue for the event is how I am getting the item stack. I tried another way in the item class but I don't think it is correct. Bot

[2020-04-05 23:25] TheIllusiveC4 commented on #46
A few things:
1) You don't need to register your own capability instance like you're doing [here](https://github.com/userofbricks/Monagm/blob/bff8be567705f99555abf97c1ab176614aec58a3/src/main/java/com/jonathan/monagm/common/CapabilityMonagmItem.java#L17-L27). Curios already registers the capability you need. Instead, you just need to pass the provider to your item by overriding the `initCapabiliti

[2020-04-07 10:26] TheUntamed opened #47 "[1.15.2] Mod Interaction"
Curios: 2.0.2.1.
Forge: 31.1.36

When Curios is open other mod's inventory additions like buttons or slots are removed. It would be neat if that wouldn't happen.

![Screenshot_1](https://user-images.githubusercontent.com/48363903/78658708-cdd16300-78ca-11ea-8c02-3658dc4257b2.jpg)

![Screenshot_2](https://user-images.githubusercontent.com/48363903/78658717-d0cc5380-78ca-11ea-98d4-6168c4fb065c.jpg)

[2020-04-07 10:59] TheIllusiveC4 commented on #47
I'm not sure if this is really feasible to fix, but I have an idea I'd like to try first. In order to duplicate this issue properly, I'll need to know which mods are adding those particular buttons in your instance.

[2020-04-07 11:02] TheUntamed commented on #47
_Extreme sound muffler (Forge)_ adds the sound box at the top center.
_Quark_ adds the square button on the right center.
_Quickstack_ adds the 2 larger buttons next to the button of _Quark_.
_TrashSlot_ adds the trash can slot.

[2020-04-10 07:07] WenXin20 opened #48 "Recipe Book Server Crash"
#### Versions:
* `Curios: v2.0.21`
* `Forge: v31.1.39`
* `Minecraft: v1.15.2`

#### Observed Behavior:
- Pressing the recipe book button while in the Curios Gui will crash the game client side while on a server.
#### Expected Behavior:
- Recipe Book Gui should open w/o crashing.
#### Steps to Reproduce:
1. Open Curios Gui
2. Press Recipe Book Button
3. Crash
...

Crash Log: [Link](https://gist.git

[2020-04-14 07:05] #46 closed, assigned to TheIllusiveC4

[2020-04-15 06:37] TheIllusiveC4 commented on #47
Unfortunately my idea didn't really pan out and I don't think there's any good way to fix this on my end. The mods that add those extra features would have to do the same thing to the Curios GUI that they do to the vanilla inventory GUI.

[2020-04-15 06:37] #47 closed, assigned to TheIllusiveC4

[2020-04-15 07:47] TheIllusiveC4 commented on #48
In your environment, does the recipe book button work fine in the vanilla inventory GUI?

[2020-04-15 14:41] WenXin20 commented on #48
Yeah, it's only in the curios inventory that it crashes.

[2020-04-18 23:29] TheIllusiveC4 commented on #48
Hmm, what about in the crafting table GUI?

I can't reproduce this in my environment, everything works fine, so could you try to reproduce this without any other mods? At this juncture, this looks like a compatibility issue but I'm not sure which mod could be the cause and I'm not sure if this strictly needs a dedicated server to reproduce.

[2020-04-19 09:00] #48 closed, assigned to TheIllusiveC4

[2020-04-19 09:03] TheIllusiveC4 commented on #48
I had to rewrite the recipe book GUI implementation anyways, so I _think_ that'll solve this issue. But do let me know if it doesn't and I'll re-open it.

[2020-04-19 14:36] WenXin20 commented on #48
Thanks! I'll be sure to do that!

[2020-04-29 09:29] zlainsama commented on #43
@TheIllusiveC4
Any updates on this?
I have released CosmeticArmorReworked 1.15.2-v3a in beta which added toggleable buttons to Curios slots like I did with Baubles in 1.12.2. ([A link if you are interested](https://github.com/zlainsama/CosmeticArmorReworked/releases/tag/1.15.2-v3a))
Currently, I am using reflections and constantly checking if scroll index has changed to update those added buttons.

[2020-04-29 18:02] TheIllusiveC4 commented on #43
I'd like to implement this when I have the design space to rewrite whatever I may need, so I'm waiting until I port Curios to 1.16+ to add this feature. It'll be a native feature to the GUI and my current idea will end up looking a lot similar to what you've set up in Cosmetic Armor Reworked with the toggle-able button in the corner.

[2020-05-31 17:16] Erfurt92 opened #50 "Potential bug?"
Hey, I'm trying to make some jewels that have effects and attributes, they also have durability, and that seems to be causing a problem. I'm using the onCurioBreak method, which I assume triggers the Unequipped method. Everything works fine when I just unequip a jewel. However the effects remains on the player when a jewel breaks. The effects seem to be because there's a bug on my end, where you r

[2020-05-31 20:46] TheIllusiveC4 commented on #50
There does seem to be an issue with effects persisting. More accurately, empty item states are being ticked when they shouldn't be. That's why effects persist when they break but not when they're removed manually. I'll fix that momentarily.

This is incorrect usage. If you refer to the javadocs commentary on the method, it says `Called when rendering break animations and sounds client-side when a

[2020-05-31 20:51] Erfurt92 commented on #50
Ah I see, I'll take another look at my code then, thanks for the help

[2020-05-31 21:05] #50 closed, assigned to TheIllusiveC4

[2020-06-04 22:27] Erfurt92 commented on #50
![no update on equip and unequip](https://user-images.githubusercontent.com/20155513/83816447-b0e6bf80-a6c2-11ea-9aef-67cdd7e10475.gif)

@TheIllusiveC4 In version 2.0.2.4, it still seems to be a bug, unless the bug you found was unrelated to this.
This works fine on ring slots.

[2020-06-04 23:34] TheIllusiveC4 commented on #50
Sorry, I didn't realize that you mentioned something like that previously. The equipped and unequipped methods will only be called if the items are different to prevent repeated calls when durability or something else changes but the item remains the same. That's not a bug per say, although it's possible this warrants a change.

Something I'm very curious about though is that you say it "works fin

[2020-06-04 23:48] Erfurt92 commented on #50
I see, nothing's different. However I didn't realize that, that was how it worked, so I might have used two different items when I checked the rings. I have a gold and a silver variant of both amulet and ring, so 4 registered items. I basically just did a really quick test, when I saw this "bug" appearing, and I could see that it worked fine. The amulets in the gif are both of gold variant, so tha

[2020-06-06 02:30] vico93 opened #51 "Render Quark sort buttons on Curios UI"
Seems like when you press the curios icon and the additional slots are shown the [Quark](https://www.curseforge.com/minecraft/mc-mods/quark) items for sort and such dissapear, if i'm not guessing wrong they arent being "inherited" to the Curious's Inventory UI.

Is possible to make them appear in there too (respecting Quark config)?

Screenshots detailing the issue:

Vanilla inventory screen - not

[2020-06-16 06:48] TheIllusiveC4 commented on #51
From what I can tell, Quark has a bit more/easier access to the bits of code that's needed to get this compatibility going so I'll say I'll leave this to them unless informed otherwise.

[2020-06-16 06:48] #51 closed, assigned to TheIllusiveC4

[2020-07-01 09:21] TheIllusiveC4 commented on #38
Slot priorities with possible config overrides have been added to the 1.16.1 port.

[2020-07-01 09:21] #38 closed, assigned to TheIllusiveC4

[2020-07-01 09:25] TheIllusiveC4 commented on #44
I've decided against any width lengthening for the time being, as the new cosmetic slots feature in the 1.16.1 port precludes this idea even more as it occupies a second column. Hopefully the addition of persistence to the scroll index in a previous update helps your issue with scrolling a little bit. I'm also always open to any ideas for a more streamlined interface that will address navigation i

[2020-07-01 09:25] #44 closed, assigned to TheIllusiveC4

[2020-07-01 09:25] TheIllusiveC4 commented on #43
Toggleable renders have been added to the 1.16.1 port.

[2020-07-01 09:25] #43 closed, assigned to TheIllusiveC4

[2020-07-17 03:48] CursedFlames opened #52 "[Fabric 1.16] Strange slot behavior when registering a slot type that has multiple slots"
#### Versions (Be specific, do not write "latest"):
* Curios: 1.16.1-0.1
* Fabric: loader_version=0.8.8+build.202, fabric_version=0.13.1+build.370-1.16 (I don't know which of these means what)

Also note that I'm in a dev environment.
#### Observed Behavior:
When a slot type is registered with multiple slots rather than just one, some slots will fail to show up, and an IndexOutOfBoundsException is

[2020-07-17 06:29] #52 closed, assigned to TheIllusiveC4

[2020-07-17 07:21] Magnymbus opened #53 "[1.16.1] Unable to load world"
#### Versions:
* Curios: 3.0 beta3
* Forge/Fabric: forge-32.0.68
#### Observed Behavior: Unable to load world (kicked to main menu)
#### Expected Behavior: Able to load world (not kicked to main menu)
#### Steps to Reproduce:
1. Have Curios-API
2. Create new world
3. Get kicked to main menu

Crash Log: [hastebin](https://hastebin.com/jaluboquju.sql).

[2020-07-17 12:43] kreezxil opened #54 "Crash due to Forge 1.16.1-32.0.67"
Issue:  1.16.1-3.0-beta3 crashes dedicated server Forge 1.16.1 build 32.0.68

Notes:
     No Such Method Error, this is probably caused by FORGE changing how mods process commands. **Note**: Bad Wither No Cookie Reloaded uses commands, it broke, we simply recompiled against the new forge, it is no longer crashing, not sure if you tried anything.

crash report:
https://gist.github.com/4626ae9907101

[2020-07-17 20:35] TheIllusiveC4 commented on #54
Duplicate of https://github.com/TheIllusiveC4/Curios/issues/53

[2020-07-17 20:35] #54 closed, assigned to TheIllusiveC4

[2020-07-17 21:57] #53 closed, assigned to TheIllusiveC4

[2020-07-20 17:36] ochotonida opened #55 "Curio inventory button does not appear when switching to the 'survival inventory' creative tab"
#### Versions
* Curios:FORGE-1.16.1-3.0-beta4
* Forge:1.16.1-32.0.70
#### Observed Behavior:
Curio inventory button does not appear when switching to the 'survival inventory' creative tab
#### Expected Behavior:
When switching to the 'survival inventory' tab from another tab in the creative menu, a button should appear to open the curios menu
#### Steps to Reproduce:
1. Open the creative inventory

[2020-07-20 17:59] ochotonida opened #56 "Right-click equipping a curio puts it in the first empty curio slot, regardless of slot type"
#### Versions:
* Curios: FORGE-1.16.1-3.0-beta4
* Forge: 1.16.1-32.0.70
* Tested with Artifacts 1.16.1-2.2.0, but (probably) works with any mod which add curios that allow right-click equipping
#### Observed Behavior:
Right-click equipping a curio puts it in the first empty curio slot, regardless of slot type
#### Expected Behavior:
Right click equipping a curio should put it in the first compatib

[2020-07-21 20:38] #55 closed, assigned to TheIllusiveC4

[2020-07-21 20:38] #56 closed, assigned to TheIllusiveC4

[2020-07-27 01:33] Fakeziinho opened #57 "[1.15.2] Is it possible to make the item be equipped in the ring slot by clicking a button ??"
Is it possible to make the item be equipped in the ring slot by clicking a button ??
I'm a beginner in forge can you help me ??

[2020-07-27 02:33] TheIllusiveC4 commented on #57
Please elaborate a bit more. What do you mean by clicking a button? Like right-click equipping them?

[2020-07-28 00:30] Fakeziinho commented on #57
Example: I click on the 'F' button on the keyboard, it sets the item in the ring slot

[2020-07-28 00:32] TheIllusiveC4 commented on #57
Are you speaking as a developer or as a user? As a developer, yes. As a user, no.

[2020-07-28 00:47] Fakeziinho commented on #57
I did not understand

[2020-07-28 02:01] TheIllusiveC4 commented on #57
Are you developing a Minecraft mod using Curios as an API, or are you using Curios as a player in a Minecraft instance?

If you're a developer, then yes, there are ways to add keybinding functionality to set an item to a slot.

If you're a user/player, then no, there's no way for you to customize that sort of function.

[2020-07-28 04:56] Fakeziiinho commented on #57
I'm a developer.
(I'm on another account)

[2020-07-28 05:05] TheIllusiveC4 commented on #57
Okay, so, if you need more information:
You need to obtain an instance of the Curios handler on the player. This is accomplished using `CuriosAPI.getCuriosHandler(player)`. Then you need to get the right stack handler for the slot type you're looking for, which seems to be "ring". So, you call `getStackHandler("ring")` on the handler you got earlier. And then you can use `setStackInSlot` like you

[2020-07-28 05:05] #57 closed, assigned to TheIllusiveC4

[2020-07-28 15:50] Fakeziiinho commented on #57
Okay

[2020-07-28 19:06] florensie opened #58 "[fabric-1.16.1-0.2] Curio doesn't render on slim playermodel"
#### Versions (Be specific, do not write "latest"):
* Curios: 0.2
* Forge/Fabric: Fabric
#### Observed Behavior: Curios don't render when the player has the slim playermodel
#### Expected Behavior: Curios renders like they do with the classic playermodel
#### Steps to Reproduce:
1. I verified this using the latest CuriosShulkerBoxes from git with version 0.2 of Curios
2. Force the slim playermodel

[2020-07-28 19:15] florensie opened #59 "[Fabric] The mouse cursor recenters when opening the Curios screen from the inventory screen"
#### Versions (Be specific, do not write "latest"):
* Curios: 0.2
* Forge/Fabric: Fabric
#### Observed Behavior: The cursor moves to the center of the screen when opening the menu from the inventory screen
#### Expected Behavior: The cursor stays in the same place
#### Steps to Reproduce:
1. Open inventory
2. Click the button to open, then again to close (it doesn't happen the first time)
3. From

[2020-07-28 19:24] florensie opened #60 "[Fabric] More ways of opening Curios screen"
**Please describe the new feature or change.**
The Fabric version of Curios is lacking some ways the Curios screen can be opened that the Forge version does have.
- Pressing the keybind (G) while in an inventory screen
- From the "Survival Inventory" tab in the creative menu by clicking the button in the corner of your character preview.

**Please describe why you want this feature.**
Currently eq

[2020-07-29 07:49] #60 closed, assigned to TheIllusiveC4

[2020-07-29 07:49] #59 closed, assigned to TheIllusiveC4

[2020-07-29 07:52] TheIllusiveC4 commented on #58
Unfortunately, I have a hard time reproducing this issue. It always renders for me. However, I did notice a weird missing refmap issue with the renderer. I've fixed that, so there's a chance that might fix this as well? I've published version 0.3 of Curios, so please try that out and see if this remains an issue.

[2020-07-29 13:56] florensie commented on #58
I can confirm that that was the issue. It's working now in 0.3.
Thanks for this!

[2020-07-29 13:56] #58 closed, assigned to TheIllusiveC4

[2020-08-03 12:57] florensie opened #61 "[Fabric] handleInvalidStacks is never called"
#### Versions:
* Curios: 0.3
* Forge/Fabric: Fabric
#### Observed Behavior: removing a slot type with an item in it does not return that item to the player
#### Expected Behavior: the invalid stacks are discarded to the player's inventory/dropped
#### Steps to Reproduce:
I found this while developing another mod but it's easiest to reproduce with Curious Shulker Boxes

1. Run with the mod, equip a

[2020-08-03 13:09] florensie opened #62 "[Fabric] Opening the recipe book on the Curios inventory screen does not move it correctly"
#### Versions:
* Curios: 0.3
* Forge/Fabric: Fabric
#### Observed Behavior: the Curio slots overlap with the recipe books and hide buttons don't move at all
#### Expected Behavior: all UI elements move over with the inventory panel
#### Steps to Reproduce:
https://streamable.com/5mxr8e

[2020-08-04 08:10] #61 closed, assigned to TheIllusiveC4

[2020-08-04 08:10] #62 closed, assigned to TheIllusiveC4

[2020-08-13 12:20] Adirelle opened #64 "Slot key bindings"
Hello,

Would it possible to add separate key bindings to use the items in the slots added by Curios ?

Some items have permanent effects (like the [Ring of Attraction](https://www.curseforge.com/minecraft/mc-mods/ring-of-attraction-fabric)) and this works fine. But other items are meant to be used, like the [Ring of the Miner](https://www.curseforge.com/minecraft/mc-mods/ring-of-the-miner-fabric)

[2020-08-13 15:54] TheIllusiveC4 commented on #64
This isn't really feasible from a third-party. The mod that adds the function should be the one to add integration with Curios.

[2020-08-13 15:54] #64 closed, assigned to TheIllusiveC4

[2020-08-19 17:45] crest1993 opened #66 "Crash on launch MC 1.16.2 fabric curios 0.0.6"
Already tried trial and error with each mod, and this is the crash report i get

`---- Minecraft Crash Report ----
// Why did you do that?

Time: 8/20/20 12:26 AM
Description: Initializing game

net.fabricmc.loader.api.EntrypointException: Exception while loading entries for entrypoint 'main' provided by 'rpgstats'
	at net.fabricmc.loader.EntrypointStorage.getEntrypointContainers(EntrypointStorage

[2020-08-19 21:56] Daejangnamu opened #67 "[Forge-1.16.2-33.0.5] Server Crash"
#### Versions (Be specific, do not write "latest"):
* Curios: curios-forge-1.16.2-4.0.0.0

https://youtu.be/Jp9De66H6bo

Crash Log: https://hastebin.com/imurelisih.sql

[2020-08-19 22:01] TheIllusiveC4 commented on #66
It looks like this isn't a Curios issue. It's caused by some mod with the id `rpgstats`.

[2020-08-19 22:01] #66 closed, assigned to TheIllusiveC4

[2020-08-24 06:41] Foozey opened #68 "[Forge 1.16.1] Crash while locking a slot type in an onUnequip() method override"
#### Versions:
* Curios: `1.16.1-3.0.0.2`
* Forge/Fabric: `1.16.1-32.0.108`
#### Observed Behavior: Item slot locking/disappearing, then game crashing immediately after
#### Expected Behavior: Item slot locking/disappearing, without game crashing
#### Steps to Reproduce:
1. Lock a slot type using `CuriosApi.getSlotHelper().lockSlotType("name", livingEntity);` within an `onUnequip()` method overrid

[2020-08-24 12:44] Aizistral commented on #68
I'm not sure how you did expect this to play out totally fine. Take a look at Curios event handler, if you are curious:  https://github.com/TheIllusiveC4/Curios/blob/2b76762c1bf94e120659d555b661a97764e22c9b/src/main/java/top/theillusivec4/curios/common/event/CuriosEventHandler.java#L328
It crashes because you basically attempt to modify the list of available slot handlers while Curios is in the pr

[2020-08-24 14:48] Foozey commented on #68
I don't think this is entirely correct, considering this crash doesn't happen when you're using any of the other methods, such as `onEquip()`, which by your response, would also cause the crash since it modifies the list of available slot handlers. Here's an example of something that works perfectly fine (from a previously locked slot):
`    @Override
    public void onEquip(String identifier, int

[2020-08-25 13:59] Aizistral commented on #68
It does also crash, granted that the slot you are unlocking is not unlocked already and that it actually exists. onEquip() also isn't any different from onUnequip() in this context, since they are both called within same event handler when cycling through same list.

I specifically did testing to confirm that my mind does not deceive me. My gotcha code looked as following:

[code]

What I got in l

[2020-08-25 20:11] TheIllusiveC4 commented on #68
Extegral is correct in that this is an expected crash considering the context. However, I'm looking into the best viable solution for locking/unlocking slots based on equipment changes, which is the use-case that this issue stems from and the one that I'd like to resolve. If there's currently a workaround for that, I'd be interested to hear about it.

[2020-08-25 22:09] Aizistral commented on #68
Well, under current circumstances this crash can be avoided by any sort of system that would schedule slot locking/unlocking to be executed later, outside of ICurio calls. The simplest implementation of it I can think of would look something like this:
1. Create a `public static Map<PlayerEntity, String>` somewhere;
2. When slot needs to be locked from your onEquip()/onUnequip()/whatever, access t

[2020-08-31 12:09] MichaelHillcox commented on #67
Update forge

[2020-09-02 17:23] StuffByJimm opened #69 "Fabric - Curios 1.16.1-0.5 - Crash on start"
#### Versions (Be specific, do not write "latest"):
* Curios: 1.16.1-0.5
* Forge/Fabric: Fabric
#### Observed Behavior: Game crashes on start.
#### Expected Behavior: Game starts when i hit play.
#### Steps to Reproduce:
1. Have Curios installed in mod folder
2. Start Minecraft and hit play
3. Game crashes
...
I'm sorry if Curios is indeed not the culprit, but after an hour of binary testing, I've

[2020-09-02 19:29] TheIllusiveC4 commented on #69
Is that the full log? Because the log you attached doesn't have any sort of error or crash in it.

[2020-09-03 01:36] StuffByJimm commented on #69
That is the complete log, yes. I thought it looked kinda short, but it's
the latest crash log in my folder. Did i maybe do something wrong?

On Wed, Sep 2, 2020 at 3:29 PM TheIllusiveC4 <notifications@github.com>
wrote:

[2020-09-03 02:16] TheIllusiveC4 commented on #69
I'm not sure, but there's not much I can do if I don't see any crashes in the logs.

Also, have you tried loading it up with JUST Curios to see if that loads fine?

[2020-09-03 02:55] StuffByJimm commented on #69
I have not, but I will do just that tomorrow morning, thanks for the
suggestion.

Also, I'll look into a more complete log if i can.

On Wed, Sep 2, 2020, 10:16 PM TheIllusiveC4 <notifications@github.com>
wrote:

[2020-09-14 07:11] #68 closed, assigned to TheIllusiveC4

[2020-09-17 15:43] qodeninja opened #71 "Forge/1.16.2 Crash on world start"
Client side MC 1.16.2 with latest Forge for 1.16.2 (forge-1.16.2-33.0.59)

https://hastebin.com/kaxasuvede.php

**java.lang.NoSuchMethodError**: net.minecraftforge.common.util.LazyOptional.map(Lnet/minecraftforge/common/util/NonNullFunction;)Lnet/minecraftforge/common/util/LazyOptional;
	at top.theillusivec4.curios.common.CuriosHelper.getAttributeModifiers(CuriosHelper.java:153)
	at top.theillusiv

[2020-09-17 19:26] Aizistral commented on #71
I have encountered this either. You can use Curios 4.0.0.1, it seems to be compatible with 1.16.2

[2020-09-24 13:45] cech12 opened #73 "[Feature] Overlay Rendering"
**Please describe the new feature or change.**
It would be nice if there will be a possibility to render an overlay when wearing an item in a curio slot. Like the overlay when wearing a carved pumpkin on head. In Forge there is already [a possibility to add it for items wearing in vanilla armor slots](https://github.com/cech12/UsefulHats/blob/32b84ad5c7f09d748138dc7e3314de33c9f786be/src/main/java/

[2020-09-26 11:05] Aizistral commented on #73
This is a hella specific feature if you'd ask me. But I can try to figure this one out and make a pull request to forge branch on the matter if @TheIllusiveC4 confirms that it totally makes sense in an API.

[2020-09-26 11:33] cech12 commented on #73
That would be very nice! :)

[2020-09-26 19:35] TheIllusiveC4 commented on #73
Hmm, it is rather specific. It might be a little too niche. Also, can't you subscribe to the `RenderGameOverlayEvent` (or whatever it's called), listen for the helmet overlay, and render your logic in that? Basically, wherever Forge does their logic for their `IForgeItem#renderHelmetOverlay` method.

[2020-09-28 07:40] cech12 commented on #73
Okay, I will try to use the `RenderGameOverlayEvent`. Thanks for the hint! :)

[2020-09-28 07:40] #73 closed, assigned to TheIllusiveC4

[2020-10-04 18:29] Warbringer12 opened #75 "can't equip rings into ring slots"
#### Versions (Be specific, do not write "latest"):
* Curios: 1.16.3-4.0.2.0
* Forge/Fabric: forge 1.16.3-34.1.5
#### Observed Behavior:
#### Expected Behavior:
#### Steps to Reproduce:
1. tried equipping ring into ring slot
2. tried other slots to see if they worked belt and body one worked don't know about rest
3.
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
no

[2020-10-04 21:19] TheIllusiveC4 commented on #75
Which mods do you have installed that add the ring and ring slot?

[2020-10-05 00:00] Warbringer12 commented on #75
botania adds rings so does gobber2

[2020-10-05 15:46] RobertSkalko opened #76 "1.16.3 fabric, setting always_keep curios doesn't save on death, but deletes it"
#### Versions (Be specific, do not write "latest"):
* Curios: 0.0.7-1.16.3
* Forge/Fabric: fabric
#### Observed Behavior: Curios are deleted on death
#### Expected Behavior: Curios don't drop and are copied over. Not copying them over causes them to be deleted with the dead player. (I know as i recently tried making saving parts of my inventory on death)
#### Steps to Reproduce:
1. Use DropRulesCa

[2020-10-05 20:58] #76 closed, assigned to TheIllusiveC4

[2020-10-17 05:26] stepsword opened #77 "Crash when using Mahou Tsukai's scrying"
Hi, a player sent me this crash log which I think could be fixed by a null check somewhere in this mod? Let me know if that's not the case

Crash Log: https://pastebin.com/9frFDh0y

[2020-10-19 04:32] TheIllusiveC4 commented on #77
I see that it's caused by activating something called `ScryingMahoujinTileEntity`. Could you describe what that is and how to replicate it in-game? I'm unfamiliar with the Mahou Tsukai mod. You are correct in that the problem probably can be solved by adding a null check on my end, but I'd like to know how to replicate the behavior for testing/debugging purposes.

[2020-10-19 15:16] Aizistral opened #78 ""Curio" Slots"
**Please describe the new feature or change.**
There is slight possibility that present behavior is not intended, but I assume it is, so I make this issue in the format of feature request. From reading the wiki, I learned that items that have "Curio" slot type among slot types they can be equipped into can actually be equipped into any slot. I therefore assumed that if I create a slot in the Curio

[2020-10-19 15:37] Aizistral opened #79 "Expert Slot Locking Techniques"
**Please describe the new feature or change.**
Another feature I for whatever reason totally thought of as totally present already, until I to my surprise discovered it isn't there. It should be possible to lock/unlock not all slots of the type at once, but instead only a certain amount. For instance - I want my mod to register the maximum of 3 ring slots available to player, but so that by defaul

[2020-10-19 15:56] Aizistral commented on #79
Some more investigation got me thinking on certain issues with what I want to do, that I'm not yet sure how those can be addressed. To be specific, Enigmatic Legacy currently adds a ring under the name of "Ring of the Seven Curses", which player cannot unequip once they wear it and which does persist on death. Later in the game, I want players that wear this ring to be able unlock additional ring

[2020-10-19 16:06] stepsword commented on #77
According to the user, he was using the scrying spell on another player on a server - I couldn't replicate it in single player and I don't have a non-dev server to test currently, so keep that in mind..

But in general, to use scrying:

0. Get enough mana by running the command `/maxmahou player_name 10000` in creative mode or as someone with permissions
1. Take damage (can be done by right clicki

[2020-10-21 19:46] TheIllusiveC4 commented on #79
This is something I've been mulling over for a while since it's become clear that the current system doesn't handle this kind of use-case very well. One way that might work is to introduce the concept of "slot modifiers", something that would be similar to attribute modifiers but wrapped with context about slot info. Developers could then add these modifiers to basically anything and Curios would

[2020-10-21 20:05] Aizistral commented on #79
There are cases in which this might not be desired, but opposite might be true as well. Items that do unlock additional slots might have specific ways and conditions of obtaining and be intended to always give you bonus slot associated with them, not just be one of possible ways of unlocking them. You can think Terraria with Demon Heart for instance, a consumable item that is only obtainable in Ex

[2020-10-22 18:08] elowanut opened #80 "[1.16.3] NBT tag being appended to items when used to break tall grass"
#### Versions:
* Curios: curios-forge-1.16.3-4.0.2.0
* Forge/Fabric: Forge 34.1.25
#### Observed Behavior:
Curios is causing some items to have an empty NBT tag (containing the word "tag") appended to them. This prevents them from stacking with 'regular' versions of the item. This seems to only occur when that item is used to break Tall Grass.

#### Steps to Reproduce:
1. Create a fresh instance o

[2020-10-23 04:19] rgilbert1021 opened #81 "[1.16.3 Fabric] Curio slots not appearing."
#### Versions (Be specific, do not write "latest"):
* Curios: curios-fabric-0.0.8-1.16.3
* Fabric: fabric-api-0.23.0+build.410-1.16
#### Observed Behavior:  When clicking on the curio button or using the keybind, the slots do not appear.
#### Expected Behavior: Curio slots to show when clicking on the curio button or using the keybind.
#### Steps to Reproduce:
1. Checked out repo, ran application.

[2020-10-23 05:52] TheIllusiveC4 commented on #81
Which curio slots do you expect to appear?
In other words, which mods do you have create slots and what slots do they create? Alternatively, what slots have you configured in the config file?

[2020-10-23 11:37] elowanut commented on #81
Installing Curios gives you the framework (backend code, the button / keybind, the framework for the slots themselves) for curios slots, but by default none of the slots are active. This is so that individual mods that add slots can add them in as needed; if you install only a mod that adds necklaces, that mod can just turn on the necklace slot, and not have a whole bunch of empty, unusable slots.

[2020-10-23 16:48] rgilbert1021 commented on #81
Sorry for the erroneous report.  Could have sworn in the past that the included curios auto registered and were available to use.

[2020-10-23 16:48] #81 closed, assigned to TheIllusiveC4

[2020-10-25 19:38] Zentheon opened #82 "Incompatibility with Cinderscapes"
When both the Curios API and Cinderscapes are loaded at once, the Creative menu never shows any of the vanilla blocks or items.

I doubt it would give any valuable info, but the console log is the only resource I can give (Don't mind the missing structure spam, been testing a lot of mods):
[latest.log](https://github.com/TheIllusiveC4/Curios/files/5435801/latest.log)

[2020-10-26 07:14] TheIllusiveC4 commented on #82
I believe this may be a Fabric API issue as I've heard of a similar problem with Astromine and Cinderscapes, although I don't know anything about the root cause. In addition, Curios doesn't do anything with item groups so I'm not sure how the mod could cause this behavior in itself.

[2020-10-27 21:31] #82 closed, assigned to TheIllusiveC4

[2020-10-30 07:15] RhSm-Firebird opened #83 "[1.16.3 FORGE] Item completely disappears when switching from normal inventory to curios inventory in creative mode"
#### Versions (Be specific, do not write "latest"):

* Curios: v4.0.2.0 for Minecraft 1.16.3
* Forge: v34.1.25 for Minecraft 1.16.3

#### Observed Behavior: When an item is clicked and is being held using the mouse in the regular inventory, switching to the curios inventory by pressing the hotkey or by pressing the curios button on the top left causes the item held by the mouse pointer to vanish.

[2020-10-30 13:41] Ranaida opened #84 "Can't equip anything in the slots you have to scroll for"
#### Versions (Be specific, do not write "latest"):
* Curios: 1.16.3-4.0.2.0
* Forge/Fabric: forge 1.16.3-34.1.25

#### Observed Behavior:
At first, everything worked as it should. After a few gaming sessions I wanted to change the equipped ring, only to realise that I can not equip anything new in this slot.

At this time I can't say what changed between the time it worked and the time it didn't.

[2020-11-04 20:29] Aizistral opened #86 "A way to make piglins neutral towards player wearing the accessory"
**Please describe the new feature or change.**
Basically the same thing in `ICurio` as `makesPiglinsNeutral` method allows to pull off in `IForgeItem`.

**Please describe why you want this feature.**
I saw many people have wanted to make/use accesories that would've rendered piglins neutral, similar to how wearing gold armor does, but while making armor with such trait is as simple as overriding t

[2020-11-05 15:20] Aizistral opened #87 "A way to allow Curse of Binding on accessories"
**Please describe the new feature or change.**
A way to allow Curse of Binding on accessories, again preferrably by simple flag method in `ICurio` interface.

**Please describe why you want this feature.**
It's currently difficult to pull off, since Curse of Binding is hardcoded to only allow to apply itself to armor. It is again possible with the use of Mixin, and having it implemented on the sid

[2020-11-09 08:23] #71 closed, assigned to TheIllusiveC4

[2020-11-09 08:23] #67 closed, assigned to TheIllusiveC4

[2020-11-09 08:24] #69 closed, assigned to TheIllusiveC4

[2020-11-09 10:34] Aizistral commented on #80
I feel like this might happen because of this:

https://github.com/TheIllusiveC4/Curios/blob/49ca4b6dd27c6f6b842db82fa12efd4821e39d13/src/main/java/top/theillusivec4/curios/common/capability/CurioItemCapability.java#L40

The javadoc of `IStorage#writeNBT` explicitly specifies:

`@return a NBT holding the data. Null if no data needs to be stored.`

The implementation of this method in `CurioItemCap

[2020-11-09 10:41] Aizistral commented on #84
I can confirm this happens in dev environment with only Curios 4.0.2.0, with only change being enabled `DEBUG` boolean in main class to have some of those slots. Didn't investigate on what could cause this yet, but plan to.

[2020-11-09 11:45] Aizistral commented on #80
Nah, I misguessed this. The `readNBT`/`writeNBT` methods don't seem to be ever called at all, apart from having little relation to items that do not provide ICurio capability.

The issue itself I was able to reproduce though, and it indeed for whatever reason only happens when breaking Tall Grass. I haven't tried that many blocks yet, but common stuff like dirt, or normal grass doesn't cause this.

[2020-11-09 12:26] Aizistral commented on #80
Alright, so, what little evidence on this I was able to gather in my fresh instance:

1. Happens with Tall Grass and few other identical example of double-block plants, like Rose Bushes and Sunflowers.

2. Happens regardless of whether lower or upper block of plant is broken.

3. Doesn't happen with anything else, including different double-block plantlife and double-blocks in general. I tried thi

[2020-11-09 13:00] Aizistral commented on #80
![image](https://user-images.githubusercontent.com/47505981/98544156-e015e400-2293-11eb-80bc-81558fcfcb38.png)

[2020-11-09 20:09] Aizistral commented on #84
Okay, it's not all that simple. Trying to reproduce this in fresher fresh instance and equipping stuff into slots works fine. I specifically set Forge version to 34.1.25 and registered whole 16 slots to check this out, got nothing.

This, however:

...indeed happens, with impressive persistency.

It would appear that main subject of this issue is likely to be caused by some other mod interference,

[2020-11-09 21:01] ochotonida opened #88 "Curio slots don't get added on servers"
#### Versions:
* Curios: 1.16.3-4.0.2.0
* Forge: 34.1.0 & 35.0.7
#### Observed Behavior:
Clients playing on servers don't have any curio slots in their inventory
#### Steps to Reproduce:
1. Create a server with Curios and either a datapack or a mod which adds curio slots (I used Artifacts 1.16.3-2.6.0)
2. Join the server and open the curios inventory

[2020-11-09 21:06] ochotonida opened #89 "Curios command crashes clients"
#### Versions:
* Curios: 1.16.3-4.0.2.0
* Forge: 34.1.0 & 35.0.7
#### Observed Behavior:
Clients crash when trying to use the curios command on servers
#### Steps to Reproduce:
1. Create a server with Curios
2. Join the server as a server operator
3. Type `/curios` in chat, the client crashes when the autocomplete options appear

[2020-11-10 06:22] #75 closed, assigned to TheIllusiveC4

[2020-11-10 06:22] #77 closed, assigned to TheIllusiveC4

[2020-11-10 06:22] #78 closed, assigned to TheIllusiveC4

[2020-11-10 06:22] #80 closed, assigned to TheIllusiveC4

[2020-11-10 06:22] #84 closed, assigned to TheIllusiveC4

[2020-11-11 16:18] Aizistral opened #91 "Infinite log spam after messing around with recipe book"
#### Versions:
* Curios: 1.16.4-4.0.2.1
* Forge: 1.16.4-35.0.7
#### Observed Behavior:
This: https://youtu.be/KOv4ZeYlw-c
#### Expected Behavior:
Nothing like this.
#### Steps to Reproduce:
I still can't figure out the exact sequence of actions required to recreate this, but my video linked above should give a clear image of what I clicked and in which order before this happened.

My initial suspi

[2020-11-18 18:38] ochotonida commented on #88
forgot to close this, my bad :p

[2020-11-18 18:38] #88 closed, assigned to TheIllusiveC4

[2020-11-25 06:37] #89 closed, assigned to TheIllusiveC4

[2020-11-25 06:37] #91 closed, assigned to TheIllusiveC4

[2020-12-01 21:40] NashieArtz opened #93 "Game crashes on command [Server]"
After hitting spacebar after the word "add" with the command /curios add, the game completely crashes on severs. Singleplayer is fine.
#### Versions (Be specific, do not write "latest"):
* Curios: Curios API 1.16.3-4.0.2.0
* Forge/Fabric: Forge 34.1.42
#### Observed Behavior: Game crashes
#### Expected Behavior: Add more slot to specified slot.
#### Steps to Reproduce:
1. /curios add
2. hit the sp

[2020-12-01 22:29] Aizistral commented on #93
It's been fixed in 4.0.3.0. Despite being marked as 1.16.4-only on CurseForge, this release should work fine on 1.16.3 either.

[2020-12-01 22:48] TheIllusiveC4 commented on #93
I've recently updated the file on CurseForge to reflect that it's compatible with 1.16.3. So, as Extegral said, just update to Curios 4.0.3.0 and that should solve your issue.

[2020-12-01 22:48] #93 closed, assigned to TheIllusiveC4

[2020-12-09 08:07] aaronhowser1 opened #94 "Shift-Click Curios into their slots even when not on screen"
#### Versions (Be specific, do not write "latest"):
* Curios: curios-forge-1.16.4-4.0.3.0
* Forge/Fabric: forge
#### Observed Behavior:
![image](https://user-images.githubusercontent.com/15698722/101602130-3bd2aa80-39c3-11eb-9d4d-06b8c9461b84.png)
shift clicking does nothing
![image](https://user-images.githubusercontent.com/15698722/101602148-43924f00-39c3-11eb-89e9-ce743ece1224.png)
shift clicki

[2020-12-09 12:54] Aizistral commented on #94
I would say that is to be expected, granted invisible slots technically do not exist at all as part of inventory, but if it worked that way it would make some sense either.

[2020-12-09 18:48] TheIllusiveC4 commented on #94
This is more of a feature request than a bug because it's working exactly as intended. It's a little trickier than it seems because, to make this feature, I need to not only allow the technical ability to move an item into any available slot but also provide some feedback to the user that this was done. This is because it's a little weird if a user accidentally shift-clicks an item they didn't kno

[2020-12-15 20:23] Mike-U5 opened #95 "Status Effects with Curious Interface"
Currently, status effects do not show up on the hud with the Curio interfaces open. It would be helpful if it did.

[2020-12-27 18:48] Daejangnamu opened #96 "[curios forge-1.16.4-4.0.3.0] Crash on world start"
[crash-2020-12-28_03.43.04-server.txt](https://github.com/TheIllusiveC4/Curios/files/5745023/crash-2020-12-28_03.43.04-server.txt)

forge version: 1.16.4-35.1.12

[2020-12-27 19:16] TheIllusiveC4 commented on #96
This is an issue with some mod called Project MMO. You should report this issue to that project instead.

[2020-12-27 19:16] #96 closed, assigned to TheIllusiveC4

[2020-12-31 17:18] waliyt2000 opened #98 "Custom Elytra texture/resource is rendered by the mod"
When using a texture pack that changes the texture of Elytra ONLY WHEN the name of the Elytra is changed, Curios mod should render it. The texture pack that I am using: https://www.planetminecraft.com/texture-pack/more-elytras-in-vanilla-minecraft-requires-optifine/

The texture for the Elytra changes depending on what you rename it to.

[2021-01-01 03:41] TheIllusiveC4 commented on #98
I believe you're referring to Curious Elytra, not Curios itself. Either way, this is not something that can be addressed because, as far as I'm aware, there's no way for me to hook into the changed texture.

[2021-01-01 03:41] #98 closed, assigned to TheIllusiveC4

[2021-01-07 21:09] slave2midna opened #99 "Boot Slot missing Icon"
#### Versions (Be specific, do not write "latest"):
* Curios: 4.0.3.3
* Forge/Fabric: 35.1.4
#### Observed Behavior: Missing 'Boots' icon
#### Expected Behavior: When using a mod that adds 'boot' accessories, a slot is added but there is no icon displayed for it.
#### Steps to Reproduce:
1. Install Curios API with extra mod 'Artifacts'
2. Open Curios inventory and notice the addition of a 'boots'

[2021-01-07 22:46] TheIllusiveC4 commented on #99
Report this to the Artifacts developer, as I have no control over the boots slot.

Also, every Curios slot is optional. Even as a user, you have the option to disable it if it's present.

[2021-01-07 22:46] #99 closed, assigned to TheIllusiveC4

[2021-01-08 21:14] slave2midna commented on #99
Roger that! Thank you!!

[2021-01-13 18:55] 47delasPECIIKOMODO opened #100 "can't load my world after update"
updated your mod and now i can't load my world
#### Versions (Be specific, do not write "latest"):
* Curios: curios-forge-1.16.4-4.0.3.4
* Forge 1.16.4-forge-35.1.36
#### Observed Behavior:
#### Expected Behavior:
#### Steps to Reproduce:
1.
2.
3.
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
[debug.log](https://github.com/TheIllusiveC4/Curios/files/5810554/debug.

[2021-01-13 22:39] TheIllusiveC4 commented on #100
You're loading up a lot of other mods as well, and there's nothing to indicate this is a Curios issue. Especially since I have not made any data pack changes in a long time. This seems to be an issue with either your data pack or your world itself. I'd suggest trying to redownload the modpack or, without another alternative, create a new world in order to resolve the issue.

[2021-01-13 22:39] #100 closed, assigned to TheIllusiveC4

[2021-01-16 15:11] ChloeDawn opened #101 "LivingEntity context for ICurio#canRightClickEquip"
**Please describe the new feature or change.**
Add the interacting entity to the context of ICurio#canRightClickEquip

**Please describe why you want this feature.**
I have an item that can only be equipped in the body slot if it is not already present in the chest plate slot, and currently have to proxy equipping through the `PlayerInteractEvent.RightClickItem` event to support this behavior.

[2021-01-16 15:18] ChloeDawn opened #102 "Remove use of "right click" descriptions in API methods"
**Please describe the new feature or change.**

Rename `canRightClickEquip` to `canEquipFromHotbar` and `playRightClickEquipSound` to  `playHotbarEquipSound` (or similar, TBC).

**Please describe why you want this feature.**
The implication that the player is right-clicking is (presumably) based upon common Forge events such as `PlayerInteractEvent.RightClickItem`, however, these names are bad, be

[2021-01-16 15:37] TheIllusiveC4 commented on #102
You bring up a good point. I'll add in new renamed methods (which will also address your other issue about additional context) for the current API version and deprecate the existing ones, with eventual removal when appropriate, to avoid continued use of the misleading terminology.

[2021-01-16 20:36] ChloeDawn commented on #101
I had not realised that `canEquip` is also checked for hotbar usage, my apologies. There is enough context for what I need, and likely for what anyone else will need.

[2021-01-16 20:36] #101 closed, assigned to TheIllusiveC4

[2021-01-26 15:24] ktkk opened #103 "Adding a head slot for the Create goggles"
#### Versions (Be specific, do not write "latest"):
* Curios: 1.16.4-4.0.3.5
* Create: 1.16.3+4_v0.3
* Forge/Fabric: 35.1.28
#### Observed Behavior: I followed the How to Use: Forge guide to try and add a Curio slot for the Create goggles in order to be able to wear them simultaneously with a helmet. The slot is showing up and working but the Create tool tip is not visible when the goggles are equ

[2021-01-26 22:38] TheIllusiveC4 commented on #103
This is probably because Create is checking specifically for the helmet slot, so you cannot have this functional in your custom Head slot. You'd need to ask for integration directly from the Create developers.

[2021-01-26 22:38] #103 closed, assigned to TheIllusiveC4

[2021-01-29 02:10] ChloeDawn opened #104 "Equip Sound Event Getter"
**Please describe the new feature or change.**
A getter for ICurio/ICurioItem that returns the equip sound event

**Please describe why you want this feature.**
I am attempting to add support in [Armor Sound Tweak](https://www.curseforge.com/minecraft/mc-mods/armor-sound-tweak) but Curios' play method plays the sound event on the server.

[2021-01-30 02:58] CythonDotPyc opened #105 "Configuration 1.16.4"

[2021-01-30 03:00] CythonDotPyc commented on #105
How to configure quantity of some slot? I know about /curious add, but it adds only for one player, and other players wont have a additional slot.

[2021-01-30 03:49] TheIllusiveC4 commented on #105
Check out the wiki section for users
https://github.com/TheIllusiveC4/Curios/wiki/How-to-Use:-Users

It explains how to configure slot settings universally.

[2021-01-30 03:49] #105 closed, assigned to TheIllusiveC4

[2021-01-30 07:45] #102 closed, assigned to TheIllusiveC4

[2021-01-30 07:45] #104 closed, assigned to TheIllusiveC4

[2021-02-12 07:15] Lothrazar opened #107 "isItemValid method on the result of CuriosApi.getCuriosHelper().getEquippedCurios returns true when the itemstack is not valid"
#### Versions (Be specific, do not write "latest"):

mc_version=1.16.5
forge_version=36.0.12
curios_version=1.16.5-4.0.4.0

# Goal:

I have an item stack that IS a curio, but only one type.

I want to Equip an itemstack onto a player, in a Curios slot that is valid and matches that type

# Strategy:

First get the curios capability with the API:
CuriosApi.getCuriosHelper().getEquippedCurios(player

[2021-02-12 08:56] TheIllusiveC4 commented on #107
`ICuriosHelper#getEquippedCurios` only returns a wrapper of currently equipped curios, not the actual curios inventory itself. For that, you're looking for `ICuriosHelper#getCuriosHandler`.

For your implementation, it'd look something like this:
[code]
Basically, use the curio tags to retrieve the right `ICurioStacksHandler` instances so that your types always match and loop through the result of

[2021-02-12 20:34] Lothrazar commented on #107
Worked perfectly, thanks!

[2021-02-12 20:34] #107 closed, assigned to TheIllusiveC4

[2021-02-18 16:10] ochotonida commented on #94
Perhaps you could move the scroll bar when shift clicking such that the item is still on screen afterwards?

[2021-02-18 16:36] ochotonida opened #108 "Shift clicking a curio doesn't prioritize non-cosmetic slots"
#### Versions:
* Curios 1.16.5-4.0.4.0
* Forge 36.0.14
#### Observed Behavior:
When shift clicking a curio, if there is an available cosmetic slot before the first available non-cosmetic slot, the curio will go in the cosmetic slot.
#### Expected Behavior:
Shift clicking should prioritize available non-cosmetic slots.
#### Steps to Reproduce:
1. Enable cosmetic slots and make sure there's at least

[2021-03-02 12:09] Rileybutt opened #109 "Bug with Origins compat?"
#### Versions (Be specific, do not write "latest"):
* Curios:
* curios-fabric-0.0.11-1.16.4
* Forge/Fabric:
* fabric-loader-0.11.1-1.16.5
#### Observed Behavior:
Origins mod allows for origins that restrict armor levels based on defense given. This means that the default origin "Elytrian" can only wear armor with defense of chainmail and less. You physically can't click diamond or netherite into t

[2021-03-02 21:34] #109 closed, assigned to TheIllusiveC4

[2021-03-04 15:44] BookerCatch opened #110 "Curios Button Clips With Quark Backpack"
The GUI button to open the Curios screen clips with the player model in the inventory screen when the Quark backpack is equipped. This is because the backpack shifts the inventory slots up and resizes the GUI, but the Curios button does not change in position.

I saw you implemented this QoL fix for Diet, and it would be nice if it were also implemented for the Curios button.
![Capture](https://us

[2021-03-10 02:34] AzureDoom opened #112 "[Fabric] Outdated REI causing issues in dev"
* Curios: 0.0.12-1.16.5
* Forge/Fabric: Fabric

You are shipping a super old REI version, which cause issues with newer versions in development.

[2021-03-10 02:48] #112 closed, assigned to TheIllusiveC4

[2021-03-10 03:01] TheIllusiveC4 commented on #112
I've released the 0.13 update that should address this. It uses the updated version that you PRed but also removes REI as an implementation-level dependency so that Curios no longer ships it at all to avoid this issue in the future.

[2021-03-13 18:51] fullshadowcat opened #114 "Missing additional inventory slots after re-logging into the server."
#### Versions:
* Curios 1.16.5-4.0.5.0
* Forge: 1.16.5-36.0.48
#### Observed Behavior:
After re-login on server I cannot open my curios inventory and the items worn are not displayed on the character. After death, everything appears again and I can open the curios interface until the next re-login.
#### Expected Behavior:
After logging out of the server and logging in again curios inventory should

[2021-03-16 00:35] Archerelly opened #115 "Game Crash"
#### Versions (Be specific, do not write "latest"):
* Curios: 4.0.5.0
* Forge/Fabric: Forge 36.0.58
* Curious Elytra 4.0.2.3
#### Observed Behavior: Game crashes when I try to put an item into any curios slot.
#### Expected Behavior: Game should not crash.
#### Steps to Reproduce:
1. Open inventory.
2. Put Elytra (from Curious Elytra) into back slot.
3. Game crash
...

Crash Log: Please use a past

[2021-03-16 01:35] TheIllusiveC4 commented on #115
I can't be sure since I don't know your Caelus version, but this sounds like a similar issue I heard about so I think you just need to update Caelus to 2.1.3.0.

[2021-03-16 01:35] #115 closed, assigned to TheIllusiveC4

[2021-03-23 20:22] ClaudiusMinimus opened #116 "Curios Gui Missing"
I noticed in my modpack [Create on a Potato PC](https://www.curseforge.com/minecraft/modpacks/create-on-a-potato) that the Curios GUI was missing the hand slot when I tried to use the Curious Knuckles. I then created a new instance with only Curios and JEI. What I found was the four default items in Curios namely: Curious Amulet, Curious Crown, Curious Knuckles, and Curious Ring can not be used if

[2021-03-24 01:33] TheIllusiveC4 commented on #116
The four items are normally unobtainable except in Creative mode, so there's no reason to supply default slots.

If you're designing your modpack so that they're obtainable, either through custom recipes or rewards, then it's expected that you configure your user's slots as illustrated [here](https://github.com/TheIllusiveC4/Curios/wiki/How-to-Use:-Users) so that they're available.

[2021-03-24 01:33] #116 closed, assigned to TheIllusiveC4

[2021-03-24 02:03] ClaudiusMinimus commented on #116
Thank you

[2021-03-25 14:42] ShardPerson opened #117 "Curios menu not accessible when joining server, both with LAN server and with actual dedicated server"
-->
#### Versions (Be specific, do not write "latest"):
* Curios: curios-forge-1.16.5-4.0.5.0
* Forge/Fabric: 36.1.0
*
* When joining a server, Lan or dedicated, the curios menu is not accessible, the icon is there but it doesn't do anything
#### Steps to Reproduce:
1. Install curios and any mod that uses curios in your server
2. Access the server from another computer if it's a single player worl

[2021-03-25 19:23] TheIllusiveC4 commented on #117
Which mod that uses Curios did you install for your reproduction step?

[2021-03-27 00:31] Adriborg8 opened #118 "so I downloaded curious and any modded item that effects the look of my character causes my game to crash anyone know why"
any modded item that changes my look crashes the game and I have no idea why it doesn't matter which mod the item is from relics artifacts etc... it doesn't change anything so it has to be a problem with curios
AND THERE IS NO CRASH LOG BECAUSE I spent 30 minutes trying to get a crash log but it's an instantly freeze and close game crash and then I have to load a backup because it CORRUPTS THE ENT

[2021-03-27 08:46] TheIllusiveC4 commented on #118
As explained in our Discord discussion, you just need to update your Caelus version to 2.1.3.0+.

[2021-03-27 08:46] #118 closed, assigned to TheIllusiveC4

[2021-03-31 16:05] MarioSMB opened #120 "[1.16.5] Error when stopping server"
#### Versions (Be specific, do not write "latest"):
* Curios: 4.0.5.0
* Forge/Fabric: Forge 36.0.7
#### Observed Behavior: When stopping a server, a configuration error is shown which may cause the server to hang forever without actually stopping
#### Expected Behavior: For the server to stop cleanly and not hang with errors
#### Steps to Reproduce: Simply stopping a running server should reliably

[2021-03-31 18:59] MarioSMB commented on #120
After some hours of debugging, I've tracked down the cause to another mod: Performant. Its config was rewritten in a recent update and it didn't handle an old config properly. Apologies for the false positive here.

[2021-03-31 18:59] #120 closed, assigned to TheIllusiveC4

[2021-04-01 01:58] bconlon1 opened #121 "Invalid dist DEDICATED_SERVER error from trying to use an event subscriber in a class implementing ICurioItem."
#### Versions (Be specific, do not write "latest"):
* Curios: 1.16.5-4.0.4.0
* Forge/Fabric: 36.1.2
#### Observed Behavior: When using `@Mod.EventBusSubscriber` on an Item class implementing `ICurioItem`, the game will crash when trying to run multiplayer (only tested this within a development environment).
#### Expected Behavior: The game in multiplayer not crashing from this combination of code

[2021-04-01 06:38] TheIllusiveC4 commented on #121
This is an issue that I'm aware of. It is indeed caused by the render methods, which will attempt to be class-loaded on the server if you try to subscribe the item to an event bus. I'm not sure if it can be readily solved by adding an `@OnlyIn(Side.CLIENT)` annotation, and I worry about how that might interact with existing implementations, but I'll look into it.

For now, until the rendering gets

[2021-04-01 14:20] LinJonKur opened #122 "Bug related to Enigmatic Legacy"
Hello! I'm using the mod Enigmatic Legacy and by what I understood it uses implementation provided on the side of Curios in order to give some accessories their Fortune/Looting increase abilities. When I have equipped a amulet with fortune every ore I mine gives coal instead of iron, redstone, lapis, etc. What can I do to solve this issue?

[2021-04-01 20:38] TheIllusiveC4 commented on #122
Please follow the bug template. I need at least all version numbers and reproductions steps without any other mods except for the ones involved.

[2021-04-07 07:18] heilong-studios opened #123 "Slot Item does not give the bonuses"
Just followed the tag guide
#### Versions (Be specific, do not write "latest"):
* Curios: 1.16.5
* Forge/Fabric: 1.16.5
* Quark-r2.4-309
#### Observed Behavior: No stat change from Forgotten Hat when in head slot
#### Expected Behavior: Should provide 2 block read 1 luck and 1 armor toughness

[2021-04-11 05:27] TheIllusiveC4 commented on #123
If it's attribute modifiers you're talking about, then you either need to attach a `CurioAttributeModifiers` tag like you would a regular `AttributeModifiers` tag from vanilla or ask Quark to add Curios integration to that item. Just adding it as tag won't be enough to provide you with actual functionality while in the slot.

[2021-04-11 05:27] #123 closed, assigned to TheIllusiveC4

[2021-04-12 14:06] Aizistral opened #124 "Curio stacks validation order and method"
**Please describe the new feature or change.**
I suggest two changes to be made into how curios are loaded and validated. First - don't try to validate them before we're done with all that reading-from-NBT action and they actually are within their slots. Second - create separate method in `ICurio` and thus `ICurioItem`, specifically used to check whether or not the item can _persist_ in it's slot

[2021-04-12 18:08] TheIllusiveC4 commented on #124
Fair points. This should be easy enough to implement, so I'll try to get to this soon. Sorry for the troubles this caused in regards to your mod and its interactions with the `canEquip` method.

[2021-04-13 02:10] viiizee commented on #124
I see, well I look forward to their fix! In the mean time I've asked my server members to maintain sufficient inventory space so that they don't lose their items.

[2021-04-14 05:56] TheIllusiveC4 commented on #110
https://github.com/TheIllusiveC4/Curios/pull/119

[2021-04-14 05:56] #110 closed, assigned to TheIllusiveC4

[2021-04-14 07:16] TheIllusiveC4 commented on #122
I've had a chance to do some quick experimenting, and I cannot reproduce this issue. Gaining Fortune with Enigmatic Legacy allows me to mine Redstone Ore and get Redstone Dust as normal. Again, I'll need the information I asked above in order to isolate other mod incompatibilities. If you cannot reproduce this with only Curios and Enigmatic Legacy installed, then you'll need to investigate which m

[2021-04-14 07:20] #124 closed, assigned to TheIllusiveC4

[2021-04-14 07:28] TheIllusiveC4 commented on #124
I decided to take a softer approach to this issue and instead just addressed the direct cause.

The reason this occurred is because, during the last update, I tried to consolidate validation into a single method `ICuriosHelper#isStackValid` in an effort to provide one source of truth for validity. However, my main mistake was merging together the behavior for equipping items and validating items,

[2021-04-14 13:13] Aizistral commented on #124
I'm just about as happy with this outcome as it could get. You have my gratitude.

[2021-04-14 13:26] Rumaruka opened #125 "[1.16.5] Snow attributes for all Curios Slots"
Hello, I'm developing my mod and my idea is that - my items can be used for all slots - Inventory or Curios, but look image
Can I hide this? If I don`t, Can you make features? :)
Thanks!

![image](https://user-images.githubusercontent.com/8148679/114717041-188f8180-9d4e-11eb-8674-302c0ed769f9.png)
![image](https://user-images.githubusercontent.com/8148679/114717053-19c0ae80-9d4e-11eb-8de6-087d5eba

[2021-04-14 14:56] TheIllusiveC4 commented on #125
Yes, you can hide it.

Return `false` in `ICurio#showAttributesTooltip`:
https://github.com/TheIllusiveC4/Curios/blob/57d890980bbdddd38e3433ebfa8460d668675b62/src/main/java/top/theillusivec4/curios/api/type/capability/ICurio.java#L284

[2021-04-14 14:56] #125 closed, assigned to TheIllusiveC4

[2021-04-19 22:14] InsaanNotFound opened #126 "(Fabric) Crash with many items using Curios in one inventory"
#### Summary:
**Crash log in Shulker Box case**
[code]
**Backpack case from Simple Backpacks mod:**
[code]

#### Versions:
* Curios: 0.0.13
* Forge/Fabric: both newest FAPI and FLoader
#### Observed Behavior:
Game crashes.
#### Expected Behavior:
Game does not crash and works normally.
#### Steps to Reproduce:
1. Obtain many items having Curio slot. (I used Curious Necklaces and added Curio slot t

[2021-04-19 22:26] InsaanNotFound commented on #126
Longer version of crash error with Shulker Box case: https://pastebin.com/6cHSL5kc

[2021-04-20 08:30] TheIllusiveC4 commented on #126
Curios isn't mentioned anywhere in the error log, so I'm not sure if it's a Curios issue. Have you tried replicating this with only Curios installed?

[2021-04-20 08:34] InsaanNotFound commented on #126
Yes I did, same issue occurs.

[2021-04-20 08:38] InsaanNotFound commented on #126
I will still give you mixin trace, hold on

[2021-04-20 08:41] InsaanNotFound commented on #126
https://pastebin.com/h7N05tFG
modded instance

[2021-04-20 08:50] TheIllusiveC4 commented on #126
Can you share the crash log in your instance with only Curios installed? Also, please restate the steps you took to cause the crash but without any other mods installed. Basically, I need all of the information necessary to follow your instructions on my end to replicate the issue.

[2021-04-20 08:56] InsaanNotFound commented on #126
I have tried to replicate it 3 more times with only Curios installed, and somehow issue did not occur. Seems like a mod conflict (one of my mixin trace mods is causing that)

[2021-04-20 09:09] InsaanNotFound commented on #126
I will set up new instance to try to eliminate conflicts.

[2021-04-20 13:27] InsaanNotFound commented on #126
I will redirect it to new, more clear issue ticket.

[2021-04-20 13:27] #126 closed, assigned to TheIllusiveC4

[2021-04-20 13:38] InsaanNotFound opened #127 "(Fabric) Crash with both Lithium and Artifacts present"
#### Versions:
* Curios: 0.0.13
* Fabric: 0.32.5 API / 0.11.3 Loader
* Trinkets: 2.6.7
* Artifacts: 3.2.0
* Lithium: 0.6.4
* Simple Backpacks: 1.0.36
* Things: 0.1
**Note:** Things and SB are used only to prove the issue, Trinkets is required lib for Artifacts, but does not cause crash on its own
#### Observed Behavior: Game crashes
#### Expected Behavior: Game should not crash
#### Steps to Repro

[2021-04-20 13:43] InsaanNotFound commented on #127
Weirdly enough, game can crash on my heavily modded world with only 20 apples.
Things: https://www.curseforge.com/minecraft/mc-mods/things-fabric/files/3237801
Curios: https://www.curseforge.com/minecraft/mc-mods/curios-fabric/files/3233941
Trinkets: https://www.curseforge.com/minecraft/mc-mods/trinkets-fabric/files/3100959
Artifacts: https://www.curseforge.com/minecraft/mc-mods/artifacts-fabric/f

[2021-04-20 13:45] InsaanNotFound commented on #126
New ticket: https://github.com/TheIllusiveC4/Curios/issues/127

[2021-04-20 14:42] TheIllusiveC4 commented on #127
What happens if you don't have Artifacts installed?

[2021-04-20 15:06] InsaanNotFound commented on #127
Game does not crash on trying this technique

[2021-04-20 15:42] TheIllusiveC4 commented on #127
Hmm, so it seems like Artifacts might be at the core of this issue. It could be a standalone issue with Artifacts or a specific cross-compatibility issue with Curios, not really sure. But I don't see anything that could cause this at a glance. This'll be a bit tricky to figure out.

You said this can be replicated with any stackable Curios. Which others have you tried? And have you tried container

[2021-04-20 15:45] InsaanNotFound commented on #127
Issue can occur rarely with shulker boxes, but chances of that happening are very low. I modified Curious Necklace to be stackable; same effect

[2021-04-20 16:10] TheIllusiveC4 commented on #127
Shulker Boxes in what context? In the Curios inventory via Curious Shulker Boxes, or just inserting the items in regular Shulker Boxes placed in the world?

[2021-04-20 16:26] InsaanNotFound commented on #127
As in inserting into regular shulker boxes; those would simply not drop; look up crashlog I sent in previous issue ticket about s.boxes

[2021-04-20 16:41] InsaanNotFound commented on #127
Also I might have bad news...
I booted up my monstrous instance with 350 mods, but removed artifacts, created new world, filled a backpack full of apples, and everything was fine, then I tried to do the same with shulkerbox; it would not drop. Then I removed one stack of apples from backpack and inserted it again; game crashed. Noting that Artifacts were not there. It seems that the issue is roote

[2021-04-23 17:26] VoxelCreatesStuff opened #128 "[Forge] Compatability Issue"
Basicly this Happened:
Details:
	Mod File: backpacked-1.9.0-1.16.3.jar
	Failure message: Mod backpacked only supports curios 4.0.1.0 or above
		Currently, curios is 1.16.5-4.0.5.1

Im kinda new to 1.16 modding so what is going on?

[2021-04-23 17:35] VoxelCreatesStuff commented on #128
Removed the mod in favor of another backpack after tinkering around with different curios versions, now the next problem!
Details:
	Mod File: VampiresNeedUmbrellas-1.16.5-1.1.1.jar
	Failure message: Mod vampiresneedumbrellas only supports curios 1+
		Currently, curios is 1.16.3-4.0.1.0

[2021-04-23 19:51] Logicless36 commented on #128
Having the same issue,
Latest version of Tetra does not support latest version of Curios
CuriousElytra however does work with latest version of Curios

[2021-04-24 00:10] TheIllusiveC4 commented on #128
From my own testing, Curios 1.16.5-4.0.5.1 works fine when loaded with:
tetra-1.16.5-3.8.0
backpacked-1.9.0-1.16.3
VampiresNeedUmbrellas-1.16.5-1.1.1

I'm not sure why these errors could be popping up on your ends. What launchers are being used in these environments?

[2021-04-24 10:20] TinLiovic commented on #128
Problem was in forge. I downloaded the recomended version and it worked! Latest forge version is making problems for you. Use forge 36.1.0

[2021-04-24 15:38] VoxelCreatesStuff commented on #128
Jep that fixed it!

[2021-04-24 19:41] ocram9 commented on #128
This is because of a forge update, specfically this merge: MinecraftForge/MinecraftForge#7710

[2021-04-25 01:33] TheIllusiveC4 commented on #128
Oh ok, I see. I understand the issue now.

To those encountering this issue, you can downgrade to Forge 1.16.5-36.1.9 or lower as a temporary workaround. Ideally however, you can submit an issue with the developer of the mods that are throwing this error for Curios and let them know that their dependency versioning is likely incorrect.

A common mistake is listing the version for the dependency as

[2021-04-25 01:33] #128 closed, assigned to TheIllusiveC4

[2021-04-25 13:08] LLIaMMaH opened #129 "Forge 31.1.10+ does not correctly check version compatibility."
Ядро MohistMC использует последнюю версию Forge, указать какую версию использовать возможности нет. Как можно избавиться от данной ошибки?
The MohistMC kernel uses the latest version of Forge, there is no way to specify which version to use. How can you get rid of this error?

* Curios 4.0.5.1:
* Forge 31.1.13:

`-- MOD tetra --
Details:
	Mod File: SC-tetra-1.16.5-3.8.0.jar
	Failure message: Mod t

[2021-04-25 16:18] TheIllusiveC4 commented on #129
Duplicate of https://github.com/TheIllusiveC4/Curios/issues/128

Unfortunately since you in particular cannot downgrade Forge, then the only option for you is to wait until the Tetra author updates their version dependency syntax.

[2021-04-25 16:18] #129 closed, assigned to TheIllusiveC4

[2021-04-25 21:34] kencinder commented on #128
The bigger problem is mods for some reason using minecraft version IN their own version declaration. There's no reason to call your mod version `1.16.5` dash anything, there's a depend on minecraft version possible in mods.toml, pre-pending a minecraft version instead of just doing `4.0.5.1` leads to things like this, and it's only going to get worse now that Forge has imposed proper declaration o

[2021-04-26 00:22] TheIllusiveC4 commented on #128
The matter of what versioning to use is largely subjective, as developers have their own opinions and workflows that they prefer using. Personally, I find having a MC version prefix/suffix is vital for conveying the full amount of detail succinctly.

I will also point out that the Forge docs currently advocate for appending the MC version so it's not exactly without precedent. If it's desirable to

[2021-04-26 00:25] kencinder commented on #128
Suppose that's true and seeing it right on Forge's own docs in that manner, it's obvious that the PR didn't account for it and should have. Though it would be more down to the depending mod to check and declare correctly.

[2021-04-26 22:26] NuGearv2 opened #130 "Bug where items drop when you die and recover your items with tombstone mod"
Some items dont stay in their slots after death. when u go back to collect your items from ur tombstone. the item will be in ur main inventory n not the slot you placed it in. it can also drop if u have a full inventory an you dont have space for it.

egs are - items for Curios slot alone (works with any slot)

             - items that have multiple types (ring. necklace. bracelet ECT

i hope you

[2021-04-26 23:42] TheIllusiveC4 commented on #130
Please follow the bug report template. I need version numbers for Forge and Curios, and I need you to list specific steps to reproduce the issue and specify which items are involved.

[2021-04-27 18:41] Gawello opened #131 "Disappearing Curious menu with plugins"
Hi,
I have a problem with disappearing menu. When I add plugin SkinRestorer, slots and menu of Curious mod doesn't work. After I type "/kill" and respawn menu starts working again, until I leave the server. When I reconnect, the problem returns.

Versions:
curios-forge-1.16.5-4.0.5.0
SkinRestorer v14.0.2
Server engine - Cauldron Mohist - Build #453 1.16.5 (java8)

When I delete plugin, everything

[2021-04-29 16:19] ClaudiusMinimus opened #132 "Add Image and Label to slot"
As I have posted on your curseforge page and it seems you prefer questions to be posted here, I decided to ask you again.

curios-forge-1.16.5-4.0.5.1.jar
Forge 36.1.0

How do I add an image and a label to a custom slot? I have added a data pack for the slot and it works fine. I have also added a resource pack for the image using the same naming conventions you do in your mod, but it does not appe

[2021-04-29 19:35] TheIllusiveC4 commented on #132
For the label, you need to add a translation file such as `en_us.json` to your resource pack and add a key for your slot.

For the image, this is a known issue that I'll need to address.

[2021-04-29 20:35] ClaudiusMinimus commented on #132
I added the file `en_us.json` as follows and it worked perfectly!

`{
  "curios.identifier.magnet": "Magnet"
}`

Thanks,
CM

[2021-04-29 20:35] #132 closed, assigned to TheIllusiveC4

[2021-05-01 16:24] #114 closed, assigned to TheIllusiveC4

[2021-05-02 22:50] fullshadowcat commented on #131
Also faced with this problem, had to give up skins.

[2021-05-10 02:30] Wondering-Oracle opened #133 "Unable to load saves."
#### Versions (Be specific, do not write "latest"):
* Curios: 0.0.13
* Forge/Fabric: Fabric 0.11.3
#### Observed Behavior:
Unable to load saves or create new ones.
#### Expected Behavior:
#### Steps to Reproduce:
1. Attempt to load a save or create a new one.
2.
3.
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
No crash, game freezes and needs to be ended from task

[2021-05-10 03:13] TheIllusiveC4 commented on #133
Fabric API and Cardinal Components API versions?

[2021-05-12 15:23] Wondering-Oracle commented on #133
Fabric API: 0.34.2
Cardinal Components: 2.72

[2021-05-12 18:56] TheIllusiveC4 commented on #133
You need to update Cardinal Components to 2.8.2 if you're using Fabric API 0.34+.

[2021-05-12 18:56] #133 closed, assigned to TheIllusiveC4

[2021-05-12 19:10] Wondering-Oracle commented on #133
oh, sorry

[2021-05-15 15:27] MagmaSlime123 opened #137 "Game locks up upon any world being loaded."
#### Versions (Be specific, do not write "latest"):
* Curios: curios-fabric-0.0.13-1.16.5
* Forge/Fabric: Read above. Using Fabric.
#### Observed Behavior: Game locking up.
#### Expected Behavior: World loading normally.
#### Steps to Reproduce:
Load a world.

Crash Log: No report is given. Logs below.
[latest.log](https://github.com/TheIllusiveC4/Curios/files/6487665/latest.log)

[2021-05-15 22:59] TheIllusiveC4 commented on #137
Likely a duplicate of https://github.com/TheIllusiveC4/Curios/issues/133

Update Cardinal Components API to 2.8.2+.

[2021-05-15 22:59] #137 closed, assigned to TheIllusiveC4

[2021-05-16 01:54] MagmaSlime123 commented on #137
Isn't that built into the mod.

[2021-05-16 03:23] TheIllusiveC4 commented on #137
Yes, but you can download and use a more recent version of CCA yourself that will override the embedded one. That's the temporary solution until I update the Curios dependencies.

[2021-05-16 16:46] MagmaSlime123 commented on #137
Oh, alright. Thanks, sorry for the duplicate issue. Didn't know this was already reported.

[2021-05-21 15:48] CREEATION commented on #31
was about to say "this is still happening with version `1.16.5-4.0.5.1`", but i guess this issue is related to the recipe book button and not the gui?

my issue is the recipe book gui closing.

1. open inventory
2. open recipe book gui
3. click curios button
4. recipe book gui closes

[2021-05-21 15:56] CREEATION opened #138 "[Feature Request] Keep Curios GUI open when toggling inventory"
would work like the recipe book gui, where the gui remembers its state when closing the inventory and reopening it. 🐢

[2021-05-29 16:42] cabinary commented on #131
Wow, I have the same problem, but I don't know that is only because a skin plugin problem. I use MySkin plugin in my server, and curios returns to normal after unload the plugin.
It seems that if want to show skin, could only set "online-mode=true" and give up all skin plugins.

[2021-06-01 11:29] Foozey opened #140 "Curios button messes up while wearing Quark Oddities backpack and then opening the recipe book"
![image](https://user-images.githubusercontent.com/68371808/120316041-548f9d80-c320-11eb-9254-36b2d93bafe0.png)

Let me know if I should post on their end instead/as well.

[2021-06-01 22:17] Sam-Wave commented on #131
Same here, but if I go to nether and back, it work until restart.

[2021-06-03 08:59] SihenZhang opened #141 "Right click Curios item does not handle client side."
#### Versions (Be specific, do not write "latest"):
* Curios: 1.16.5-4.0.5.1
* Forge/Fabric: forge-1.16.5-36.1.24
#### Observed Behavior:
When right click a Curios item, Curios will not handle the client logic because only on the server side, the event will be canceled. https://github.com/TheIllusiveC4/Curios/blob/57d890980bbdddd38e3433ebfa8460d668675b62/src/main/java/top/theillusivec4/curios/comm

[2021-06-03 12:05] Foozey commented on #138
Agreed with this. I think it would be a nice a feature.

[2021-06-03 12:09] Foozey opened #142 "Creative Mode Issue"
If you're in creative mode, then click survival inventory, then click the Curios button, the recipe book button is missing. The diet button from your diet mod is there, however the recipe book button is not. Not too sure if this is an issue with Curios or even something you can resolve. But as usual, thought I'd let you know in-case you can do something about it.

[2021-06-03 21:54] C4PTRAMPAGE opened #143 "commands are explained badly"
what is the full command syntax? because "/curios add head @a" doesn't work, also please show a full example command here https://github.com/TheIllusiveC4/Curios/wiki/Commands instead of just parts.

[2021-06-03 22:03] TheIllusiveC4 commented on #143
You'll have to be more specific when you say it "doesn't work". What does the error say? You've already gleaned the full command syntax, it's `/curios add head <player name>`. And there are in-game auto-completion suggestions for each command to help out as well.

[2021-06-05 02:33] Rushmore75 opened #144 "Can't load on server"
When I try and load a moded server using this mod as well as some others (such as backpacked, tetra, etc.) but is crashes and says "Backpacked only supports curios 4.0.1.0 or above"
"Currently, curios is 1.16.5-4.0.5.1"
curios is definitely above the required version. But it doesn't realize it...

[2021-06-05 02:58] TheIllusiveC4 commented on #144
I believe this was fixed from Backpacked's end, make sure you've downloaded the latest version.

[2021-06-05 02:58] #144 closed, assigned to TheIllusiveC4

[2021-06-07 16:50] TheIllusiveC4 commented on #131
Unfortunately, I don't think I can solve this issue as I do not develop nor provide support for environments with plugins. If anyone has any further inputs about a possible solution on my end, please feel free to interject.

[2021-06-07 16:50] #131 closed, assigned to TheIllusiveC4

[2021-06-07 16:51] #122 closed, assigned to TheIllusiveC4

[2021-06-07 16:51] #117 closed, assigned to TheIllusiveC4

[2021-06-07 16:52] #130 closed, assigned to TheIllusiveC4

[2021-06-08 06:28] #108 closed, assigned to TheIllusiveC4

[2021-06-08 06:28] #141 closed, assigned to TheIllusiveC4

[2021-06-08 06:28] #140 closed, assigned to TheIllusiveC4

[2021-06-08 07:15] Foozey commented on #138
Better yet, make this feature configurable.

[2021-06-10 07:10] ghost commented on #132
Ignore below, false alarm.

~~Hi, unfortunately, I'm having a similar slot texture issue. I use KubeJS to load in the tags, textures and lang, and the tags and lang work, but I'm not getting any textures:~~

![image](https://user-images.githubusercontent.com/24266948/121480436-6bb04880-ca0e-11eb-97ec-38a6364ac6fd.png)
![image](https://user-images.githubusercontent.com/24266948/121480489-79fe6480-c

[2021-06-10 07:49] ghost opened #145 "KubeJS Asset System Compatibility"
#### Versions:
* `Forge 36.1.16`
* `Curios (Forge) 4.0.5.2`
* `KubeJS (Forge) 1605.3.10-Build.18`

__(PLEASE REFER TO FURTHER COMMENTS, THE ISSUE CHANGED SOMEWHAT BUT IS STILL A VALID ISSUE)__

#### Observed Behavior:
Despite mirroring the asset and filename structure used by Curios itself (in the KubeJS assets folder), my custom slot backgrounds are not being used.

#### Expected Behavior:
I shou

[2021-06-10 07:54] ghost commented on #145
Personally, whether this is my fault or a mod issue, I believe this is a critical section of information missing from the wiki. At least, I was unable to find any examples in the wiki related to assigning textures to your custom slots.

[2021-06-10 08:23] ghost commented on #145
P.S. How on earth did you manage to save the slot textures with a bit depth of 1? I can't figure out a way to do it that doesn't completely ruin the image.

[2021-06-10 09:22] ghost commented on #143
I can confirm though (test environment, with only KubeJS and Curios installed) that custom slots setup via `curios-server.toml` cannot be removed with commands. You can remove new ones you add via commands, but you can't remove the existing ones. This issue is not present with default slots like "back" slots that were added with `curios-server.toml`.

* `Forge 36.1.16`
* `Curios (Forge) 4.0.5.2`
*

[2021-06-10 09:23] Aizistral commented on #145
What do you mean by "bit depth of 1"?

[2021-06-10 09:24] ghost commented on #145
![image](https://user-images.githubusercontent.com/24266948/121500310-8809b080-ca21-11eb-9eea-d3cbc4d0a46c.png)

I can tell it's not just superficial either, because the file is MUCH tinier than my 16x16 transparent PNGs that also use only 2 indexed colours. Just compare:
![image](https://user-images.githubusercontent.com/24266948/121500508-b7202200-ca21-11eb-8991-46e63e884887.png) ![image](https:

[2021-06-10 09:33] Aizistral commented on #145
This is literally the first time I see this "bit depth" thing on images. Was it there all along and just isn't that important, or is it me randomly hopping across parallel universes again?

[2021-06-10 09:45] ghost commented on #145
Bit depth is how much colour information (in bits) is stored per pixel!

By the way, do you know how I can get these textures working? I'm pulling my hair out over this, lol.

[2021-06-10 10:33] ghost commented on #145
~~As it turns out, I'm a dumbass and didn't see the `icon` entry in the wiki. Apologies for the false alarm.~~ __This is still an actual issue, it refuses to work.__

I'd close the issue, but I am still curious about the 1-bit-depth image thing, so I'll leave it open so maybe that question can be seen and answered quickly before the issue is closed!

[2021-06-10 11:03] ghost commented on #145
Okay, I've been here for an hour trying to find the correct string to use for the `icon` parameter, and I have not found a way to get it to work. I still think I was right about the wiki not covering this well enough. There needs to be an example.

I can see in the code that it just turns the input string into a ResourceLocation, but nothing I input works.

[2021-06-10 11:14] ghost commented on #145
Here's my current `curios-server.toml` (that doesn't work...):
[code]

[2021-06-10 12:18] ghost commented on #145
Still haven't figured it out. Curios refuses to find the resources.

[2021-06-10 12:30] ghost commented on #145
I thought this was my fault, but I am realising that I can't even get Curios to use its *own* assets in slots.

I have tried:
* `icon = "curios:textures/item/empty_head_slot.png"`
* `icon = "curios:textures/item/empty_head_slot"`
* `icon = "textures/item/empty_head_slot.png"`
* `icon = "textures/item/empty_head_slot"`
* `icon = "curios:item/empty_head_slot.png"`
* `icon = "curios:item/empty_head_s

[2021-06-10 13:16] Aizistral commented on #145
Maybe try excluding `item` and above directories from icon path? So, either `curios:empty_head_slot` or just `empty_head_slot`. The `.png` extension is certainly not required.

[2021-06-10 13:35] ghost commented on #145
I got the head slot working with `curios:item/empty_head_slot`, however, this was just a test, and applying the same format to the other resource locations did not work:
![image](https://user-images.githubusercontent.com/24266948/121534452-974e2580-ca44-11eb-985f-79044bae6928.png)

[2021-06-10 13:52] ghost commented on #145
Have discovered that Curios can load textures from other mods too, just not from the KubeJS resourcepack:
![image](https://user-images.githubusercontent.com/24266948/121536956-daa99380-ca46-11eb-9cf4-8a1c9b29c151.png)

[2021-06-10 14:16] ghost commented on #145
What is very odd though, is that if I drag some resource texture into the assets folder of the curios jar, and reference it appropriately (same syntax and everything as the head slot texture, which I've been able to get working), __it won't work__.

[2021-06-10 14:30] ghost commented on #145
Anyways, this issue is a bit of a mess - let me know if I should open a new, clean one.

[2021-06-10 18:05] TheIllusiveC4 commented on #145
I think I know what the issue is, but you'll have to give me some time before I can look into it properly.

As for your curiosity about the image metadata, I believe that's a result of the compression from [TinyPNG](https://tinypng.com/) which is handy for shrinking image file sizes.

[2021-06-11 00:13] ghost commented on #145
Thank you! I look forward to getting them working, considering the default slot textures don't reveal much. For now, I can deal with it though.

I'll definitely check out TinyPNG!

[2021-06-16 23:02] COLDW0LF opened #148 "Feature Request: Ability to show Curios GUI in other screens"
More specifically, Quark's backpack GUI quite frustratingly obscures equipped Curios.
It'd be amazing to be able to show the Curios GUI with alternate UIs!

[2021-06-22 06:36] ghost commented on #145
Hi, Illusive! After checking out TinyPNG, I found a free program called PNGGauntlet that actually (somehow) beats TinyPNG at compressing the images down. Just thought I'd let you know, in case that was useful to you!

[2021-06-25 02:07] ocram9 opened #149 "[1.16.5 Forge] Opening Curios inventory closes the recipe book"
#### Versions:
* Curios: 1.16.5-4.0.5.2
* Forge: 36.1.32

#### Observed Behavior:
When you open the curios inventory with the recipe book open, it closes the book. When you then open the recipe book again the curios inventory stays open and you can close it with the recipe book remaining open.

#### Steps to Reproduce:
1. Open recipe book
2. Open curios inventory
3. Open recipe book again, then cl

[2021-06-25 11:46] DrunkBlood commented on #149
See #138

[2021-06-26 12:21] ThePiekar opened #150 "Configurable slot layouts"
**Please describe the new feature or change.**
A config option, that would let you assign slot types to different columns,
so that instead of all slots being displayed in a single column,
you'd be able to for instance, have all your rings in an additional column further left.
Maybe even let the items be sorted in rows instead of colums for more customization.

**Please describe why you want this f

[2021-06-26 17:55] MAXIS05 opened #151 "I can't equip the items in the curios slots"
* Curios: curios-forge-1.16.5-4.0.5.2
* Forge/Fabric: 1.16.5-forge-36.1.0

#### Observed Behavior:
 The items mods to add tags to in data packages, does not show curios info and are not added to the corresponding slots

#### Expected Behavior:
be able to insert the items in the slots

#### Steps to Reproduce:
I followed all the steps in the user guide, create the frequent slots, assign the tags to

[2021-06-26 20:19] TheIllusiveC4 commented on #151
If the items don't show the tooltip information for Curios, then the tags were not set up correctly. Can you share the data pack you used to create the tags?

[2021-06-27 14:13] MAXIS05 commented on #151
[datapacks.zip](https://github.com/TheIllusiveC4/Curios/files/6721706/datapacks.zip)

I'm surely doing something wrong, but I can't find where the error is, I tried with the lenses of the create mod (later I read that it is not compatible but I should be able to put it in the slot), with the extendible arm of create, and with the jetpack of the mod mekanism ...
with curiosity you can add any item

[2021-06-27 20:14] TheIllusiveC4 commented on #151
The file should be called `pack.mcmeta` not `pack.mcmeta.json` like you have now.

Yes.

[2021-06-28 10:16] MAXIS05 commented on #151
The file is not called pack.mcmeta.json, I have it pack.mcmeta in the folder, .json is the type of file, what type it has to be, I also tried with notepad and it is the same

[2021-06-28 19:08] TheIllusiveC4 commented on #151
That's what I'm telling you to change. It's not supposed to be a .json file, it's supposed to be a .mcmeta file. To illustrate my point, your pack doesn't work when it's a `pack.mcmeta.json` file but when I changed it to `pack.mcmeta` then it works perfectly. That's the sole source of your issue from what I can tell.

[2021-06-29 18:50] MAXIS05 commented on #151
I knew that there was something I was doing wrong, I could still clarify in the guide that the file is format ".mcmeta", since for those of us who do not know that type of format, the name pack.mcmeta leads to confusion

[2021-06-29 20:05] #151 closed, assigned to TheIllusiveC4

[2021-07-05 12:17] Speiger opened #152 "[Bug] Curio Crashes when you have null NBT for ItemStacks"
Forge. Current Source Code.

https://github.com/TheIllusiveC4/Curios/blob/1.16.x-forge/src/main/java/top/theillusivec4/curios/common/event/CuriosEventHandler.java#L512

This function crashes if someone implements a curio and doesn't put in "null" protection in writeSyncData.
ItemStacks are known to have "null" NBTTags which should be supported by curio and not require that you Validate that mcs It

[2021-07-05 23:20] Quarris opened #153 "[API] Constructing the default wrapper for ICuriosItemHandler causes NPE"
Hey, I've been working on a mod with Curio compatibility and I've needed to create new instance of the ICurioItemHandler object, which is the CurioInventoryWrapper.
I used the default Capability way, which is to invoke the Capability's factory directly, however this creates the Wrapper object with `null` player and immediately uses that null player causing NPE.
This can be found here: [CurioInvent

[2021-07-06 01:37] TheIllusiveC4 commented on #153
I'm assuming that the NPE comes from this line that references the wearer before null checks:
https://github.com/TheIllusiveC4/Curios/blob/b182e7e8a56faf0c00ea62e6852f63e555955995/src/main/java/top/theillusivec4/curios/common/capability/CurioInventoryCapability.java#L217

Couldn't the fix just involve adding a null check here and that'd be it? Is there a specific reason you need the ability to ins

[2021-07-06 07:23] Quarris commented on #153
I'm working on a grave mod and I need to save data from Curios. Currently Im saving the curio stacks directly as a map of strings to list of items which works okay-ish but is prone to bugs when curios changes or there is more data to be stored.. Ideally I'd simply be able to store an instance of the capability and serialize/deserialize it during saving/loading.

Doing a simple null check might wor

[2021-07-12 01:51] NieXavosao opened #154 "Curios Inventory Not Working in Server"
I have a modpack server
but the curios inventory isnt working (only in the server)
When i use the backpack (from backpacked) the backpack just disappear and I can't use it
but the other players can see my backpack.

####Versions:
* Curios:4.0.5.2
* Forge:36.1.32
#### Observed Behavior:
#### Expected Behavior:
#### Steps to Reproduce:

1. The Curios Inv button isnt working but exist

Crash Log: Ple

[2021-07-12 01:59] NieXavosao commented on #154
ok i just used the command reset and worked

[2021-07-12 02:42] NieXavosao commented on #154
OK SO THE COMMAND IS HELPING, BUT EVERYTIME I OPEN THE SERVER I NEED TO USE THIS COMMAND

[2021-07-14 12:32] TwistedPorkchop commented on #154
I'm having the same issue. And If I end up using the command I'll lose any items that were slotted. So it's not a viable solution.

[2021-07-14 18:56] BlankDev16 opened #155 "Package top4.theillusivec4.curios does not exist?"
#### Versions (Be specific, do not write "latest"):
* Curios: 4.0.5.0
* Forge/Fabric: Forge 36.1.0
#### Observed Behavior: When i try to compile the mod, it throws the title error
#### Expected Behavior: I just want it to compile
#### Steps to Reproduce:
1. Add a new curio
2. Import the dependencies
3. Compile
I added everything in the build.gradle AND the mcreator.gradle, so idk what's wrong at t

[2021-07-14 21:13] TheIllusiveC4 commented on #155
Curios does not officially support MCreator and, unfortunately, I do not have any experience with it to help you in any other capacity.

[2021-07-14 21:13] #155 closed, assigned to TheIllusiveC4

[2021-07-16 18:36] Semzaiy commented on #154
I have the same bug, its really annoying and i hope it will be fixed asap.
When i reset my curios inventory is gone and i want to use an elytra as back but i keep losing it.

[2021-07-16 20:56] TwistedPorkchop commented on #154
Since its a server side issue I would guess it has to do with a plugin or mod installed from either rone of us. Could both of you (@Semzaiy , @NieXavosao ) give a list of plugins and mods installed on your servers?
Mine are :

 abnormals.core
 alexsmobs
 appleskin-forge-mcl
 appliedenergistics
 AutoRegLib
 BloodMagic
 Botania
 Bookshelf
 carryon
 Citadel
 CTM -MC1
 curios-forge
 forgeessentials
 g

[2021-07-16 22:32] TheIllusiveC4 commented on #154
@TwistedPorkchop Wait, plugins? So this is not a strictly Forge environment then? What are you using to load the plugins?

[2021-07-16 22:36] TwistedPorkchop commented on #154
@TheIllusiveC4
Oh yeah no the server I'm running def can't run without plugins helping out a bit. We are running using mohist do you think that's the issue?

[2021-07-16 22:57] TheIllusiveC4 commented on #154
Yes that means your issue is a duplicate of https://github.com/TheIllusiveC4/Curios/issues/131
If I understand the previous issue correctly, I think you can make it work with plugins just without SkinsRestorer which seems to be the main cause of the issue.

I am curious if the others encountering the issue in this thread are also running plugins.

Edit: But anyways, the main thing is that if it is

[2021-07-16 23:35] TwistedPorkchop commented on #154
@TheIllusiveC4
I am so disgruntled. You were exactly right it was the skin restorer pluging. I'm sorry for not having seen that thread. And yeah it's definitely not your job to make your mod work with other plugins. Thanks for helping I guess we'll find another way around losing our skins. :)

[2021-07-18 14:58] Semzaiy commented on #154
Oh, time to delete the skin restorer pluging :d
Thanks for the help :)

[2021-07-27 01:14] Mr-Syntax opened #156 "had this bug all of a sudden on forge 36.1.31 minecraft 1.16.5"
java.lang.NullPointerException
	at top.theillusivec4.curios.common.CuriosHelper.getCuriosHandler(CuriosHelper.java:67)
	at top.theillusivec4.curios.common.CuriosHelper.findEquippedCurio(CuriosHelper.java:106)
	at its_meow.betteranimalsplus.compat.curios.CuriosModCompat.lambda$subscribe$1(CuriosModCompat.java:33)
	at its_meow.betteranimalsplus.compat.curios.CuriosModCompat$$Lambda$16136/992134292.c

[2021-08-03 09:22] ochotonida opened #157 "The curios inventory cannot be opened when cosmetic slots are present"
#### Versions:
* Curios: 1.17.1-5.0.0.0
* Forge: 37.0.22
#### Observed Behavior:
Clicking the curios button does nothing if a slot type has cosmetic slots enabled
#### Expected Behavior:
Clicking the curios button should open the curios inventory
#### Steps to Reproduce:
1. Register a slot type and enable cosmetic slots
2. Try to open the curios inventory

The curios container fails to initialize

[2021-08-04 07:53] TheIllusiveC4 commented on #157
Now that's quite silly of me.

[2021-08-04 07:57] TheIllusiveC4 commented on #157
Fixed in https://github.com/TheIllusiveC4/Curios/commit/6e5aeeed942554beb0f0dd9bec8a6711abc5c340

[2021-08-04 07:57] #157 closed, assigned to TheIllusiveC4

[2021-08-06 21:33] Ceimnithe opened #158 "Curios causes JEI to not show up"
Heya,
So I just went through the process of building myself a modded 1.16.5, and as I was beginning a playthrough I noticed that somewhere along the way, my JEI interface vanished. Through process of elimination I narrowed it down to Curios, unfortunately. I haven't seen anybody else with this issue, so I could just be an idiot lol. I rolled back to a previous version of JEI to see if the latest J

[2021-08-07 23:27] jaz0894 opened #159 "Curios Menu won´t open when clicking the icon"
#### Versions (Be specific, do not write "latest"):
* Curios: curios-forge-1.16.5-4.0.5.2
* Forge/Fabric: forge-1.16.5-36.2.0.jar
<html>
<body>

When I click on the curios Icon of curios nothing happens, I also have the mod Sofisticated Backpacks and when Curios is bugged I cannot open backpack inventory.

</body>
</html>
<html>
<body>

--

</body>
</html>
<html>
<body>

forge-1.16.5-36.2.0.jar
--

[2021-08-08 01:01] TheIllusiveC4 commented on #159
What Curios mods do you have installed? Can you share a list of your mods? Also, is there an error that gets logged when you try to click the icon?

[2021-08-08 03:17] jaz0894 commented on #159
List of Mods:

[Mods List.txt](https://github.com/TheIllusiveC4/Curios/files/6950145/Mods.List.txt)

This is the link to an MP4 video showing the issue: https://drive.google.com/file/d/1rORNEq4l9lUWaAI4HCAgLq4wzYMTjRNs/view?usp=sharing

and this the console after my demo on the video.
![Console](https://user-images.githubusercontent.com/73314134/128619555-98cc1dd2-68e2-4ac3-b85f-f6d18dc199b4.PNG)

[2021-08-08 03:33] TheIllusiveC4 commented on #159
Hmm, so you've shown this issue in multiplayer. Does this issue occur in single player? Also, what happens if you remove Optifine and test it?

[2021-08-08 18:35] Snaitf opened #160 "1.17.1 - 37.0.27 - 5.0.0.1 - Keep Inventory Bug"
#### Versions (Be specific, do not write "latest"):
* Curios: curios-forge-1.17.1-5.0.0.1.jar
* Forge: 1.17.1 - 37.0.27

#### Observed Behavior:
When the GameRule: KeepInventory is set to TRUE, all items in Curios slots are voided.  They're not even dropped on the ground upon death.

#### Expected Behavior:
Inventory should be kept when dying.

#### Steps to Reproduce:
1. Set GameRule KeepInvetory

[2021-08-10 04:47] AlgorithmLX opened #161 "crash in joining to world (1.16.5 FORGE)"
Forge 1.16.5
1. Strartup in world, and crash

Crash Log: [hastebin](https://hastebin.com/wijabohivo.rb).
Log: [Gist](https://gist.github.com/IgroGames2227/02da1e45b53ae340069f1eccd29011ac)

[2021-08-10 17:14] TheIllusiveC4 commented on #161
It looks like the config file failed loading. What does your `curios-server.toml` file look like?

[2021-08-10 17:16] TheIllusiveC4 commented on #158
Are you able to reproduce this with just Curios and JEI installed?

[2021-08-10 17:52] jaz0894 commented on #159
Ok, I removed optifine and tried again, but the issue persisted, this is happening to all players in the server not just me, I am trying to replicate on single player. The issue happens as soon as I move from one dimension to another (from overworld to nether) but only in multiplayer. The issue is fixed when I used /curios reset but the player loses everything and if he changes from dimension agai

[2021-08-10 18:01] #143 closed, assigned to TheIllusiveC4

[2021-08-10 18:01] #149 closed, assigned to TheIllusiveC4

[2021-08-10 18:07] TheIllusiveC4 commented on #159
Just making sure, you're not using something like Mohist with plugins installed right?

Is there an error log when you move dimensions and the issue occurs?

Also, if possible, can you replicate this in multiplayer with only Curios installed? If necessary, you can include something like Artifacts to generate some curio slots as well. I'm just trying to isolate any possible mod conflicts.

[2021-08-10 19:20] jaz0894 commented on #159
I thoght the same, I was using Mohist with some pluggins, then we removed the pluggins, then we removed Mohist and used just the Forge. So no, we are not currently using Mohist.

there are no erros at all when we move between dimensions. I will try to replicate with just curios and Artifacts. Keep you posted

[2021-08-11 06:21] AlgorithmLX commented on #161
the fact is that there is no such thing

[2021-08-11 08:55] TheIllusiveC4 commented on #161
There's nothing in your world save's `serverconfig` folder by that name? That'd be quite strange since it means the config isn't being generated by Forge at all.

[2021-08-12 00:10] GxXux opened #162 "GUI problem on server"
#### Versions:
* Curios: 4.0.5.2
* Forge/Fabric: Forge
#### Observed Behavior: While I click "g" or button in inventory GUI is not opening
#### Expected Behavior: open GUI
#### Steps to Reproduce:
* I'm using Curious API and Artifacts mod on my server and while I'm online I can't use keybind or button in inventory to open GUI, in addition if I right click equipment (for example gloves) it equips i

[2021-08-12 05:49] TheIllusiveC4 commented on #162
Are you able to reproduce this with _only_ Curios and Artifacts installed?

[2021-08-12 18:12] Ceimnithe commented on #158
Ugh, I should have thought of that, my bad. Apparently not - loaded up a game with only JEI and Curios and the issue was fixed. Added everything back in afterwards and couldn't reproduce the issue. In the meantime, some mods got updated and I tweaked a few as I've been playtesting my setup, so I'm guessing the issue resolved itself somewhere along the line. I'll keep testing things and reopen if I

[2021-08-12 18:12] #158 closed, assigned to TheIllusiveC4

[2021-08-13 15:46] GxXux commented on #162
I tried to only install Artifacts and its dependencies Curious API and ExpandAbility

[2021-08-13 18:24] AlgorithmLX commented on #161
ahh, got it, it helped, thanks!

[2021-08-13 21:17] #161 closed, assigned to TheIllusiveC4

[2021-08-24 06:04] strikerrocker opened #164 "API to load and save curios inventory"
The API/methods would allow mod devs to save and load curios inventory to nbt.
Useful for mods which has death functionality and want to restore curios inventory

[2021-08-25 13:14] marios-andr opened #165 "[1.17.1] Curios does not appear at run time."
I attempted compiling curios at run time but for some reason it doesn't appear in game. Gradle compiles with no errors and I also have the correct repository.
This is in the `repository` block,
`maven {
        url = "https://maven.theillusivec4.top/"
    }`
And this is in the dependencies block
`runtimeOnly fg.deobf("top.theillusivec4.curios:curios-forge:1.17.1-5.0.0.1")`
I also tried using imple

[2021-08-25 13:14] marios-andr commented on #165
I can also see the deobfuscated jar in my libraries.

[2021-09-04 12:24] klikli-dev commented on #165
I am running into the same problem - deobfuscated libraries are available (in the correct version) in IDE, but at runtime Curios is not available. If adding it as a dependency in mods.toml forge shows an error for the unmet dependency, if not putting it in toml it fails once the first class is loaded.

build.gradle:
[code]

Forge Version: 1.17.1-37.0.50 with parchment mappings

[2021-09-04 20:34] TheIllusiveC4 commented on #165
This is a Forge bug, should be fixed when https://github.com/MinecraftForge/MinecraftForge/pull/8064 gets merged.

Edit: For reference, the current workaround is to add this to your `build.gradle` with the relevant Forge version:

[code]

[2021-09-07 22:14] Jhonnyjokas commented on #162
I have this same problem.

I have to say that I have more mods installed but on the server when I log in the slots are not available. If I do the unlock command it solves the problem. The reset will remove my items. The interesting thing is that if the player dies and respawns, the slots are all available.

@GxXux I think you have the same problem as me. Can you confirm if the player dies and resp

[2021-09-08 02:42] TheIllusiveC4 commented on #162
@Jhonnyjokas There are too many mods in your instance to isolate the issue, you'll need to remove mods so that the issue can be reproduced using a minimum amount (like with Curios and only one or two more mods).

[2021-09-11 22:20] #121 closed, assigned to TheIllusiveC4

[2021-09-11 22:20] #152 closed, assigned to TheIllusiveC4

[2021-09-11 22:29] TheIllusiveC4 commented on #121
When this issue was first brought up, I did try to simply annotate the rendering methods with `@OnlyIn(Side.CLIENT)` but this only served to throw other class-loading errors and I dismissed that as a solution for 1.16.5. Today, while working on other issues, I decided to take another look at this again. For some reason, adding the annotation worked perfectly this time. Therefore, after some testin

[2021-09-11 22:31] #154 closed, assigned to TheIllusiveC4

[2021-09-11 23:09] TheIllusiveC4 commented on #160
I cannot reproduce this issue. Using your Forge and Curios versions, and setting `keepInventory` to `true`, I keep my Curios as expected. In your instance where you tested with _only_ Curios, in your custom Egg slot, what item did you place in it?

[2021-09-11 23:13] TheIllusiveC4 commented on #156
This looks like it may be caused by some other mods, namely Survive or Better Animals Plus. Please try and reproduce this issue with only Curios installed.

[2021-09-12 14:17] Speiger commented on #152
Thanks.

[2021-09-16 19:11] Snaitf commented on #160
Pretty sure it was an egg.

Newest versions of Forge and Curios do not do this anymore, but I can still reproduce on the versions I listed.
Forge 27, and Curios 001.

I used only Curios and a mod called Angel Ring this time:
Created a new world
Gave myself an Angel Ring
Equipped it in Curios Ring Slot
/kill myself
-Ring dropped like normal
Picked ring back up
Reequipped it in Curios Ring Slot
Set

[2021-09-19 12:43] lays24mc opened #167 "[Forge 1.17.1] Client crash, when loading world"
After updating to Forge 1.17.1 - 37.0.69 the client crashes when joining the world. With Forge 1.17.1 - 37.0.61 works the mod :)

#### Versions (Be specific, do not write "latest"):
* Curios: 1.17.1-5.0.10
* Forge/Fabric: Forge 1.17.1 - 37.0.69

Crash Log: https://hastebin.com/ofevifahac.rb

[2021-09-19 23:06] Baggytrousers27 commented on #167
Same as above (1.17.1 36.0.69). It's definitely an interaction with a mod because it seems to run with just curios and forge by itself (Can't open the curios menu obviously because no other mods to add slots but still).

[Crashlog](https://pastebin.com/FGzzpjqG) (With mods)

[Log without crash](https://pastebin.com/raPxqa0u)

[2021-09-20 00:44] TheIllusiveC4 commented on #167
I think this is related to a Forge bug. Can either of you two update to Forge 36.0.70 and verify if the bug still exists?

[2021-09-20 06:35] lays24mc commented on #167
I have tested it with the 37.0.70 and can confirm that I can again join the world without errors :)

[2021-09-20 10:58] Baggytrousers27 commented on #167
That's done the trick. Cheers.

[2021-09-20 17:48] #167 closed, assigned to TheIllusiveC4

[2021-09-21 18:13] aburone opened #168 "java.lang.NoSuchFieldException: fallFlyTicks"
The crash happens at random when I have a lot of curios items and try to equip them all at once (picking tombstone)
If I have a small amount of curios items, the crash never happens.

#### Versions (Be specific, do not write "latest"):
* Curios: curios-forge-1.16.5-4.0.5.3.jar
* Forge/Fabric: forge
#### Observed Behavior:
#### Expected Behavior:
#### Steps to Reproduce:
1. die
2. go to tombstone
3

[2021-09-21 22:21] TheIllusiveC4 commented on #168
This appears to be an issue with the Curios compatibility from Silent Gear. Please report it to them instead.

[2021-09-21 22:21] #168 closed, assigned to TheIllusiveC4

[2021-09-22 09:43] LIMPIX31 opened #169 "Index 49 out of bounds for length 46"
* Curios: 1.16.5-4.0.5.2
* Forge: 1.16.5-forge-36.2.2
When logging into the server, I cannot access the Curios slots, however, when go into the nether and back, the slots start working, while the slots are not displayed I get the following error
[code]
List of used mods:
[code]

[2021-09-22 19:18] TheIllusiveC4 commented on #169
Does this happen without Optifine? Moreover, does this happen with only Curios installed? If not, that's too many mods and you will need to trim it down in order to isolate the compatibility issue.

[2021-09-22 19:32] #160 closed, assigned to TheIllusiveC4

[2021-09-26 21:39] RegressiaUK opened #170 "1.16.5 GUI wont open"
#### Versions (Be specific, do not write "latest"):
* Curios: 4..0.5.3
* Forge/Fabric: Forge 1.16.5 - 36.2.0
#### Observed Behavior: GUI wont open
#### Expected Behavior: Menu showing
#### Steps to Reproduce:
1. Added Curse to my build file(works)
2.Created a file to register my item
3.Created json file of for item.

My code:

[code]
Json: belt.json
[code]
The item has the slot: belt option on it

[2021-09-26 21:53] TheIllusiveC4 commented on #170
It sounds like your slot registration code may not be running. For your `InterModEnqueueEvent` listener, how are you subscribing to the event?

[2021-09-26 22:17] RegressiaUK commented on #170
I have just jumped into bed so will post my old version what was registered better I think this noe one I forgot that part but it didn't work before also, I 100% believe the code isn't running, I take it that the slot: belt on the tool tip is driven by the JSON file then ?

Thanks for the reply and I will be back with you tomorrow.

[2021-09-27 00:57] TheIllusiveC4 commented on #170
Yes, the tooltip is driven by the data files, so that part seems to be working fine. It's just the slot registration that may have some problems depending on if your code is running or not.

[2021-09-27 03:14] JustinTheBob opened #171 "Making a slot for elytra"
I know there is a mod that adds an elytra slot for you. But i'm trying to not have to add that mod as well as the other mod that you have to have for that mod...(adding 2 more mods when u can just create your own slot using already installed curios)

But I have gone through the wiki. Followed all the steps. I got the elytra to go in the new "back" slot I made in the curios menu.  But it won't 1. S

[2021-09-27 03:50] TheIllusiveC4 commented on #171
There's a reason that the "elytra as a curio" mod exists. It's not possible to make elytras function in the curio slots without coding that functionality yourself.

[2021-09-27 03:50] #171 closed, assigned to TheIllusiveC4

[2021-09-27 03:51] JustinTheBob commented on #171
What about if I tried to do a totem slot? Is that possible or same thing? Can't function.

[2021-09-27 04:15] TheIllusiveC4 commented on #171
Same thing, can't function.

The vast majority of items that have some sort of function while in the inventory, whether it be the Elytra, Totem of Undying, or most modded items, check for specific inventory slots when they're "activated". Curios adds slots to your inventory, but these functions are not aware that these extra slots exist and would not care to check them even if they did (and no, th

[2021-09-27 09:01] RegressiaUK commented on #170
This was my error I missed out my "EventBusSubscribe" when changing it, I have been able to get the belt to now show I am hoping to get my head around things, sorry for opening a bug report when it was my error but thanks for your insight.

[2021-09-27 09:02] #170 closed, assigned to TheIllusiveC4

[2021-09-27 12:54] RegressiaUK opened #172 "Detect Slot by it's custom tag"
Hey is there way to get the slot by it's custom tag?
[code]

so I register like so

I know we grab the slots with
[code]
But how would I grab just the slot with in this case `mytag` so I can get the item already in there if this is possbile as I have loads of items what would be going in my custom slot.

[2021-09-27 19:03] TheIllusiveC4 commented on #172
Actually, that's not how you grab slots. That's how you grab the _items_ in those slots. There's a difference because it does not provide any reference to the actual slots themselves.

Anyways, as for the question, you would do:

[code]

[2021-09-27 19:03] #172 closed, assigned to TheIllusiveC4

[2021-09-28 10:21] RegressiaUK opened #173 "Server compatable when icons added"
You have been so helpful so far, but I would like to ask your help again, when you have a moment this works fine local player but I need to make it work on a server I have tried checking if the world is remote but I can't seem to get it to complie since the player event isn't ready yet and all the examples I see entry = event.player, world = entry.world, well that's the idea.

What do I need to do

[2021-09-28 18:02] TheIllusiveC4 commented on #173
While I'll still try to help you, please note for future reference that this is more of a general modding question than a Curios question and isn't really appropriate for the issue tracker. If you need further support in this regard, please join the [Discord](https://discord.gg/JWgrdwt) and ask there instead.

You need to create a separate proxy class for the event instead of putting it in the sam

[2021-09-28 18:02] #173 closed, assigned to TheIllusiveC4

[2021-09-29 05:44] JustinTheBob commented on #171
Oh okay I see, thank you!

[2021-09-29 11:48] Aizistral opened #174 "Curio Equip/Unequip events"
## The Feature
Be nice if we had some `CurioEquipEvent`, fired whenever player tries to equip a curio in one of their slots, and some `CurioUnequipEvent`, fired whenever player tries to unequip one of their curios respectively. Events should be fired before capability itself is asked whether or not equipping should be allowed, and have a classical `Result` taking values of `ALLOW`, `DENY` or `DEFA

[2021-10-13 05:27] jorerivm opened #176 "Curios API has class loading errors"
#### Versions (Be specific, do not write "latest"):
* Curios: forge-1,17,1-5.0.1.0
* Forge/Fabric:forge:1.17.1-37.0.86
#### Observed Behavior:Game wont start
#### Expected Behavior:Game starts
#### Steps to Reproduce:
1.install mod
2.execute minecraft
3.minecraft error screen saying there was an error
...

Crash Log: https://hastebin.com/humatabana.sql
[crash-2021-10-12_23.18.19-fml.txt](https://g

[2021-10-17 15:29] itzacookie opened #177 "too many Ring, Charm, or Head slots"
I add mods and they keep adding new slots to the baubles tab.  I have 8 ring slots and only want 4, as well as 8 charms and only want 3.  I cannot figure out how to change this.  How can i?

[2021-10-17 20:48] TheIllusiveC4 commented on #177
This would only occur if the mods are purposefully adding more slots. Which mods are causing this behavior?
As a last resort, you can override the behavior yourself by using the `curios-server.toml` file as outlined here:
https://github.com/TheIllusiveC4/Curios/wiki/How-to-Use:-Users

Something like:
[code]

[2021-10-18 12:03] itzacookie commented on #177
I added the override command onto the end and it worked as soon as I put it in.  Sorry about that, and thanks for your help!

[2021-10-18 12:03] #177 closed, assigned to TheIllusiveC4

[2021-10-23 20:07] SSKirillSS opened #178 "[1.16.5] Curios slots grow/shrink sync issue"
#### Versions:
* Curios: 1.16.5-4.0.5.3
* Forge: 1.16.5-36.1.13+
#### Observed Behavior:
Unlocked additional slots without equipped item, which should unlock these slots
#### Expected Behavior:
Additional slots should be unlocked only if item which unlock these slots are equipped
#### Steps to Reproduce:
1. Equip any item, which unlocks additional curios slots (For example, any belt from the Relic

[2021-10-23 20:14] SSKirillSS opened #179 "[1.16.5] Curios slots shrinking client-sided issue"
#### Versions:
* Curios: 1.16.5-4.0.5.3
* Forge: 1.16.5-36.1.13+
#### Observed Behavior:
Empty slots in the CuriosAPI inventory. It will be automagically fixed after reopening inventory
#### Expected Behavior:
CuriosAPI slots positions should be recalculated if slots amount was increased/decreased
#### Steps to Reproduce:
1. Equip any item, which unlocks additional curios slots (For example, any b

[2021-10-24 19:21] Posponger commented on #162
I have this same problem.

But im using MohistMC Core on server.
I tried my modpack with Curios in singleplayer and everything is ok. So i think this is server-side problem.

The versions:

Mohist 1.16.5 831
Curios 1.16.5 4.0.5.3

[2021-10-24 20:08] TheIllusiveC4 commented on #162
@Posponger Mohist environments are not supported as some plugins have been known to cause this issue when loaded with Curios. You will need to remove Mohist and re-test in a Forge environment.

[2021-10-24 21:28] Posponger commented on #162
@TheIllusiveC4  Ok.

I will try tomorrow in clear Forge environment and clear Mohist. I'll inform you of the results here.

[2021-10-25 16:01] Posponger commented on #162
@TheIllusiveC4  Hello. Here are the results of testing:

I forgot in previous comment specify what **clear**  means.  _Its server with onliy mods that use curios installed_.

### Minecraft vesion: 1.16.5

### Mods that i used:

- Curios 4.0.5.3
- Artifacts 2.10.3
- Relics 0.3.0
- Reliquary 1.3.5.1100
- sophisticatedbackpacks 3.4.2.354

### Plugins that i used:

- LPC
- Luck Perms Bukkit 5.3.74
- N

[2021-10-25 18:59] TheIllusiveC4 commented on #162
SkinRestorer is a known compatibility issue, the only solution is to either try and report this to the Mohist developers or just remove SkinRestorer.

[2021-10-25 19:11] Posponger commented on #162
I just removed SkinRestorer. Thanks for help ^_^

[2021-10-26 20:27] mochamaple opened #180 "Example in 1.17.x doesn't reflect the 1.17.x changes."
Still getting a hang of the API, but from what I can tell example in the/1.17.x/src/test, despite having been moved out of the main mod still uses ICurio and ICurioItem, as well as depending on `import.top.theillusivec4.curios.common.capability.CurioItemCapability;` (which is in main)

Could it be updated to reflect the deprecated changes?

[2021-10-26 21:34] TheIllusiveC4 commented on #180
I'm not really sure what you mean, can you be more specific or rephrase your question?

As far as I can tell, there aren't any deprecated usages in the test classes. `ICurio` and `ICurioItem` have not been deprecated, just some of their methods. And I don't see any deprecated methods being used in the test classes. In addition, the major change of moving the rendering out of common code is present

[2021-10-26 22:04] mochamaple commented on #180
My apologies as I think it's with me where the confusion lies. I misread the deprecation comment on the wiki, and I think I need to read up more on the internal methods code to fully understand CurioItemCapability.  To be clear does the test/ directory contain fully up to date 1.17.x compatible code?

[2021-10-26 22:38] TheIllusiveC4 commented on #180
Yes. In the Curios development environment, the test mod is always run together with the main mod so it will always be compatible.

[2021-10-26 22:38] #180 closed, assigned to TheIllusiveC4

[2021-11-04 04:04] n0proxy opened #181 "Config for keepinv"
New feature request:
A config option for determining whether you drop or keep items in your curio slots on death.

Why:
This setting might not be handled by the death mod someone uses. In my case, I don't have a good death mod for 1.17 but would still really like to allow my player's curio-worn backpacks and toolbelts to serve as 'important'/backup storage that stays with them on death.

(An API t

[2021-11-08 03:15] TheIllusiveC4 commented on #176
I believe this was a Forge issue that has since been addressed, so update to the latest Forge if you're encountering issues with loading Curios.

[2021-11-08 03:15] #176 closed, assigned to TheIllusiveC4

[2021-11-18 04:14] #156 closed, assigned to TheIllusiveC4

[2021-11-18 04:22] TheIllusiveC4 commented on #181
I believe that death mods do have all they need to incorporate Curios. Between the two events, `CurioDropsEvent` and `DropRulesEvent`, modders can hook into the drops and do whatever they want with them.

As for the main suggestion, I think this might make more sense as a game rule such as `keepCurios` in order to be in line with vanilla's own `keepInventory` game rule.

[2021-11-24 05:30] kands-code opened #182 "Where can I equip the ring?"
I am a player in Minecraft, I used your mod and another mod that needs your mod. I encountered a problem when using the mod, that is, I found that I cannot equip the ring. Why is this?

This is my mod list

![图片](https://user-images.githubusercontent.com/59006329/143179847-c8ac67f9-23fb-409e-82a5-170d2378dab4.png)

This is my situation in the game

![图片](https://user-images.githubusercontent.com/5

[2021-11-24 05:34] TheIllusiveC4 commented on #182
The ring is normally an unobtainable item and does not have an associated slot enabled by default. It seems none of the mods you added add a ring slot, so you'll need to either just live with it or edit the configs as described [here](https://github.com/TheIllusiveC4/Curios/wiki/Pre-1.16-How-to-Use:-Users) in order to add your own ring slot.

[2021-11-24 05:34] #182 closed, assigned to TheIllusiveC4

[2021-11-30 19:09] #174 closed, assigned to TheIllusiveC4

[2021-11-30 19:09] #145 closed, assigned to TheIllusiveC4

[2021-11-30 19:09] #153 closed, assigned to TheIllusiveC4

[2021-11-30 19:09] #164 closed, assigned to TheIllusiveC4

[2021-11-30 19:09] #178 closed, assigned to TheIllusiveC4

[2021-11-30 19:09] #179 closed, assigned to TheIllusiveC4

[2021-11-30 19:21] TheIllusiveC4 commented on #153
I've fixed the NPE, but decided against adding an API method for initializing/setting a particular player to a capability instance. I think trying to decouple a capability instance from a player could be problematic. In addition, Forge has removed the default instance altogether in 1.17+ so it wouldn't be a long-term solution anyways.

Instead, I've addressed a different issue that could be applic

[2021-11-30 19:22] TheIllusiveC4 commented on #145
I've revamped the slot texture registration which should fix this issue as well. I've also written some documentation about it, so take a look: https://github.com/TheIllusiveC4/Curios/wiki/Slot-Textures

Let me know if this still doesn't work and I'll re-open it.

[2021-11-30 21:08] TheIllusiveC4 commented on #79
As of Curios 4.0.6.0, I've successfully implemented a more robust slot modifier system that deprecates the current locking/unlocking and growing/shrinking methods.

More info here:
https://github.com/TheIllusiveC4/Curios/wiki/Slot-Modifiers

Due to this, the discussion here is either solved or fundamentally changed so I'll be closing this issue.

[2021-11-30 21:08] #79 closed, assigned to TheIllusiveC4

[2021-11-30 22:57] Darkere opened #183 "New Curios update finds all invalid files in other mods"
#### Versions (Be specific, do not write "latest"):
* Curios: curios-forge-1.16.5-4.0.6.1
* Forge/Fabric: forge
#### Steps to Reproduce:
1. install other mod with invalid resources (chisel, suplementaries or immersive petrolium)
2. crash on launch due to invalid resource location
3.
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
https://pastebin.com/SgxCBqZh

[2021-11-30 23:17] drakray commented on #183
Same with Supplementaries https://pastebin.com/CGJWaS62

[2021-12-01 00:22] astroACR commented on #159
hope not to necro, but I'm having this exact same issue on a multiplayer server, and I am using mohist.

I have other mods besides Sophisticated Backpacks (sophisticatedbackpacks-1.16.5-3.12.0.407) that use Curio (curios-forge-1.16.5-4.0.5.3), such as Cosmetic Armor Reworked (CosmeticArmorReworked-1.16.5-v4), Colt's Cosmetic Armor (ColtCosmeticArmorMod-1.2.5), and Expanded Combat (expanded_combat-

[2021-12-01 00:43] astroACR commented on #159
Nevermind, duplicate of #154. Removing SkinsRestorer solved it.

[2021-12-01 01:50] #183 closed, assigned to TheIllusiveC4

[2021-12-01 17:20] drakray opened #184 "[1.16.5] CTD when connecting to dedicated server"
#### Versions (Be specific, do not write "latest"):
* Curios: 4.0.6.2
* Forge: 36.2.19
#### Observed Behavior: Crash to desktop when connecting to dedicated server
#### Expected Behavior: Not to crash
#### Steps to Reproduce:
1. Update custom pack w/ Curio 4.0.5.3 to 4.0.6.2
2. Start server, start client, try to connect
3. ???
4. Crash
_Note_. Playing single player does not crash
_Note_. Reverting

[2021-12-01 18:39] Modeeves opened #185 "My Curios Items Disappears (Belt, Hands, Feet)"
#### Versions (Be specific, do not write "latest"):
* Curios:  4.0.6.2
* Forge/Fabric:  forge-1.16.5
#### Observed Behavior: Some of my Curios equipment becomes unequipped and disappears upon log in
#### Expected Behavior: It should stay where it should and none should banish
#### Steps to Reproduce:
1. Upon Log In while there are Equipment in the curios slots (Hands, Feet, and Belt, I haven't tri

[2021-12-01 23:41] starryfae opened #187 "Crash Ticking Player"
#### Versions (Be specific, do not write "latest"):
* Curios:  1.16.5-4.0.6.2
* Forge/Fabric: Forge 36.2.19
#### Observed Behavior:

Game crashes harvesting any item after creating world
#### Expected Behavior:

Not crashing
#### Steps to Reproduce:

1. Have Industrial Foregoing and latest Curios

Crash Log:

https://www.toptal.com/developers/hastebin/reyelabico.rb

[2021-12-02 00:14] TheIllusiveC4 commented on #187
I cannot reproduce this, using Curios 1.16.5-4.0.6.2, Forge 36.2.19, and Industrial Foregoing 1.16.5-3.2.14.7-16.

I enter the game and harvest some dirt. When I pick it up, no crash occurs.

Can you be more specific about your reproduction steps?

[2021-12-02 02:07] ProsperCraft commented on #187
Our dedicated server just crashed with the same error, I the player was getting kicked over and over then the server quit responding and had to kill the process.

We only started having this when we updated today to 4.0.6.2

java.util.NoSuchElementException: No value present
	at java.util.Optional.get(Optional.java:135)

Here is the tail of the debug log(too big for gist)
https://gist.github.com/P

[2021-12-02 02:24] TheIllusiveC4 commented on #187
As mentioned above, I can't reproduce this issue with the given information so I'll need a bit more.

What exactly happened when the crash occurred? List out detailed reproduction steps.

[2021-12-02 02:29] ProsperCraft commented on #187
I can't give steps, it was a player on the server who I don't have contact with.

[2021-12-02 03:20] Klouver-github commented on #185
my curios items keep flickering out and I am afraid I lost my belt with my enchanted tools

[2021-12-02 06:00] TheIllusiveC4 commented on #185
One follow-up question, do you also have Artifacts installed?

Edit: Nevermind, I think I figured out what was wrong.

[2021-12-02 07:51] #185 closed, assigned to TheIllusiveC4

[2021-12-02 07:51] #184 closed, assigned to TheIllusiveC4

[2021-12-02 07:52] TheIllusiveC4 commented on #187
As of now, I still couldn't reproduce nor figure out the issue. However, I suspect it _might_ be related to a different issue that has been solved in the 4.0.6.3 update that I just pushed out. Can either of you try it and let me know if this issue persists?

[2021-12-02 22:19] ochotonida opened #188 "Crash when trying to run datagen"
#### Versions:
* Curios: 1.18-5.0.2.2
* Forge: 38.0.8
#### Observed Behavior:
Running a data generator while also having Curios installed crashes the game.

Adding an extra safety check here to make sure the minecraft instance isn't null should fix the issue:
https://github.com/TheIllusiveC4/Curios/blob/04ee40368ba93d656498a81174900791c03886bc/src/main/java/top/theillusivec4/curios/client/CuriosCl

[2021-12-03 02:33] starryfae commented on #187
Seems to be fixed now!

My steps before were just, make a new world with the mods i had installed, punch a mushroom or some wood, and it would crash upon attempting to pick up the item

[2021-12-03 02:37] TheIllusiveC4 commented on #187
Alright, I do think it should be solved then. I'll be closing this, but anyone encountering this issue can let me know if it still persists and I'll reinvestigate.

[2021-12-03 02:37] #187 closed, assigned to TheIllusiveC4

[2021-12-03 05:00] ProsperCraft commented on #187
We are also not having issues any longer.

[2021-12-03 07:00] #188 closed, assigned to TheIllusiveC4

[2021-12-04 07:07] TheIllusiveC4 commented on #165
It looks like this has been resolved as of Forge 1.17.1-37.0.75.

[2021-12-04 07:07] #165 closed, assigned to TheIllusiveC4

[2021-12-04 18:50] FoxMcloud5655 opened #189 "[1.16.5] Crash with FancyMenu and the new Curios API beta"
#### Versions:
* Curios: 1.16.5-4.0.6.4
* Forge/Fabric: 36.2.16
* FancyMenu: 2.4.2_MC_1.16.2-1.16.5
* Konkrete: 1.3.0_MC_1.16.2-1.16.5
#### Observed Behavior: The game crashes upon loading a custom menu containing a player model.
#### Steps to Reproduce:
1. Install FancyMenu and Konkrete (it's dependency).
2. Load Minecraft and if you don't already have a menu with a player model on it, create one

[2021-12-05 08:58] cbunny787 commented on #159
i have same issue with aoa/Advent of Ascension mod Curios gui its not opening, it stop working idk when but i was able to use it and my friend was not but after few mins my stop working to no error in console/log

[2021-12-06 02:16] #189 closed, assigned to TheIllusiveC4

[2021-12-10 17:45] Darkosto opened #191 "Dynamic Lights Integration"
Hello!

Would you be willing to add support for the dynamic lights mod while wearing a torch in a custom curios slot? I've been working on a datapack to allow players a slot for a torch when exploring but unfortunately the dynamic light functionality is not working. I'm aware this may be a feature request normally asked of the mod and not Curios: https://github.com/AtomicStryker/atomicstrykers-min

[2021-12-11 07:43] TheIllusiveC4 commented on #191
I do not want to include this kind of specific mod integration to keep Curios as lean as possible, so formally I'll be closing this issue for the purposes of this repo.

However, the idea of this intrigues me a bit. And it looks easy enough to accomplish. If you're interested, and since the Dynamic Lights author does not want to accomplish this on their end, I'm fully willing to attempt to create

[2021-12-11 07:43] #191 closed, assigned to TheIllusiveC4

[2021-12-12 18:50] Nyfaria opened #192 "RightClickItem even from Curios Mod prevents Item#use from running on the client."
#### Versions (Be specific, do not write "latest"):
* Curios: 1.18 5.0.2.4
* Forge/Fabric: Forge
#### Observed Behavior: Curio Item right Clicks do not run on Client
#### Expected Behavior: Right Clicks should Run on Client
#### Steps to Reproduce:
1. Create Curio Item with a Client only `Use`
2. Right Click Curio Item
3. Nothing Happens
...

Crash Log: Please use a paste site like [hastebin](http

[2021-12-14 05:33] itkminer opened #193 "1.17.1 Forge : players cannot access LAN game while having an item in a Curios slot"
This bug was originally posted as an issue of Sophisticated Backpacks, it turns out to be a more widespread problem. I have for example also reproduced it with „Statues“ - I guess other mods will experience similar behavior.

Describe the bug
We're using a single player world as a private family "server" at home via OPEN to LAN option. Sophisticated Backpacks (or Statues) seem to work just fine on

[2021-12-14 06:43] TheIllusiveC4 commented on #193
Hm, if you downgrade Curios to 5.0.1.0 for 1.17.1, does this issue still happen?

[2021-12-14 08:00] itkminer commented on #193
At least for Sophisticated Backpacks the slot simply doesn‘t work at all prior to 5.0.2.2 I think. But I never checked in an isolated test world.
Edit : OK, the concerned mods (sophisticated backpacks, statues) work fine on Curios 5.0.1 in a isolated single player test world. Unfortunately I won't be able to test the LAN thing before Friday, I'll update this thread once I try it with 5.0.1.

[2021-12-14 10:41] TheIllusiveC4 commented on #193
After doing some research, I believe this is actually a Forge bug since 1.17.1-37.0.64. I was able to reproduce the same error with just Chisels & Bits as well, so this is not Curios-specific and seems to only affect LAN instances (single player and dedicated servers are unaffected).

It seems that the Forge team are aware of the issue and have a pending PR here: https://github.com/MinecraftForge/

[2021-12-14 16:22] itkminer commented on #193
Thank you for digging into this - at least now I know where this is coming from. Hopefully Forge will get fixed as I don't really want to run a permanent server on my computer.

[2021-12-15 01:34] esotericist commented on #177
for the record, it turns out cyclic appears to intentionally request a large number of slots.

i started to comment on this as a "i also am experiencing this problem", but i dug deeper and... yes. it appears to be intentional.

https://github.com/Lothrazar/Cyclic/blob/trunk/1.18/src/main/java/com/lothrazar/cyclic/compat/curios/CuriosRegistry.java#L23-L33

bewildering, but clearly intentional.

[2021-12-15 07:58] #192 closed, assigned to TheIllusiveC4

[2021-12-16 20:46] Darkosto commented on #191
Thanks for your patience on my reply!

I would absolutely love a mod that would create that bridge. What can I do to help out?

[2021-12-17 04:18] TheIllusiveC4 commented on #191
Nothing much, I just ask for some patience as I'm juggling a lot right now so I don't know when I'll release it. But here's a preview of what I already have just so you know it actually will be done:
![curiouslights](https://user-images.githubusercontent.com/29991504/146488090-1fb93e1b-895a-485e-afdb-448fc344b47c.gif)

Also, what version are looking to use this on? I would likely release it for 1.

[2021-12-17 18:20] NighthowlerStudios opened #194 "Exception getting Entity NBT"
#### Versions (Be specific, do not write "latest"):
* Curios: 4.0.6.6
* Forge/Fabric: 36.2.22
#### Observed Behavior: log is spitting out these exceptions but thankfully not crashing in my modpack.  could be nice to clear these from log spam
#### Expected Behavior: don't have this error, can break armor stands
#### Steps to Reproduce:
1. Install game
2. Install Curios API and Curios Armor Stands
3

[2021-12-17 18:24] NighthowlerStudios commented on #194
mentioned this mod just in case the mod itself is at fault and not this API.

[2021-12-17 19:12] Darkosto commented on #191
This looks great so far! I'm very excited to try it out.

1.18.1 would be my preferred version if possible. Thank you very much!

[2021-12-20 00:01] YummyCoin5155 opened #195 "Bug with 1.18.1 version of Curios error code "Invalid Player Data: Connection Closed""
whenever I try to edit the curios slots then leave the game after editing any of them it prevents me from joining back on that server. the error code that pops up is "invalid player data: connection closed" the only way I've found to actually fix this is by deleting my player data file and going back into the server with absolutely nothing and my curios slots are reset to the normal slots the mod

[2021-12-20 02:58] TheIllusiveC4 commented on #194
Some of the internals changed in the latest beta versions and Curious Armor Stands needs to update for compatibility.

Current workaround would be to downgrade Curios to 4.0.5.x unless a mod specifically requires the latest beta versions.

[2021-12-20 02:58] #194 closed, assigned to TheIllusiveC4

[2021-12-20 03:31] #195 closed, assigned to TheIllusiveC4

[2021-12-20 18:24] Nyfaria opened #196 "Curios be used as Ender Masks"
**Please describe the new feature or change.**

Well the name describes it all really.

**Please describe why you want this feature.**

Mostly for personal use but im certain many people would love to not have to Mixin this themselves.

Here is my Mixin so you can go off it, im sure it wont look the same because im using the API and yours will be directly in the mod:

[code]

[2021-12-24 04:09] StormDragon-64 commented on #103
try doing this in create 0.3.2c, because according [to the wiki](https://create.fandom.com/wiki/Engineer%27s_Goggles) "The goggle overlay can now be activated by external add-ons"

[2021-12-24 06:49] #86 closed, assigned to TheIllusiveC4

[2021-12-24 06:49] #196 closed, assigned to TheIllusiveC4

[2021-12-24 19:05] itsdinkd opened #197 "1.18.1 new curios update crashes on server start"
[code]

[2021-12-24 22:44] TheIllusiveC4 commented on #197
I noticed you opened a related issue on BetterCompatibilityChecker that is now closed. Does this issue still occur with their latest update?

[2021-12-24 22:58] The-Bernician-Lamb opened #198 "[1.18.1] Game sometimes crashes when exploring new chunks when curios is installed"
#### Versions (Be specific, do not write "latest"):
* Curios: 5.0.4.0
* Forge: 39.0.8
#### Observed Behavior:  Game crashes after a varying amount of time exploring.
#### Expected Behavior:  The game would not crash.
#### Steps to Reproduce:
1. Load up a new world with curios installed.
2. Wait for the chunks to load in and explore new chunks afterward.
3. After a varying amount of time, the game

[2021-12-24 23:03] Zappedz commented on #198
This is the same crash log I get on my server too. Something related to the new change to Fortune

[2021-12-24 23:20] Syampuuh commented on #198
Was just about to report the same, yes. Pretty much the same crash log and all. I wasn't able to recreate this in singleplayer (and had to downgrade the mod on the server immediately for playability), but the exact circumstances seemed to be a player approaching chunks that housed a dungeon, which would seem to agree that it's an issue with the Fortune loot changes given all the chests within.

[2021-12-24 23:48] Darkosto commented on #198
Just want to jump in and throw my info for this crash into the mix. I've been able to replicate the crash without generating new chunks after the initial world load. I'm able to stand in my base and it will eventually crash. It seems to be related to the `applyFortune` mixin

https://pastebin.com/LPC1gmE9
https://pastebin.com/pvuRTFkb
https://pastebin.com/4Bnaqn9t

[2021-12-25 01:26] itsdinkd commented on #197
nope, no more issues! It's been fixed!

On Fri, Dec 24, 2021, 2:45 PM C4 ***@***.***> wrote:

[2021-12-25 03:08] #197 closed, assigned to TheIllusiveC4

[2021-12-25 17:26] cpw opened #199 "1.18.1 Crash when breaking things in world using non-tools?"
#### Versions (Be specific, do not write "latest"):
* Curios:1.18.1-5.0.4.1
* Forge/Fabric: 39.0.8
#### Observed Behavior: Crash after trying to break a block in world with non-tool in hand
#### Expected Behavior: No crash
#### Steps to Reproduce:
1. Break a block with a non-tool in hand

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).

[crash-2021-12-25_12.17.33-server.

[2021-12-25 17:55] TheIllusiveC4 commented on #199
Hmm, that's strange. This should've been fixed in the most recent update. I'm not even using the method that throws the `NoSuchElementException` anymore so I have no idea how that's still happening.

Are you able to reproduce this with only Curios? I'm having a bit of trouble reproducing this in my development environment.

[2021-12-25 18:25] TheIllusiveC4 commented on #199
The more that I look at this, the more it seems like the your instance is still running code from Curios version 5.0.4.0 for some reason despite the version saying 5.0.4.1. It's a strange conclusion and I very well could be missing something, but the stacktrace just doesn't make sense to me otherwise.

Could you try redownloading the 5.0.4.1 version of Curios and retrying?

Also, this is technical

[2021-12-25 18:25] #199 closed, assigned to TheIllusiveC4

[2021-12-25 18:27] TheIllusiveC4 commented on #198
Someone else has just opened an issue about this for the latest 5.0.4.1 version that was supposed to fix this so I'd like to ask, can anyone that experienced this issue above confirm or deny if the latest update fixed this issue for them?

[2021-12-25 20:00] cpw commented on #198
Question to all: do you have multiple copies of curios in your mods folder - say 5.0.4.0 and 5.0.4.1 ?

Can you please verify if you do and remove the older version if so, and see if the problem reproduces?

[2021-12-25 20:03] The-Bernician-Lamb commented on #198
With my testing I can confirm that this issue appears to have been fixed by the latest update (5.0.4.1).

I do not have multiple copies of the mod in my mods folder, just the latest update (5.0.4.1).

[2021-12-25 21:26] TheIllusiveC4 commented on #198
For reference, and to provide more context about the nature of the issue:

Originally, in 5.0.4.0, I had this code:
https://github.com/TheIllusiveC4/Curios/blob/501b36d408fda2ae958606af731d23f02c710b94/src/main/java/top/theillusivec4/curios/mixin/core/MixinApplyBonusCount.java#L22

The issue is caused by attempting to obtain an entity reference from the loot context when there is none, which will

[2021-12-25 22:42] cpw commented on #198
I'm using this to investigate a problem with mixins and FML btw. It seems that the mixin is loading from the wrong place if you have multiple copies of the mod in the mods folder, which is incorrect behaviour.

[2021-12-27 07:11] TheIllusiveC4 commented on #198
Ah that's interesting. It would certainly explain how that would still be happening. So was the crash in your instance due to an older copy of the mod in your mods folder?

[2021-12-30 06:48] Foozey opened #201 "Trash slot, quark buttons, etc. disappearing after opening Curios window"
#### Versions (Be specific, do not write "latest"):
* Curios: 1.18.1-5.0.4.2
* Forge/Fabric: 1.18.1-39.0.9
#### Observed Behavior: While the curios inventory is open, things like the trash slot and quark buttons aren't visible. I remember making issues about this in the past and these problems were then easily fixed. But sorry, I forget if I need to make the issues here, or in those places, it's b

[2021-12-30 07:02] TheIllusiveC4 commented on #201
The mods that add extra buttons and such just need to add those buttons to the Curios GUI in addition to the vanilla one. For reference, it's not really a "tab" that Curios adds. It's a whole other screen that just mimics the vanilla one, which is why those other buttons will disappear if the compatibility isn't there.

[2021-12-30 07:02] #201 closed, assigned to TheIllusiveC4

[2021-12-30 11:49] Foozey commented on #201
Yeah, I know it's not technically a "tab", I just used that term out of appearance. And thanks, I'll let them know.

[2022-01-01 19:41] bconlon1 opened #202 "Clicking on the Curios Button with an item in your cursor will not carry over the item."
#### Versions (Be specific, do not write "latest"):
* Curios: 1.18.1-5.0.4.2
* Forge: 39.0.9
#### Observed Behavior:
- When in the vanilla inventory, if you click on the Curios button with an item, it will not carry over, but clicking it again to go back will restore the item to your cursor.
- When in the Curios inventory, if you click on the Curios button with an item, it will deposit the item st

[2022-01-05 17:35] Zerether opened #204 "Ring-Slot"
**Please describe the new feature or change.**
I have installed some Mods with adds Rings but there is no Slor for Rings. If i click on the ring, it shows me as favorite slot "Ring" but i cant find it in my Curios inventory. I remeber it worked in an older Version. It is a bug or isn't the feature in 1.18?

**Please describe why you want this feature.**

[2022-01-06 23:16] TheIllusiveC4 commented on #204
Which mods exactly did you install that supposedly gave you the ring slots?

[2022-01-08 16:08] TheIllusiveC4 commented on #87
I know it's been a while since this suggestion was stated, but it's finally time to come back to this now that mixins have formally been introduced to Curios in 1.18.1.

That said, I'm not sure if we discussed this before, but it seems like Curse of Binding can already work on accessories as long as they implement the `Wearable` (Mojmap) or `IArmorVanishable` (MCP) interfaces. And implementing the

[2022-01-08 16:09] #169 closed, assigned to TheIllusiveC4

[2022-01-08 21:19] Calibrumm commented on #95
just want to bump this feature. no rush but switching from Curios to normal inv to check status can be annoying.

[2022-01-08 23:09] bconlon1 commented on #202
This doesn't seem to be properly fixed when clicking the button from the vanilla inventory with an item in your cursor, and also clicking from the accessory inventory has the chance of causing item duplication.
1. Grab an item while in the Curios inventory.
2. Click the Curios button to go into the vanilla inventory.
3. Deposit the item into the vanilla inventory.
4. Click the Curios button to go

[2022-01-09 01:42] TheIllusiveC4 commented on #202
Hmm, that's odd. I followed your instructions exactly and I don't get any of that behavior. Everything works as expected and I don't get any duplication. Can you reproduce this in a fresh instance with only Curios? In the meantime, I'll try to do some more testing on my end.

[2022-01-09 02:01] bconlon1 commented on #202
I have been able to reproduce this with only Curios, I will try to get a video of it in action to test it again.

[2022-01-09 02:15] bconlon1 commented on #202
Recorded gif: https://gfycat.com/brokenthunderouskusimanse

[2022-01-09 03:02] TheIllusiveC4 commented on #202
Ah ok, I see the issue. I believe it's a Creative-only issue. Are you able to reproduce this in Survival?

[2022-01-09 03:17] bconlon1 commented on #202
I cannot reproduce this in survival so you seem to be correct.

[2022-01-09 17:40] #202 closed, assigned to TheIllusiveC4

[2022-01-16 02:58] JuneGame opened #208 "[Wrong Issue Please Remove]"
Sorry out of confusion I posted on the wrong project. I will be moving this to the right section now.

[2022-01-16 05:30] #208 closed, assigned to TheIllusiveC4

[2022-01-18 03:42] DeaRax opened #209 "The Menu doesn't apear"
<!--
#### Notice
Please reproduce all issues without any other unnecessary mods before submitting.
* Curios:
* Forge version 1.17.1
#### Observed Behavior: When i click on the curios button (and the asign keybind in the menu) nothing happen it shoud apear the menu where i can put different rings
#### Expected Behavior: Nothing happen it shoud apear the menu where i can put different rings
#### Ste

[2022-01-18 03:42] logosexnihilo commented on #204
I'm having the same problem as Zerether. I'm using the Gobber mod, which worked for 1.16.5 but for 1.17.1, it's not working at all for my modded server. I'm not having any crashes, the armour stand curio still works, but there isn't an option for rings, belts, etc... like there normally is.

[2022-01-18 03:53] #209 closed, assigned to TheIllusiveC4

[2022-01-18 03:53] DeaRax commented on #209
same #154

[2022-01-18 03:55] logosexnihilo commented on #204
The files I am using are:
curios-forge-1.17.1-5.0.2.7.jar
forge.37.1.1

I am using more mods, but that's never affected the interface.

[2022-01-18 05:32] TheIllusiveC4 commented on #204
On Gobber's project page (https://www.curseforge.com/minecraft/mc-mods/gobber), it states:

So the lack of support seems intentional. If you'd like further info, you'd have to ask that developer.

[2022-01-18 05:32] #204 closed, assigned to TheIllusiveC4

[2022-01-18 13:42] krjencik opened #210 "rings dont fit into rings slots"
why cant i put rings of ascension in the rings slots?

playing minecraft 1.18.1

it looks like i cant put ANY ring into that slots...

forge: 39.0.40

curios forge 5.0.5.2

[2022-01-18 16:30] TheIllusiveC4 commented on #210
I can't reproduce this, the Rings of Ascension fit into my ring slots just fine. Also, you should report bugs of this nature to the mod that's implementing Curios (Rings of Ascension in this case), not Curios directly.

[2022-01-18 16:30] #210 closed, assigned to TheIllusiveC4

[2022-01-26 16:39] Subilan opened #212 "Curios Items Disappear on a "Certain Server""
#### Versions (Be specific, do not write "latest"):
* Curios: 1.16.5-4.0.6.8
* Forge/Fabric: 36.2.22
#### Observed Behavior: All the curios items disappear on death with `keepInventory` set to `true` without any dropping. The effects given by the items last, however, and disappear on next login.
#### Expected Behavior: No items disappear in case the `keepInventory` is set to `true`.
#### Steps to

[2022-01-26 23:44] TheIllusiveC4 commented on #212
I was not able to reproduce this behavior. Please update to the latest Curios (1.16.5-4.0.8.0) and try again. If it still happens, then it is likely a Mohist issue. I don't know why it would happen on Mohist because I do not know how Mohist works nor do I know how it interacts with any plugins you may have. I can only support Forge-only environments.