[2022-01-26 23:44] #212 closed, assigned to TheIllusiveC4

[2022-01-27 02:17] Subilan commented on #212
Thanks.

[2022-01-28 13:06] krjencik opened #213 "rings"
Hi, i still have the same problem: i cant put any modded ring into the curios ring slots.. it looks like the ring slots are only one slots that doesnt work...

[2022-01-28 13:08] krjencik commented on #213
i have been told to contact curios

[2022-01-28 21:18] TheIllusiveC4 commented on #213
Duplicate of https://github.com/TheIllusiveC4/Curios/issues/210
If you have any update, please comment on the existing issue instead of making a new one.
In addition, I've already told you that I cannot reproduce your issue. If you have been told by someone to contact me, I will need some more context about what was said and why the problem is on Curios's end.

[2022-01-28 21:18] #213 closed, assigned to TheIllusiveC4

[2022-01-29 16:49] driftirl opened #214 "need help"
hi i cant seem to put on other armor can someone please help

#List of curio slot type settings
[[curiosSettings]]
	identifier = "head"
	override = true
	hasCosmetic = true

[[curiosSettings]]
	identifier = "createplus.goggle_slot"
	override = true
	priority = 3
	locked = true
	size = 1
	hasCosmetic = true

[[curiosSettings]]
	identifier = "necklace"
	override = true
	hasCosmetic = true

[[curiosS

[2022-01-29 17:36] Samlegamer opened #215 "Interface does not open"
Hi, when I made a mod with the curios api and launched the game for the first time, I noticed that the interface did not open.
And strangely this bug does not occur if I put the mod on modpack (like Better Minecraft).
If I put the two mods together the interface doesn't open, but on a big modpack it does.

build.gradle : https://github.com/Samlegamer/PotionRingReforged/blob/1.16.5/build.gradle

[2022-01-29 18:00] driftirl commented on #214
the only thing i can equip is the elytra in the back slot no other slot works

[2022-01-29 22:04] TheIllusiveC4 commented on #215
Did you add slots? Curios does not add any slots by default, which would mean the interface is empty if you did not add any slots.

[2022-01-29 22:05] TheIllusiveC4 commented on #214
Did you make sure to tag the items you're trying to equip with the appropriate slot tag? Or that they natively come tagged already? Items that can be equipped will have the `Slot: ___` tooltip under their name with the appropriate slots.

[2022-01-29 22:36] Samlegamer commented on #215
So that was it, thank you!

[2022-01-29 22:36] #215 closed, assigned to TheIllusiveC4

[2022-01-30 09:05] driftirl commented on #214
im kind of new to the whole editing of mods can u please explain what u mean please

[2022-01-30 17:18] LupusVentus opened #216 "1.18.1 Server issue"
Hey there. Been trying to run your API on server, but got a crash. Would appreciate if you could help. Here's the code:

Crash Report UUID: bad55102-644c-4288-bef8-3d9f6e018807
        FML: 39.0
        Forge: net.minecraftforge:39.0.64[19:03:11] [Forge Version Check/INFO]: [mcwdoors] Found status: UP_TO_DATE Current: 1.0.5 Target: null
[19:03:11] [Forge Version Check/INFO]: [forge] Starting versi

[2022-01-30 17:32] LupusVentus commented on #216
Also, just thought that a Bug label was probably wrong for this one...

[2022-01-30 19:04] StephenDay1 commented on #214
https://github.com/TheIllusiveC4/Curios/wiki/How-to-Use:-Users
Just make sure you follow steps 3 and 4 if you are making your own slots that aren't natively supported by the API.  I hope that helps.

[2022-01-30 19:08] StephenDay1 opened #217 "Creating a Slot with Functionality (Jetpacks)"
I'm using the create mod, and an extension of it, Create Stuff Additions ([Curseforge link](https://www.curseforge.com/minecraft/mc-mods/create-stuff-additions)).  I tried making my own Curios slot, using the guide ([How to Use: Users](https://github.com/TheIllusiveC4/Curios/wiki/How-to-Use:-Users)), and it worked, however I can't actually fly with the jetpack in that slot.  Is there something I c

[2022-01-31 02:44] TheIllusiveC4 commented on #217
Not as a user. Likely what's happening is that the Jetpack is checking specific slots for functionality, and it does not include Curios's slots. You would need to ask the mod developer for integration directly.

[2022-01-31 02:44] #217 closed, assigned to TheIllusiveC4

[2022-01-31 02:45] #214 closed, assigned to TheIllusiveC4

[2022-01-31 02:45] TheIllusiveC4 commented on #216
That's kinda weird. Does it work if you load up _only_ Curios?

[2022-01-31 08:06] LupusVentus commented on #216
Nope. Trying to rebuild my modpack rn, maybe that will solve it

[2022-01-31 08:34] LupusVentus commented on #216
Well, the problem magically solved itself once I rebuilt my modpack. So, sorry for bothering you, I guess.

[2022-01-31 08:34] #216 closed, assigned to TheIllusiveC4

[2022-01-31 12:19] SteaSteaStea opened #218 "[1.16.5] Curios get duplicated and unequiped after relogging"
Curios 4.0.8.0
Forge 36.2.23
#### Observed Behavior: Curios get duplicated and unequiped after relogging.
#### Expected Behavior: Curios stays in it's slots after relogging.
I am playing on Enigmatica6 + a few extra mods. The curios in question are from Bountiful Baubles and Artifact.
It seems to have started after increasing the number of the slots via commands.
Possibly related to #185.
The dupl

[2022-01-31 21:52] TheIllusiveC4 commented on #218
Do you know which exact commands you used, how many slots you gave yourself, and which slots were involved?

[2022-02-01 16:51] SteaSteaStea commented on #218
I used the "/curios add belt _Stea 1" command. Then again with different slot types.
Here's a screenshot after entering the world:
![2022-02-01_17 39 19](https://user-images.githubusercontent.com/76264934/152011344-ba368661-e894-44cb-b060-cee366539014.png)
The slots are belt, hands, necklace, head.
Currently I've got: 4 head slots, 4 necklace slots, 4 hands slots, 4 belt slots.
I've got 4 charms s

[2022-02-03 08:15] krjencik commented on #213
ok sorry i wont bother any more

[2022-02-08 02:53] LordFreyr commented on #95
I came here to post the same thing. Wasn't entirely sure if it was intentional or not, but it would be nice to be able to see potion effects/etc. on the side of the curios GUI like they appear in the regular inventory. Could even make it display the same way it would if you have the crafting book open.
I'd just like to be able to check statuses from there as I tend to replace my regular inventory

[2022-02-10 04:38] TheIllusiveC4 commented on #193
It looks like Forge has merged the PR for 1.18.1. I don't know if they plan on doing the same for 1.17.1, which is when this issue originated, but I'll be closing this issue since it should be resolved going forward.

[2022-02-10 04:38] #193 closed, assigned to TheIllusiveC4

[2022-02-10 04:39] #198 closed, assigned to TheIllusiveC4

[2022-02-13 17:02] Aizistral commented on #87
Either things have changed from how they have been 1.16.1-1.16.3, or I somehow completely glossed over the fact that it actually checks by interface. Anyhow, with that in mind I no longer think it makes sense to do anything about compatibility with this curse on the side of Curios, and thus withdraw my suggestion.

[2022-02-13 17:02] #87 closed, assigned to TheIllusiveC4

[2022-02-13 17:23] Aizistral opened #221 "Crash when unequipping curio with slot-increasing attribute"
### Versions:
* Curios: 1.18.1-5.0.6.0
* Forge/Fabric: 1.18.1-39.0.64

### Observed Behavior:
It would appear that equipping the curio with attribute modifier for extra slot of the same type as the curio itself, and subsequently unequipping it causes the game to spontaneously explode.

### Expected Behavior:
The game does not spontaneously explode.

### Steps to Reproduce:
1. Make some accessory,

[2022-02-13 17:45] Aizistral opened #222 "`ICurioItem#getEquipSound` is never called"
### Versions:
* Curios: 1.18.1-5.0.6.0
* Forge/Fabric: 1.18.1-39.0.64

### Observed Behavior:
The `ICurioItem#getEquipSound` method does not seem to be used at all, as default `onEquipFromUse` implementation redirects the call to `playRightClickEquipSound`, which in turns redirects to `ICurio#playRightClickEquipSound` on `defaultInstance`, which pulls the equip sound by invoking its own `getEquipS

[2022-02-15 09:06] TheIllusiveC4 commented on #218
Unfortunately, I'm unable to reproduce this in my testing. Adding 3 slots to rings, totaling 4 ring slots, with the `add` command does not result in any of them being unequipped upon exiting and re-entering the world.

Does this occur on multiplayer, single-player, or both?

Are you able to reproduce this with only Curios and Bountiful Baubles _or_ Artifacts? If so, can you specify the slot type a

[2022-02-15 09:17] #221 closed, assigned to TheIllusiveC4

[2022-02-15 09:17] #222 closed, assigned to TheIllusiveC4

[2022-02-16 15:17] tillasiren commented on #218
We are noticing a similar issue on our 1.18 game as well (not server owner but close contact with them). For some reason our fourth ring slot (the only slots we have added are two extra rings) keeps getting unequipped and dropped/moved to inventory on login.

[2022-02-17 18:10] SteaSteaStea commented on #218
For me it occurs on 1.16.5 singleplayer.
I tried reproducing with Artifacts, Bountiful Baubles+ curios api. After adding slots to head, feet, hands, necklace and filling up all the slots with items it ended up unequiping items from the last hand slot in order (any item in that last slot).
![image](https://user-images.githubusercontent.com/76264934/154544122-0d5122b8-710f-49b8-8ed3-f7363ba175c9.png

[2022-02-18 01:21] spezard opened #224 "Curios 1.18.1-5.0.6.1 seemingly fails to initialize into Forge Modloader"
* Curios: curios-forge-1.18.1-5.0.6.1-api
* Forge: 1.18.1-forge-39.0.79 (also tested on 39.0.59)
#### Observed Behavior: When loading into the game, Curios seems completely absent from the mod list and functionality in-game. If there's a mod dependant on it (in this case Enigmatic Legacy), it simply crashes java entirely with exit code 1. No crash log in either case since it doesn't get that far i

[2022-02-18 01:23] TheIllusiveC4 commented on #224
You downloaded the API jar instead of the regular one. The regular one that users should use should not have anything appended after the version.

[2022-02-18 01:23] #224 closed, assigned to TheIllusiveC4

[2022-02-18 01:30] spezard commented on #224
Well I feel silly now, derp. Sorry to bother, but thanks for the prompt response.

[2022-02-18 08:39] Aizistral commented on #218
I am encountering what appears to be exactly the same issue, but with no duplication involved. As of [Enigmatic Legacy 2.16.0](https://www.curseforge.com/minecraft/mc-mods/enigmatic-legacy/files) I have added an item called Celestial Fruit, which allows to permanently increase the amout of ring slots player has by one, and achieves so by adding permanent modifier (you can see the details of my imp

[2022-02-19 05:19] keepinitreal247 opened #225 "theillusivec4.curios.common.inventory.CurioStacksHandler Crash"
#### Versions (Be specific, do not write "latest"):
* Curios: 4.0.8.0
* Forge/Fabric:1.16.5       Forge Version:36.2.21
#### Observed Behavior: Crashes Randomly
#### Expected Behavior: Dont Crash
#### Steps to Reproduce:
1. walk around
2. Crash?
3.
...

Crash Log:[https://gist.github.com/keepinitreal247/77e2a2a17c71cef66d998315f25ef0aa]

[2022-02-20 21:39] KMFrench1 opened #226 "Curios and sophisticated backpacks not working correctly together"
#### Versions (Be specific, do not write "latest"):
* Curios: curios-forge-1.18.1-5.0.6.1
* Forge/Fabric: Forge 39.0.75
* sophisticated backpack: sophisticatedbackpacks-1.18.1-3.15.9.533
#### Observed Behavior: When on a server and sophisticated backpack is in the curios slot and the hot key is pressed to open it. It open the wrong GUI. It open a GUI similar to a normal players inventory. It does

[2022-02-20 22:52] TheIllusiveC4 commented on #226
Does this happen on single-player also?

[2022-02-20 23:18] KMFrench1 commented on #226
I just checked, I actually had not played it single player. Yes, it happens in single player too.

[2022-02-22 10:20] TheIllusiveC4 commented on #218
From all the information everyone provided, I was successfully able to reproduce the issue and figure out a way to fix it. I'm currently still working on some other bug fixes, but the fix for this particular issue will be included in the next Curios update.

[2022-02-23 05:10] TheIllusiveC4 commented on #226
I'm having trouble reproducing this behavior. Some more follow-up questions:

Does this happen if you load _only_ Curios and Sophisticated Backpacks?

How many total back slots from Curios do you have when it happens?

[2022-02-23 07:27] KMFrench1 commented on #226
I will go through my mods and delete them till I find the culprit. I did not want to do it as I have over 250 mods. But I will do it tomorrow and get you the info.

[2022-02-23 13:51] KMFrench1 commented on #226
This is weird. This morning I sat down to figure out what mods where conflicting to cause this bug. I created a new instance added just Curios and Sophisticated Backpacks. This worked fine. Then I started to re-add mods 10 at a time. Starting the game each time to see if the GUi glitch happened. I have now re-added every mod to the new instance and the backpack is working fine in the curios slot.

[2022-02-24 00:43] KMFrench1 commented on #226
It is doing it agian. Here is the Log if that help.
https://paste.ee/p/PXPfz
If you scroll to the bottom you can see the error that happen when I try to open the backpack.
I did it multiple times in  a row, so the error would repeat and be easier to find.
Line 22503 for example.
""[19:36:28] [Render thread/FATAL]: Error executing task on Client
java.lang.IndexOutOfBoundsException: Index 112 out of

[2022-02-24 01:07] KMFrench1 commented on #226
After I log onto the server, it started happening again. It now happens in single player too. It is like connecting to the server cause the game to "remember" the not working version of the Gui.
Here is the Log if that help.
https://paste.ee/p/PXPfz
If you scroll to the bottom you can see the error that happen when I try to open the backpack.
I did it multiple times in  a row, so the error would r

[2022-02-24 02:06] TheIllusiveC4 commented on #226
You've verified that it works fine with only Curios and Sophisticated Backpacks installed in single-player. And then you've verified that the bug re-occurs when you log onto the server with all the mods installed. However, you would still need to verify that the bug also occurs when you log onto the server with _only_ Curios and Sophisticated Backpacks installed.

The last part is important becaus

[2022-02-24 02:20] KMFrench1 commented on #226
I don't run the server. I can ask if the owner would be willing to run the test. However, I "think" it will work with just the two mods installed. I will ask to see if they are willing to test it.
What puzzles me is that it worked fine all day in single player. Then after logging into the server (Nothing was change, no updates, no downloads), it stropped working in single player. I understand that

[2022-02-24 02:38] TheIllusiveC4 commented on #226
My best guess is that logging onto the server causes _something_ to go wrong on your client, and this issue persists across the entire session (so it will affect you as long as the client is active) so that only restarting it will fix the issue temporarily.

The error that you posted is at least some kind of clue, so I'll do some investigating. However, unless I can properly reproduce the bug myse

[2022-02-24 03:13] KMFrench1 commented on #226
I can 100% get you a copy of the entire modpack we built. That's easy. If you want let me know and i can upload to mega a zip to mega. I may even be able to get you allowed on the server. But it is only ever up when he is home, so that may not be the best option for you to test it.  But I can ask if you want me too.

[2022-02-25 02:38] TheIllusiveC4 commented on #226
When I say reproduce the bug myself, I mean with only Curios and Sophisticated Backpacks installed. While I could try and reproduce the bug with all the mods in your modpack, I still wouldn't know if it's being caused by a 3rd mod or not.

But I suppose it couldn't hurt to have it, so you can send me your modpack if you're able.

[2022-02-25 09:14] #218 closed, assigned to TheIllusiveC4

[2022-02-25 09:14] #225 closed, assigned to TheIllusiveC4

[2022-02-26 22:01] P3pp3rF1y commented on #226
Just spent a bit of time looking through my code and the only possibility I can see based on these symptoms is that curios slots for some reason stop existing on the client (but I suspect they are still there in the curio gui so likely not) or the identifiers for the slots get changed for some reason and then my logic is no longer able to get to them. Anyway given that some pretty big modpacks don

[2022-02-26 22:26] KMFrench1 commented on #226
Here is a link to a *.rar copy of my mod folder. We did not change the configs, so default generated ones should work. Even if it does not help fix the issue feel free to enjoy the pack we created.
https://mega.nz/folder/3yoGhDLD#WRZzf75I3WqCpAEkJkOJtw

[2022-02-28 09:33] SheReyy opened #227 "1.16.5 - No items in Curios menu"
fixed

[2022-02-28 10:41] #227 closed, assigned to TheIllusiveC4

[2022-03-03 03:34] J-Dill commented on #159
@TheIllusiveC4 I am also seeing this behavior in curios-forge-1.18.2-5.0.6.3.jar with Forge v40.0.2.
I only have the curios mod installed. I initially noticed this while developing with the Curios API.

Here is a pastebin with my log: https://pastebin.com/mKKYSEHt

[2022-03-03 05:33] TheIllusiveC4 commented on #159
Just making sure, are you sure that there are any slots registered when you see this behavior? To be clear, if there are no slots registered, then the Curios GUI naturally won't have anything to open.

[2022-03-05 07:38] Deadlite93 commented on #226
just wanted to say its also happening once in awhile on our Project architect server. seems rare and sporadic though because some das its just happening to one of us at random, and other days its not happening to anyone. im sorry i couldnt be of more help.

[2022-03-05 15:06] cbunny787 commented on #159
i only saw button i was able to click it but im not play with thos mods so
i cant check sorry for late reply and thx

On Thu, 3 Mar 2022 at 10:34, C4 ***@***.***> wrote:

[2022-03-05 17:51] J-Dill commented on #159
@TheIllusiveC4 You were right, my mod wasn't completely registering the Curio slot, which is what caused there to be no GUI. Thanks for the clarification!

[2022-03-10 01:09] Erfurt92 opened #229 "[1.18.2] Crash at launch in modding environment"
* Curios: 1.18.2-5.0.6.3
* Forge: 40.0.12

I'm trying to update my mod to 1.18.2, and the game crashes when launching the game. I have tried a clean test mod, basically the example mod that comes with the Forge MDK, and the same thing happens there when adding the Curios API.

![image](https://user-images.githubusercontent.com/20155513/157565335-11be6481-5685-4f3b-91b3-cab41089f7de.png)

Crash Log

[2022-03-10 02:09] TheIllusiveC4 commented on #229
I think something hasn't updated properly in your development environment. Although it is running Curios 1.18.2-5.0.6.3, the crash stacktrace
[code]
is showing that it's reading from an older version, 1.18.1-5.0.6.0. Perhaps refresh dependencies or clear your cache? I'm not exactly sure how the older version is sticking around.

[2022-03-10 02:21] Erfurt92 commented on #229
Yeah, I saw that as well, and I tried to clear my cache and reload the dependencies, same thing happened, so I was a bit unsure if it was on my end or something with Curios API, which is why I made the issue. But I will look into it again tomorrow when I some more time.

[2022-03-10 02:48] TheIllusiveC4 commented on #229
For the record, I've received comments from other developers that confirm they are able to load Curios fine in 1.18.2 and I am able to do so as well, so I do believe it is something on your end unless someone else happens to report the same issue.

[2022-03-10 03:01] Erfurt92 commented on #229
I believe you, I have never had any issues like this before :)
I must have done something wrong when I tried to clear the cache, will try again when I get the time. Closing the issue for now

[2022-03-10 03:01] #229 closed, assigned to TheIllusiveC4

[2022-03-16 08:02] krjencik opened #230 "when putting anything into the curios slots Minecraft crashes"
#### Versions (Be specific, do not write "latest"):
* Curios:5.0.6.3
* Forge/Fabric:40.0.17
#### Observed Behavior: crash
#### Expected Behavior: be able to put the items in without a crash and then remove them without a crash
#### Steps to Reproduce:
1.download any mod using curios
2. launch the game
3.enter a world and try to put anything into curios slots
...

Crash Log: Please use a paste site

[2022-03-16 08:02] krjencik commented on #230
its Minecraft 1.18.2

[2022-03-16 21:02] TheIllusiveC4 commented on #230
I believe it's a JEI issue: https://github.com/mezz/JustEnoughItems/issues/2752
According to that, it should be fixed in JEI 1.18.2-9.5.0.134.

[2022-03-16 21:02] #230 closed, assigned to TheIllusiveC4

[2022-03-21 09:41] addaonez opened #231 "Items with attributes in curios slots"
How can I add an attribute to items so that it works in a curios slot?
When you add an attribute to some item, you can specify the slot in which it should be kept, for example /give @p carved_pumpkin{AttributeModifiers:[{AttributeName:"generic.armor",Amount:2,Slot:head,Name:"generic.armor",UUID:[I;-122221,17561,115550,-35122]}]} 1
If no slots are specified, the attributes still only apply to minec

[2022-03-21 21:40] TheIllusiveC4 commented on #231
It'd be almost the same, except replace `AttributeModifiers` with `CurioAttributeModifiers` and it takes in the name of the slot as a string in the `Slot` field.

For your example, to add an attribute for a `ring` slot:
[code]

[2022-03-21 21:40] #231 closed, assigned to TheIllusiveC4

[2022-03-22 19:06] addaonez commented on #231
Thank you very much!

[2022-03-30 08:23] TheIllusiveC4 commented on #191
@Darkosto Apologies for the long wait, that was much longer than I intended. I don't know if you're still interested, but I've finally released the compatibility mod as Curious Lights:

[https://www.curseforge.com/minecraft/mc-mods/curious-lights](https://www.curseforge.com/minecraft/mc-mods/curious-lights)

It should work across all 1.18.x versions. I also decided to include compatibility with Lu

[2022-03-31 22:05] Darkosto commented on #191
Hey @TheIllusiveC4

Thank you so much for getting this setup! No worries on time and I'm just happy to have something to play around with. I'll get back to you if I notice any problems.

Thanks again!

[2022-04-02 04:39] williewillus opened #232 "Curios are not dropped on death"
#### Versions (Be specific, do not write "latest"):
* Curios: 5.0.6.3
* Forge/Fabric: Forge
#### Observed Behavior:

Curios are not dropped on death, even when keepInventory is false and in the absence of custom drop rules
#### Expected Behavior:

Curios are dropped
#### Steps to Reproduce:
Reproducible by equipping a ring of magnetization from Botania and doing /kill, after respawning the ring is

[2022-04-02 08:15] TheIllusiveC4 commented on #232
Are you sure about this? Perhaps I'm missing something, but that's not the behavior I'm seeing in my testing. Using the items in the Curios test mod with just Curios installed, the items drop appropriate to their defined behaviors. I also tested it with some actual Curios mods, namely Curious Elytra and Artifacts, where the drop behavior worked as well.

I couldn't be sure if this was being affect

[2022-04-02 17:34] williewillus commented on #232
Ah, figured it out, Botania was getting into a situation where I called invalidateCaps too early by accident, which prevented all downstream event handlers from seeing caps. Sorry for the noise.

[2022-04-02 17:34] #232 closed, assigned to TheIllusiveC4

[2022-04-06 15:27] KKotik opened #233 "[1.18.2 / FORGE] Disabling body parts render do not disable curios render overlay."
* Curios: [5.0.6.3](https://www.curseforge.com/minecraft/mc-mods/curios/files/3670447)
* Forge/Fabric: Forge
#### Observed Behavior: Curio items on player model do not become invisible if other mod is making body part invisible.
#### Expected Behavior: To turn body part overlay invisible as well.
#### Steps to Reproduce:
1. Download both Curios and https://www.curseforge.com/minecraft/mc-mods/firs

[2022-04-06 15:31] KKotik commented on #233
Want add same behavior happening with cape hiding mods when you equip elytra for example in curio slot. I think this is the same thing and different situation, so it might be helpful.

Here one of this mods: https://www.curseforge.com/minecraft/mc-mods/waveycapes

[2022-04-07 01:05] TheIllusiveC4 commented on #233
I don't think this is something I can reasonably accommodate for. The issue is that there isn't a real concept of "body parts" as it relates to Curios rendering. All Curios does is look for items in the slots and then render them if they have a renderable component. That's all. It has no context for which body parts belong to which slots, nor should it since slots are not always related to a body

[2022-04-07 01:05] #233 closed, assigned to TheIllusiveC4

[2022-04-07 11:22] tr7zw commented on #233
I'm not too familiar with Curios(didn't even know that there are ones that render things, since I haven't played any forge modpack for some time), but if I get this right, that thing rendered there is not from Curios itself, but a mod using Curios. So this issue should be moved to that mod to add a simple visibility check.
I could also look into applying the same "hack" to the arms as I do to the

[2022-04-07 21:28] TheIllusiveC4 commented on #233
Yes, it's from a mod using Curios although I don't know which one. My proposed solution is indeed to have that mod, and any other mod that might have models like that, to add a visibility check since they would be the ones to know best when and where it's most appropriate to have those checks. And I made sure that the Curios rendering method has enough context for consumers to access the player mo

[2022-04-08 13:10] ChrisCrossOnGit commented on #226
This also happened on my All the Mods 6 server, MC 1.16.5, modpack version 1.8.22, forge version 36.2.31, Curios version urios-forge-1.16.5-4.0.5.3, Sophisticated Backpacks version sophisticatedbackpacks-1.16.5-3.15.13.560

[2022-04-09 19:53] florensie opened #234 "getFortuneLevel could also increase other enchantment levels"
https://github.com/TheIllusiveC4/Curios/blob/1.18.x/src/main/java/top/theillusivec4/curios/mixin/core/MixinApplyBonusCount.java

This is meant to increase the fortune level used by the loot function. This loot function could be used for other enchantments than fortune, however. Vanilla only uses the function for fortune, but this is an issue when user datapacks or or mods use the minecraft:apply_b

[2022-04-09 20:00] florensie commented on #234
[code]

[2022-04-12 07:36] #234 closed, assigned to TheIllusiveC4

[2022-04-18 21:17] jubblyo opened #236 "force item"
im trying to make it so that with the artifacts mod you cant take off the charm of sinking, is there anyway to do this? ive went on the artifacts mod discord and they cant seem to help.

[2022-04-19 00:37] TheIllusiveC4 commented on #236
This is something that can be done from Artifacts, if they wish, by setting up a configuration option for the item's `ICurio#canUnequip` implementation. This is something done in code and currently cannot be changed by the user directly.

[2022-04-19 00:37] #236 closed, assigned to TheIllusiveC4

[2022-04-23 07:11] ffuentesm commented on #181
Question, does Curios keep the curios items in their slots in death or not?
Because I am playing now in 1.18.2 and the items are not staying on me.
While in 1.18.2 they always stayed on me when I died.
I am using most of the mods I had in my previous modpack.

[2022-04-23 07:59] TheIllusiveC4 commented on #181
That depends on the mods you use. Mods can decide whether or not their items are kept on death in Curios slots, and they can also affect other items as well if they choose.

By default, the drop behavior follows the `keepInventory` game rule.

[2022-04-25 20:32] Bobgogg opened #237 "pls help idk what happened"
[latest.log](https://github.com/TheIllusiveC4/Curios/files/8557770/latest.log)

[2022-04-25 20:53] TheIllusiveC4 commented on #237
This seems like it's due to either an outdated Cardinal Components API or an outdated Fabric API. Make sure both of those mods are updated. Regardless, Curios is not loaded in your environment so if the issue persists then it's not something that is caused by Curios.

[2022-04-25 20:53] #237 closed, assigned to TheIllusiveC4

[2022-04-28 15:45] desht opened #238 "Question: how to filter item insertion to item handlers retrieved via API?"
Hi, I'm looking to write some mod integration between my mods (PneumaticCraft and Modular Routers), and I'm using the Curios API to retrieve the player's Curios item handlers for automated insertion/extraction.  However, I notice that these item handlers don't do any kind item filtering on what may be inserted, unlike when you attempt to insert items via GUI slots.

Am I missing something here, or

[2022-04-28 20:13] TheIllusiveC4 commented on #238
Hmm, at a quick glance, probably an oversight in the mod. I don't think anyone has tried to use Curios in this way before, at least none that has been brought up to me before. The problem is likely because Curios does validity checks outside of the item handlers themselves because it only expects to be interacted with directly through the container or the capability. I'll look into the best way to

[2022-05-19 04:48] Raidobw2 opened #239 "Curios Light icon does not seem to apply"
#### Versions (Be specific, do not write "latest"):
* Curios: `curios-forge-1.18.2-5.0.7.0.jar`
* Curios lights: `curiouslights-forge-1.1.0+1.18.2.jar`
* Forge/Fabric: `Forge 40.1.20`
#### Observed Behavior:
It looks like making a new light slot and giving it an icon will never render the correct texture for the icon. I've tried with KubeJS's assets folder as well as a normal resource pack
![image

[2022-05-19 07:31] TheIllusiveC4 commented on #239
As instructed [here](https://github.com/TheIllusiveC4/Curios/wiki/Slot-Textures):

You have your image in the `item` directory, instead of the `slot` directory. If you rename the directory, it should work.

[2022-05-20 04:56] Raidobw2 commented on #239
Sorry for the delayed answer, thank you for your reply! I'll try that and quickly report back here

[2022-05-20 07:22] Raidobw2 commented on #239
Renaming the folder to `slot` worked as well as changing the serverconfig to:
[code]
Thank you very much for your time and have a nice day!

[2022-05-20 07:22] #239 closed, assigned to TheIllusiveC4

[2022-05-28 05:25] James103 opened #240 "Datapack functions fail to load if they contain a `curios add <slot> @s 1` unless `/reload` is used"
#### Versions (Be specific, do not write "latest"):
* Curios: 5.0.7.0
* Forge: 40.1.20
#### Observed Behavior:
When loading a data pack that contains functions that themselves contain commands of the form `curios add <slot> @s 1`, those functions fail to load for the first time, and `/reload` must be used to make them load correctly.
It does not matter which slot type is being used. For testing pu

[2022-06-06 14:52] ThatPreston opened #241 "Curios crashes while Industrial Foregoing Meat Feeder is equipped near endermen"
#### Versions (Be specific, do not write "latest"):
* Curios: 1.18.2-5.0.7.0
* Industrial Foregoing: 1.18.2-3.3.1.0-2
* Titanium: 1.18.2-3.5.5-37
* Forge/Fabric: Forge 1.18.2-40.1.47
#### Observed Behavior:
The game crashes when near an enderman with the Meat Feeder from Industrial Foregoing equipped
I think this is a problem with the way Industrial Foregoing set up curios compatibility, but the c

[2022-06-19 15:30] yrsegal opened #242 "If a Curio's attribute is null, hovering over it will crash the game"
#### Versions:
* Curios: 1.18.2-5.0.7.0
* Forge: 40.1.51
#### Observed Behavior:
The game crashes.
#### Expected Behavior:
The game shouldn't do that. This should be silently ignored.
#### Steps to Reproduce:
1. Create a Curio using a null attribute key
2. Hover over it

Crash Log: https://gist.github.com/yrsegal/6b33264f5bc22d9f22aab490f102400a

[2022-06-20 09:34] TheIllusiveC4 commented on #241
It seems like this was fixed on Industrial Foregoing's end, which I think was the ideal solution.

[2022-06-20 09:34] #241 closed, assigned to TheIllusiveC4

[2022-06-21 02:34] #240 closed, assigned to TheIllusiveC4

[2022-06-21 02:34] #242 closed, assigned to TheIllusiveC4

[2022-06-21 22:47] SilverBackHorse opened #243 "Industrial Foregoing Placing Meat Feeder In Baubles Crashes Server"
#### Versions  ""curios-forge-1.18.2-5.0.7.1""
* Curios:
* Forge 1.18.2
#### Observed Behavior:
#### Expected Behavior:
#### Steps to Reproduce:
1.
2.
3.
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/). -- Do not have

[2022-06-21 23:22] TheIllusiveC4 commented on #243
I'm going to need at least the Industrial Foregoing version number and the crash log from the server. Otherwise, I don't have enough information to fix the issue.

[2022-06-21 23:30] SilverBackHorse commented on #243
industrial-foregoing-1.18.2-3.3.1.3-7.jar

I will have to get the crash logs later tonight. I am very thankful for the response and help. Thank you much

[2022-06-22 13:59] SilverBackHorse commented on #243
Ok so I went ahead and updated any of my mods that had an update I have 108 mods and It looks like the meat feeder is working now no crashes or server reset and works in single player as well. Im not sure what mod was causing the problem but its working fine now.

[2022-06-22 13:59] #243 closed, assigned to TheIllusiveC4

[2022-06-27 21:53] superbananazombie opened #244 "Having any Curios equipped in 1.17.1 (newest patch) will cause players to be instantly kicked on joining of a multiplayer LAN world."
#### Versions (Be specific, do not write "latest"): 1.17.1
* Curios:
Mods:
Curios-forge-1.17.1-5.0.2.7
Angel Ring 1.17.1-1.4.0
Artifacts, 1.17.1-3.0.2
Nameless Trinkets-1.17.1-1.4.3
* Forge/Fabric: Forge
#### Observed Behavior:
When any items from any curios mods are equip in the API on a non-host player, the player will be instantly kicked whenever they try to rejoin that world.
#### Expected Beh

[2022-06-28 11:23] TheIllusiveC4 commented on #244
Duplicate of https://github.com/TheIllusiveC4/Curios/issues/193
This is a Forge bug in 1.17.1. I don't believe they ever patched it for that version, so your only option is to update to a more recent version like 1.18 or 1.19.

[2022-06-28 11:23] #244 closed, assigned to TheIllusiveC4

[2022-07-14 00:38] IchBinTimothy opened #250 "Clicking SophisticatedBackpack backpack into Curios whitespace causes crash."
#### Versions (Be specific, do not write "latest"):
* Curios: curios-forge-1.19-5.1.0.4.jar
* Forge/Fabric: 41.0.98
#### Observed Behavior: Misclicking curios item into the whitespace around the slot causes recurring crash on reload.
#### Expected Behavior: Misclicking that whitespace shouldn't do anything because it's not a slot.
#### Steps to Reproduce:
1. Using a backpack from the Sophisticated

[2022-07-14 00:39] IchBinTimothy commented on #250
I do apologize in advance for any details I may have omitted because I've never submitted a bug report prior to this.

[2022-07-14 00:39] IchBinTimothy commented on #250
IM NEW TO THIS IM SORRY

[2022-07-14 01:27] IchBinTimothy commented on #250
On further testing, I think my initial hypothesis is wrong. I believe this may actually be a rendering issue with the backpack where it existing as a floating/dropped item in the world crashes the game. I'm going to marked this as closed and take report this to the developers of SophisticatedBackpacks as this seems to be their issue rather than Curios'.

[2022-07-14 01:27] #250 closed, assigned to TheIllusiveC4

[2022-07-25 20:55] NoxyNixie opened #251 "Curios in combination with Curios Armor Stands performance issue."
#### Versions:
* Curios: `curios-forge-1.18.2-5.0.7.1`
* Curios armor stands: `curious-armor-stands-1.18.1-4.0.0` (https://www.curseforge.com/minecraft/mc-mods/curious-armor-stands)
* Forge/Fabric: `Forge 40.1.68`

#### Observed Behavior:
I've noticed curious being rather hungry in performance on some entities where I wasn't expecting curios to do much.

Below is a profile view of entities being t

[2022-07-29 18:36] DrSigma4164 opened #252 "[1.16.5]The Sophisticated Backpacks mod inventory does not open when it is in curio slots"
#### Versions (Be specific, do not write "latest"): 4.0.8.2
* Curios: 4.0.8.2
* Forge/Fabric: 36.2.39
* Sophisticated Backpacks: 3.15.15.607
* Essential mod: They haven't uploaded the version for 1.16 on Curseforge yet, but here is the link to their official site: https://essential.gg/download
#### Observed Behavior:
When the Essential mod, which recently received support for version 1.16, is inst

[2022-07-30 20:02] TheIllusiveC4 commented on #252
If this is happening with the Essential mod, and not with just Sophisticated Backpacks + Curios, then you need to report it to the Essential developers, not here.

[2022-07-30 20:02] #252 closed, assigned to TheIllusiveC4

[2022-08-05 10:14] AguZz commented on #83
Hi, is there any update on this issue? Still having this bug (specifically, with the Sophisticated Backpack mod) on:

Versions (Be specific, do not write "latest"):
Curios: v4.0.8.2 for Minecraft 1.16.5
Forge: v36.2.39 for Minecraft 1.16.5

[2022-08-06 03:24] QueenCorbeau opened #253 "No Ring Slots - Cannot Add"
#### Versions (Be specific, do not write "latest"):
* Curios: curios-forge-1.18.2-5.0.7.1
* Forge/Fabric: Forge 40.1.68
#### Observed Behavior: I have no ring slots, nor can I add them with the /curios commands.
#### Expected Behavior: I am using the gobber individual mods "Ring of Repair" and "Ring of Attraction," both for Forge. The rings work fine when in my main inventory, but I wanted to put

[2022-08-06 03:52] TheIllusiveC4 commented on #253
Have you verified that the Ring of Repair and Ring of Attraction actually are supposed to add ring slots? From what I can tell, they do not and thus this behavior is expected. In that case, you would need to add a mod that adds ring slots and/or add ring slots yourself using the config as described here: https://github.com/TheIllusiveC4/Curios/wiki/How-to-Use:-Users

[2022-08-06 03:54] QueenCorbeau commented on #253
They both say Slot: Ring when I hover over the items, so I assumed, perhaps incorrectly, that they would add the appropriate slots. Failing that, when not given the slots outright previously, I was able to use the /curios add ring command in game to add them manually, but that wasn't working either. I'll check the configs to see if there's something I missed there.

[2022-08-06 04:10] QueenCorbeau commented on #253
Changing the server config file did fix the issue. Sorry for submitting a false bug. :) It just had always worked previously, so it confused me.

Thanks!

[2022-08-06 13:38] #253 closed, assigned to TheIllusiveC4

[2022-08-10 02:08] egshels opened #254 "Feature Request: Override Slots"
**Please describe the new feature or change.**
A config option to allow slots in curious-server.toml to override their existing slot count

**Please describe why you want this feature.**
Many mods add Curio slots without checking if they already exist - this results in a mess of far too many rings and charms, and there's currently no way to fix this (as far as I know)
![image](https://user-images.

[2022-08-10 02:55] TheIllusiveC4 commented on #254
There is already a way to do this. Check here: https://github.com/TheIllusiveC4/Curios/wiki/How-to-Use:-Users#creating-a-new-slot-type
Specifically, the `override` field. If you have 100 rings from mods, then you can just do:
[code]
And it's suddenly down to 2. Note that this can be used to override _any_ setting, setting `override = true` basically takes your configuration's settings as the sole

[2022-08-10 02:55] #254 closed, assigned to TheIllusiveC4

[2022-08-11 22:48] Blugori opened #256 "Crash between curios, caelus and netherite elytra"
Hi, I ran into an issue :(

Minecraft : 1.18.2
Curios : 5.0.7.0 or 5.0.7.1 (both crash)
Forge : 40.1.48 (I can't use higher version of forge, I hope it's not the problem)
Caelus api : 3.0.0.2
Netherite elytra : 1.1.1-curios

What happens : When trying to put a netherite elytra from the mod of the same name, game crash
What should happen : Game shouldnt crash and the elytra should be on the related

[2022-08-11 22:55] TheIllusiveC4 commented on #256
This is an issue with Netherite Elytra, please report this to those developers.

[2022-08-11 22:55] #256 closed, assigned to TheIllusiveC4

[2022-08-11 23:07] Blugori commented on #256
I'm dumb sorry, they changed the name of the other dependency : curios elytra (now elytra slot), and I skipped it. It should work now, sorry for the inconvenience.

[2022-08-13 16:00] MiniRaptor opened #257 "New config options"
"Please describe the new feature or change.": Please make ability to configure equipment dropping out inventory after death.

"Please describe why you want this feature.": For someone like me it would be much easier to play, if accessory's won't drop after death, but other loot will drop. I think it would not be very difficult to implement. But the comfort from such a function would increase signi

[2022-08-17 01:30] PAKITRON5000 commented on #159
I have the same problem , how you config that? :( Can you help me? :)

[2022-08-17 14:19] J-Dill commented on #159
The issue ended up being because I had forgot to uncomment my piece of code that registers my item as a Curio, and at the same time registers a Curio slot type. To my understanding is that Curios doesn't register any slot types by itself; it relies on mods to register them as needed.

See [here](https://github.com/J-Dill/NoMoWanderer/blob/57616c366ecb6d929cce49f3f7de82634f718dbd/src/main/java/nomo

[2022-08-30 19:58] scmcgowen opened #258 "Crash with Curios keybind and CarryOn"
#### Versions (Be specific, do not write "latest"):
* Curios: forge-1.18.2-5.0.7.1
* Forge/Fabric: 40.1.69
#### Observed Behavior:
When trying to open the curios menu while holding a thing from CarryOn, a weird inventory screen opens then the game crashes
#### Expected Behavior:
The menu does not open because you can't open inventories while holding something with CarryOn
#### Steps to Reproduce:

[2022-08-31 11:50] MstDominik opened #259 "Internal Exception: java.lang.IndexOutOfBoundsException issue in multiplayer game (possible issue is rings of ascension)"
* Curios:last version
* Forge 41.1.0
 when i equip ring and try take off from curios menu i dissconect from server with this inscription (Internal Exception: java.lang.IndexOutOfBoundsException ) i duplicate this to rings of ascension too (mods: quark, Nevermine, Sophisticated backpacks and ring of ascension all mods the last version of 1.19 ) :D

[2022-08-31 20:05] TheIllusiveC4 commented on #259
What ring exactly?

Are these the _only_ mods you have installed?

[2022-09-01 16:05] MstDominik commented on #259
generally installed mods for optimization (betterfpsdist,deuf,krypton,smooth boot,lazydfu,ai improvements,deuf,connectivity,radium,radon,rubidium all this mods installed with 4 mods that I have already written )
p.s btw if i remove quark and nevermine mods the bug with the so-called 5th element disappears so i hope it helped

[2022-09-02 16:12] Thisguyneedshelp opened #260 "Server Crash 1.19 forge 41.1.0"
hello im trying to start up  my server, and i got this crash im not sure if the real problem is curios but id figured id let you guys look just in case heres the crash report https://mclo.gs/WUGgZsh

[2022-09-02 18:09] Thisguyneedshelp commented on #260
i dont mean to be impatient, but i would really appreciate it if you'd help with this sooner rather than later cause ive basically narrowed down the problem to this mod, but i cant remove it as its a necessity for like 20 of my core mods

[2022-09-02 22:29] TheIllusiveC4 commented on #260
This is not caused by Curios, this is caused by Curios Quark Oddities Backpack. Please report this issue to that mod instead.

[2022-09-02 22:29] #260 closed, assigned to TheIllusiveC4

[2022-09-06 03:53] Lion4K opened #261 "[Question] Is there a way to identify what mods added what slots?"
I have something that made a "Body" slot, and I have no idea what made it.
I have no items with the "body" slot.

Is there a command to see what other slots are available and are hidden? Like slots that can be given with the /curios set slot command?

[2022-09-25 14:17] #127 closed, assigned to TheIllusiveC4

[2022-09-30 06:20] AngelTiramisu opened #264 "Deleted Backpacks"
I added this mod and it deleted eveyones MrCrayFish backpacks, do you know what i could do to recover these and the valuable items in them

[2022-10-06 19:25] DaryanTSNS commented on #80
Was this fix in the 1.16.5 version, because I'm experiencing the same thing with Curios 4.0.8.1, but with Slime Blocks.

[2022-10-06 20:56] TheIllusiveC4 commented on #80
Yes, this is fixed. If you're experiencing something similar, you need to open up a new bug report with reproduction steps and making sure that you test with only Curios installed to isolate any mod interactions.

[2022-10-12 10:05] TheIllusiveC4 commented on #264
Curios does not have any interaction on its end with MrCrayfish's Backpacked mod. If loading Curios causes the backpacks to be deleted from somewhere, that's likely going to be caused by Backpacked's Curios integration and you will need to report this to that developer instead for further investigation. They would also be the best person to ask for any workarounds and ways to recover your items as

[2022-10-12 10:05] #264 closed, assigned to TheIllusiveC4

[2022-10-12 10:08] TheIllusiveC4 commented on #251
Curios only provides a player implementation currently, so the performance impacts of the armor stand implementation would need to be addressed by Curious Armor Stands.

[2022-10-12 10:08] #251 closed, assigned to TheIllusiveC4

[2022-10-30 20:38] ghost commented on #138
I completely agree.
A config to make the curios items always there would be amazing to skip clicking the little button, and doesn't sound like it would be hard to add since its already there but behind a button.

[2022-11-04 20:17] mberlin1 opened #266 "Unable to locate ring of regeneration"
Running from pack tnp limitless 5, minecraft 1.18.2.
I'm unsure if betterstronghold:stronghold is interfering with its spawn, but at last count I've looked in 76 strongholds, going west from my spawn. I'm at about -80000 by 25000.  I've looked in every single stronghold library in each of these strongholds, and have not found this ring.  It claims a spawn rate of 25% per stack.  I've found all the

[2022-11-04 21:12] TheIllusiveC4 commented on #266
I don't know what ring you're referring to, but Curios does not have such a ring and does not add anything to loot in general. I believe you may be speaking of another mod, in which case you need to post this to their repository instead.

[2022-11-04 21:12] #266 closed, assigned to TheIllusiveC4

[2022-11-04 21:13] mberlin1 commented on #266
My apologies, when i clicked on rings of ascension, issues page, this is where it brought me. thank you.

[2022-11-07 16:37] jbrandek opened #267 "Sophisticated backpack and elytra slot uses same slot"
Add another separate slot for elytra slot mod

Add another slot the to have both items at same time, elytra and the backpack.

[2022-11-09 10:15] TERROR180 opened #268 "World not loading when attempting to add a slot icon."
#### Versions (Be specific, do not write "latest"):
* Curios: forge-1.19.2-5.1.1.0
* Forge: 43.1.52
* Dynamic Lights: 1.19.2.1
* Radiant Gear (Forge): forge-2.0.0+1.19.2
#### Observed Behavior: World not loading with a message:
![Screenshot_20221109_102133](https://user-images.githubusercontent.com/117813714/200792420-d059a54f-4e30-4ee3-9496-2a42e059ad46.png)

#### Expected Behavior: World loading

[2022-11-09 20:46] thimblebird opened #269 "Option to disable Curios button in GUI"
Some mods on CurseForge incorrectly specify Curios API (Forge) as a required dependency, even though it's only optional. This breaks the whole launcher thing and I'm unable to disable Curios API via the launcher as it also disables like 10 mods that in reality only optionally depend on Curios API.

An option to disable the button altogether would solve this. That's all 🐢

[2022-11-10 22:53] thimblebird commented on #269
i guess this is the other mods' fault. welp :( <3

[2022-11-10 22:53] #269 closed, assigned to TheIllusiveC4

[2022-11-14 06:10] TheIllusiveC4 commented on #267
Curios does not add any slots natively, and how items are classified is entirely up to the implementing mods. In this case, Sophisticated Backpack and Elytra Slot. However, you can configure this yourself by referring to this guide: https://github.com/TheIllusiveC4/Curios/wiki/How-to-Use:-Users

You can create a new custom slot type and reconfigure the item tags to use it, or you can even just hav

[2022-11-14 06:10] #267 closed, assigned to TheIllusiveC4

[2022-11-14 06:11] TheIllusiveC4 commented on #268
I'm not sure what's going on here, although from what you've described it does sound like some kind of issue with parsing the icon. Just taking a stab in the dark, can you try using all lowercase letters in the name of the image and try again?

If that doesn't work, can you please try to load up the world and then grab either the crash log or the `latest.log` file from that session so that I can l

[2022-11-15 15:54] TERROR180 commented on #268
Did what you said, changed the name of the image to lowercase and did the same thing in the config file and, surprisingly, it worked! The image now displays correctly and everything loads perfectly fine. Thanks for the help!

[2022-11-15 22:45] #268 closed, assigned to TheIllusiveC4